<div id="modal_figures" class="modal">

  <div class="modal-content">

    <div class="modal-header">
      <h3>Modifiez vos infos</h3>

      <span class="close">
        <p>&times;</p>
      </span>

    </div>
    <div class="modal-body">

      <%= simple_form_for @startup do |f| %>
        <div class="form-line">
          <p class="form-label">Collaborateurs</p>
          <%= f.input :collaborators, label: false %>
          <p class="form-label">Moyenne d'âge</p>
          <%= f.input :average_age, label: false %>
        </div>
        <div class="form-line">
          <p class="form-label">Année de création</p>
          <%= f.input :year_of_creation, label: false %>
        </div>

        <div class="form-actions">
          <%= f.submit "Terminer", class: "b-btn form-btn form-btn-suivant" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
