<div id="modal_pictures" class="modal">

  <div class="modal-content">

    <div class="modal-header">
      <h3>Ajoutez vos photos</h3>
      <span class="close">
        <p>&times;</p>
      </span>
    </div>


    <div class="modal-body relative">
      <%= simple_form_for @startup do |f| %>
        <%= f.simple_fields_for :pictures do |u| %>
          <%= render 'photo_fields', :f => u %>

        <% end %>
        <div class='links add-picture'>
          <%= link_to_add_association 'Ajouter une photo +', f, :pictures, :partial => 'photo_fields', :class => "form-hobby-add" %>
        </div>

        <div class="form-actions">
          <%= f.submit "Terminer", class: "b-btn form-btn form-btn-suivant" %>
        </div>


      <% end %>
    </div>
  </div>
</div>
