<div id="modal_profil" class="modal">

  <div class="modal-content">

    <div class="modal-header">
      <h3>Modifiez vos infos</h3>

      <span class="close">
        <p>&times;</p>
      </span>
    </div>
    <div class="modal-body">
      <%= simple_form_for @startup do |f| %>
        <%= f.input :logo %>
        <%= f.input :name %>
        <%= f.input :link %>
        <%= f.input :address %>
        <%= f.input :linkedin %>
        <%= f.input :facebook %>
        <%= f.input :btoc, checked_value: true, unchecked_value: false %>
        <%= f.input :btob, checked_value: true, unchecked_value: false %>
        <%= f.input :sector_ids, collection: Sector.all %>

        <%= f.input :word_ids, collection: Word.all, label: false, input_html: { class:"select2", multiple: "multiple", style: "width: 300px"}, multiple: true, required: true  %>
        <%= f.submit "Terminer", class: "b-btn form-btn form-btn-suivant" %>
      <% end %>
    </div>
  </div>
</div>

