<section class="container">

  <!-- Division pour résultats de recherche -->

  <div class="search-results">
    <% if @talents.count > 1 %>
      <p><strong><%= @talents.count %> Profils</strong> correspondent à votre recherche</p>
    <% elsif @talents.count = 1 %>
      <p><strong><%= @talents.count %> Profil</strong> correspond à votre recherche</p>
    <% else %>
      <p><strong>Aucun profil</strong> ne correspond à votre recherche</p>
    <% end %>
  </div>

  <!-- Répertoire des talents -->
  <div class="row">

    <% @talents.each do |talent| %>
      <%= cache talent do %>
        <%= render 'talent-card', talent: talent, cached: true %>
        <%= render 'shared/modal', talent: talent, cached: true %>
      <% end %>
    <% end %>

  </div>

  <!-- Choix des pages -->
<!--   <div class="page-choice">
    <p>Préc. <strong>1</strong> 2 3 Suiv.</p>
  </div> -->
</section>
