<section class="container margin-bottom-30" style="min-height: calc(100vh - 240px);">

  <!-- Division pour résultats de recherche -->

  <p class="search-results">
    <% if @talents.count > 1 %>
      <strong><%= @talents.count %> Profils</strong> correspondent à votre recherche
    <% elsif @talents.count == 1 %>
      <strong><%= @talents.count %> Profil</strong> correspond à votre recherche
    <% else %>
      <strong>Aucun profil</strong> ne correspond à votre recherche
    <% end %>
  </p>

  <!-- Répertoire des talents -->
  <div class="row">

    <% @talents.each do |talent| %>
      <%= render 'shared/modal', talent: talent, cached: true %>
      <%= cache talent do %>
        <%= render 'headhunters/talent-card', talent: talent, cached: true %>
      <% end %>
    <% end %>

  </div>

  <!-- Choix des pages -->
<!--   <div class="page-choice">
    <p>Préc. <strong>1</strong> 2 3 Suiv.</p>
  </div> -->
</section>
