<% if talentist_signed_in? && current_talentist %>

  <div class="talent-card-placement placement-talentist">
    <div class="talent-card">
      <div class="card-title">
        <p>LE TALENT</p>
      </div>

      <%= render 'headhunters/illu-card', talent: talent %>

      <div class="border">

        <div class="talent-job">
          <h2><%= talent.firstname.present? ? talent.firstname : "No-info" %> <%= talent.name.present? ? talent.name : "No-info" %></h2>
        </div>

        <div class="accepeter-talent">
          <%= simple_form_for talent , url: to_validate_talent_path(talent) do |f| %>
          <div class="btn-validate">
            <div class="<%= "green_validation" if talent.validated == true %>">
              <%= f.submit "Accepter" %>
            </div>
            <div class="<%= "red_validation" if talent.validated === false %>">
              <%= f.submit "Refuser" %>
            </div>
          </div>
          <div class="btn-validate">
            <div class="<%= "green_validation" if talent.visible == true %>">
              <%= f.submit "Visible"%>
            </div>
            <div class="<%= "red_validation" if talent.visible === false %>">
              <%= f.submit "Invisible" %>
            </div>
            <% end %>
          </div>
        </div>

        <div class="talent-update card-dispsition">
          <p class="icon-margin-right"><i class="far fa-clock"></i></p>
          <p>Mise à jour : <%= l(talent.updated_at, :locale => :fr) %> </p>
        </div>

        <div class="lien-messagerie-profil">
          <%= link_to "Messages", talent_conversation_path(talent, talent.mailbox.conversations.last)%>
          <%= link_to "Profil", talent_path(talent)%>
        </div>
      </div>
    </div>
  </div>


<% else %>

  <div class="talent-card-placement">
    <div class="talent-card modal-button" data-target= "modal_<%= talent.id %>">
      <div class="card-title">
        <p>LE TALENT</p>
      </div>

      <%= render 'headhunters/illu-card', talent: talent %>

      <div class="border">

        <div class="talent-job">
          <% if talent.experiences.last.present? && talent.experiences.last.position.present? %>
            <h2><%= talent.experiences.last.position %></h2>
          <% else %>
            <h2> Rajouter une experience </h2>
          <% end %>
        </div>

        <div class="talent-info">
          <div class="talent-info-item card-dispsition">
            <p class="icon-margin-right icon-green-color"><i class="fas fa-map-marker-alt"></i></p>
            <p><%= talent.city %></p>
          </div>
          <div class="talent-info-item card-dispsition">
            <p class="icon-margin-right icon-green-color"><i class="fas fa-code-branch"></i></p>
            <% if talent.btoc && talent.btob %>
              <p> BtoB & BtoC</p>
            <% elsif talent.btoc %>
              <p>BtoB</p>
            <% else %>
              <p>BtoC</p>
            <% end %>
          </div>
          <div class="talent-info-item card-dispsition">
            <p class="icon-margin-right icon-green-color"><i class="fas fa-briefcase"></i></p>
            <p>CDI</p>
          </div>
        </div>

        <% talent.talent_formations.first(2).each do |formation| %>
          <div class="talent-school-1 card-dispsition">
            <p class="icon-margin-right"><i class="fas fa-graduation-cap"></i></p>
            <p><%= formation.formation.title %> - <%= formation.title %></p>
            <!-- <p>HEC, Master entrepreneuriat - 2015</p> -->
          </div>
        <% end %>
        <div class="talent-description hidden-xs">
          <p><%= truncate(talent.overview, length: 250) %></p>
        </div>




        <div class="talent-update card-dispsition">
          <p class="icon-margin-right"><i class="far fa-clock"></i></p>
          <p>Mise à jour le <%= l(talent.updated_at, :locale => :fr) %> </p>
        </div>

        <div class="talent-more">
            <p class= "modal-button" data-target= "modal_<%= talent.id %>">En savoir plus <i class="fas fa-angle-right"></i></p>
        </div>
      </div>
    </div>
  </div>

<% end %>
