<div class="col-xs-12 col-md-4" style="padding: 20px 25px;">
  <div class="talent-card modal-button" data-target= "modal_<%= talent[:id] %>" style="height: 400px;" data-company_id="<%=  talent[:company_id]%>">

    <div class="border relative">

      <div class="card-title">
        <p><%=talent[:job].present? ? talent[:job].upcase : "Pas renseigné" %></p>
        <p style="font-weight: inherit;"><%=talent[:job2].present? ? talent[:job2].upcase : "" %></p>
      </div>

      <div class="talent-job">
          <% if !talent[:position].nil? %>
            <% if @talentist.present? %>
              <h2 class="green margin-right-5"><%= talent[:last_name] %></h2>
            <% end %>
            <h2 style="text-align: center;"><%= talent[:position].truncate(45, separator: ' ', omission: '') %></h2>
          <% else %>
            <h2> - </h2>
          <% end %>
      </div>

      <div class="row">
        <hr style="margin-top: 0; border-top-color: #bab9b9">
        <% talent[:experiences].each_with_index do |experience, index|  %>
          <% if index > 0 && index < 3 %>
            <p class="col-xs-12 no-padding">
              <% if experience[:position].present? %>
                <i style="min-width: 20px;" class="fas fa-briefcase margin-right-5"><sup style="font-family: 'Avenir', 'Open Sans', 'Helvetica', 'sans-serif'; font-weight: 500"><%= index == 1 ? "-1" : "-2" %></sup></i><%= experience[:position].truncate(45, separator: ' ', omission: '') %>
              <% end %>
            </p>
          <% end %>
        <% end %>

        <% if talent[:year_experience_job] != 0 %>
          <p class="col-xs-12 no-padding">
            <i style="min-width: 20px;" class="far fa-calendar margin-right-5"></i><%= pluralize(talent[:year_experience_job], 'an') %> d'expérience
          </p>
        <% end %>

        <% talent[:formations].first(2).each do |talent_formation| %>
          <% if talent_formation[:type_of_formation].present? %>
            <p class="col-xs-12 no-padding">
              <i style="min-width: 20px;" class="fas fa-graduation-cap margin-right-5"></i>
              <%= talent_formation[:type_of_formation]%>
              <%= ", " if talent_formation[:ranking].present? %>
              <%= talent_formation[:ranking] %>
            </p>
          <% end %>
        <% end %>

        <p class="col-xs-12 no-padding">
          <% if talent[:sectors].length > 0 %>
            <i style="min-width: 16px;" class="fas fa-briefcase margin-right-5 green"></i>
            <% talent[:sectors].each_with_index do |talent_sector, index| %>
              <%= talent_sector[:title] %>
              <%= (index +1) == talent[:sectors].count ? "" : ", " %>
            <% end %>
          <% end %>
        </p>


        <% if talent[:next_aventure][:btoc] && talent[:next_aventure][:btob] %>
          <p class="col-xs-12 no-padding">
            <i style="min-width: 20px;" class="fas fa-code-branch margin-right-5 green"></i>
            <%= "BtoB" if talent[:next_aventure][:btob] %>
            <%= " & " if talent[:next_aventure][:btob] && talent[:next_aventure][:btoc]%>
            <%= "BtoC" if talent[:next_aventure][:btoc] %>
          </p>
          <% end %>

        <p class="col-xs-12 no-padding">
          <i style="min-width: 20px;" class="fas fa-map-marker-alt margin-right-5 green"></i><%= talent[:city].present? ? talent[:city] : "_" %>
          <!-- <i style="min-width: 20px;" class="fas fa-map-marker-alt margin-right-5 green"></i><%#= talent[:city].present? ? talent[:city].truncate(10, separator: ', ', omission: '') : "_" %> -->
        </p>




      </div>

      <div class="talent-more" style="display: flex; justify-content: space-between;">
        <p class="no-padding">
          <!-- <i style="min-width: 20px;" class="far fa-clock margin-right-5"></i>Mise à jour le <#%= l(talent[:update], :locale => :fr) %> -->
          <!-- <i class="far fa-clock margin-right-5"></i>Connecté(e) il y a <%#= distance_of_time_in_words(talent[:connection], Time.now) %> -->
        </p>
          <p id="green-p"data-target= "modal_<%= talent[:id] %>">En savoir plus <i class="fas fa-angle-right"></i></p>
      </div>

    </div>
  </div>
</div>
