<% if talentist_signed_in? && current_talentist %>

  <div class="col-xs-12 col-md-3 margin-bottom-30 placement-talentist">
    <div class="relative talent-card">

      <%= render 'headhunters/illu-card', talent: talent %>
      <%= render 'talents/declined-modal', talent: talent %>

      <div class="border relative">

        <div class="card-title">
          <p><%= talent[:job].present? ? talent[:job].upcase : "Pas renseigné" %></p>
        </div>

        <div class="talent-job" style="height: 80px">
          <h2 style="font-size: 16px; text-transform: capitalize;">
            <%= talent.firstname.present? ? talent.firstname : "No-info" %> <%= talent.name.present? ? talent.name : "No-info" %>
          </h2>
        </div>

        <div class="margin-bottom-15 margin-top-15">
          <%= simple_form_for talent , url: to_validate_talent_path(talent) do |f| %>
            <div class="btn-validate margin-bottom-15">
              <div class="<%= "green_validation" if talent.validated === true %>">
                <%= f.submit "Accepter" %>
              </div>
              <div class="<%= "red_validation" if talent.validated === false %>">
                <p class="modal-button no-margin"  data-target= "modal_declined_<%= talent.id %>" >Refuser</p>
              </div>
            </div>
            <div class="btn-validate">
              <div class="<%= "green_validation" if talent.visible == true %>">
                <%= f.submit "Visible"%>
              </div>
              <div class="<%= "red_validation" if talent.visible === false %>">
                <%= f.submit "Invisible" %>
              </div>
            </div>
          <% end %>
        </div>

        <div class="margin-bottom-15">
          <p class="no-margin"><i class="far fa-clock margin-right-15">
            </i>MAJ : <%= l(talent.updated_at, :locale => :fr) %>
          </p>
          <p class="no-margin">

            <i class='<%#= talent.completing > 85 ? "green fas fa-thumbs-up" : "red fas fa-exclamation-triangle" %> margin-right-15'></i>profil complété à <strong class='<%#= talent.completing > 85 ? "green" : "red"  %>'><%#= talent.completing %>%</strong>

          </p>
        </div>


        <div class="lien-messagerie-profil">

          <% if Mailboxer::Conversation.participant(talent).count > 0 %>
            <%= link_to "Messages", talent_conversation_path(talent, talent.mailbox.conversations.last)%>
          <% else %>
            <a style="font-size: 12px;">Aucun message</a>
          <% end %>
          <%= link_to "Profil", talent_path(talent)%>
        </div>
      </div>
    </div>
  </div>


<% else %>

  <div class="col-xs-12 col-md-4" style="padding: 20px 25px;">
    <div class="talent-card modal-button" data-target= "modal_<%= talent[:id] %>" style="height: 400px;">

      <div class="border relative">

        <div class="card-title">
          <p><%=talent[:job].present? ? talent[:job].upcase : "Pas renseigné" %></p>
        </div>

        <div class="talent-job">
          <% if !talent[:position].nil? %>
            <h2><%= talent[:position].truncate(45, separator: ' ', omission: '') %></h2>
          <% else %>
            <h2> - </h2>
          <% end %>
        </div>

        <div class="row">
          <p class="col-xs-6 no-padding">
            <i style="min-width: 20px;" class="fas fa-map-marker-alt margin-right-5 green"></i><%= talent[:city].present? ? talent[:city].truncate(10, separator: ', ', omission: '') : "_" %>
          </p>

          <p class="col-xs-6 no-padding">
            <i style="min-width: 20px;" class="fas fa-code-branch margin-right-5 green"></i>
            <% if talent[:next_aventure][:btoc] && talent[:next_aventure][:btob] %>
              BtoB & BtoC
            <% elsif talent[:next_aventure][:btob] %>
              BtoB
            <% elsif talent[:next_aventure][:btoc] %>
              BtoC
            <%# else %>
              <!-- _ -->
            <% end %>
          </p>

          <p class="col-xs-12 no-padding">
            <i style="min-width: 16px;" class="fas fa-briefcase margin-right-5 green"></i>
            <% if talent[:sectors].length > 0 %>
              <% talent[:sectors].first(talent[:sectors].length-1).each do |talent_sector| %>
                <%= talent_sector[:title].present? ? talent_sector[:title] + ", " : "" %>
              <% end %>
              <%= talent[:sectors].last[:title].present? ? talent[:sectors].last[:title] : "" %>
            <% end %>
          </p>

          <% talent[:formations].first(2).each do |talent_formation| %>
            <p class="col-xs-12 no-padding">
              <i style="min-width: 20px;" class="fas fa-graduation-cap margin-right-5"></i><%= talent_formation[:type_of_formation].present? ? talent_formation[:type_of_formation] + ", " : "" %> <%=talent_formation[:title] %>
            </p>
          <% end %>

          <% if talent[:year_experience_job].present? && talent[:year_experience_job].to_i > 0 %>
            <p class="col-xs-12 no-padding">
              <i style="min-width: 20px;" class="far fa-calendar margin-right-5"></i><%= pluralize(talent[:year_experience_job], 'an') %> d'expérience
            </p>
          <% end %>

          <% if talent[:experiences].count > 1 %>
              <p class="col-xs-12 no-padding">
                <i style="min-width: 20px;" class="fas fa-briefcase margin-right-5"><sup style="font-family: 'Avenir', 'Open Sans', 'Helvetica', 'sans-serif'; font-weight: 500">-1</sup></i><%= talent[:experiences][talent[:experiences].count-1][:position] %>
              </p>
          <% end %>

          <p class="col-xs-12 no-padding">
            <i style="min-width: 20px;" class="far fa-clock margin-right-5"></i>Mise à jour le <%= l(talent[:update], :locale => :fr) %>
          </p>
        </div>

        <div class="talent-more">
            <p data-target= "modal_<%= talent[:id] %>">En savoir plus <i class="fas fa-angle-right"></i></p>
        </div>

      </div>
    </div>
  </div>

<% end %>
