<%= render 'shared/modal_alerte' %>

<div class="btn-edition-container modal-button" data-target="modal_alerte">
  <p class="no-margin margin-right-15 label-edit align-center green">
    Revenir sur mon profil <i class="fas fa-home green"></i></p>
</div>

<div class="container-show">
  <div class="blue-background">



    <div class="row">
      <div class="col-lg-3 col-xs-12 no-padding tablinksAll" id='tabs-edit'>
        <div class="tablinks flex space-between active" data-idTab='informations_generales' style="align-items: center;">
          <p class="titre-rubrique-3">
          Informations générales  </p>
          <p class="cercle <%= @headhunter.completed_profil < 98 ? "red-background" : "green-background" %>" style="height: 10px; width: 10px;"></p>
        </div>
        <div class="tablinks flex space-between" data-idTab='modifier_photos' style="align-items: center;">
          <p class="titre-rubrique-3">Modifier les photos</p>
          <p class="cercle <%= @headhunter.completed_pictures < 98 ? "red-background" : "green-background" %>" style="height: 10px; width: 10px;"></p>
        </div>
        <div class="tablinks flex space-between" data-idTab='informations_entreprises' style="align-items: center;">
          <p class="titre-rubrique-3">Informations d'entreprises</p>
          <p class="cercle <%= @headhunter.completed_startup < 98 ? "red-background" : "green-background" %>" style="height: 10px; width: 10px;"></p>
        </div>

       <!--  <#%= link_to edit_headhunter_registration_path do %>
          <div class="tablinks2 flex space-between" style="align-items: center;">
            <p class="titre-rubrique-3" data-idTab='modifier_mon_compte'>Modifier mon compte</p>
            <p class="cercle <%= @headhunter.completed_profil < 98 ? "red-background" : "green-background" %>" style="height: 10px; width: 10px;"></p>
          </div>
        <#% end %> -->


      </div>

      <hr class="ligne-vertical col-lg-1 no-padding" id="ligne-edit">
      <!-- info générale sur le profil -->
      <div class="col-lg-8 no-padding">
          <div id="informations_generales" class="tabcontent" style="display: block;">
              <%= render 'edit_hh_informations_generales' %>
          </div>

          <div id="modifier_photos" class="tabcontent" style="display: none;">

            <%= render 'edit_modifier_photos' %>
          </div>

          <div id="informations_entreprises" class="tabcontent" style="display: none;">
            <%= render 'edit_informations_entreprises' %>
          </div>

          <!-- <div id="modifier_mon_compte" class="tabcontent" style="display: none;">
            <#%= link_to 'test mot de passe', edit_headhunter_registration_path %>
            <#%= render 'headhunters/registrations/edit', resource: @headhunter, resource_name: "headhunter" %>
          </div> -->




    </div>
    </div>

  </div>
</div>


