<div id="app" class="no-background"></div>

<%= render 'filter', conditioning: 'headhunters' %>


<section class="container" style="min-height: calc( 100vh - 241px);">

  <!-- Division pour résultats de recherche -->
  <p id="search-results">
    <strong><%= @headhunters.count %> Profils</strong> correspondent à votre recherche '<em><%= params[:tag] || 'Tous' %></em>' - <%= link_to 'Télécharger', headhunters_path(format: "csv") %>
  </p>


  <!-- Répertoire des talents -->
  <div class="row cards-repertory">

    <% @headhunters.each do |headhunter| %>
      <%= cache headhunter do %>
        <%= render 'talents/startup-card', headhunter: headhunter %>
      <% end %>
    <% end %>

  </div>

  <!-- Choix des pages -->
  <!-- <div class="page-choice">
    <p>Préc. <strong>1</strong> 2 3 Suiv.</p>
  </div> -->
</section>

