<%= render 'filter', conditioning: 'headhunters' %>


<section class="container">

  <!-- Division pour résultats de recherche -->
  <div class="search-results">
    <p><strong><%= @headhunters.count %> Profils</strong> correspondent à votre recherche '<em><%= @titre %></em>'</p>
  </div>


  <!-- Répertoire des talents -->
  <div class="cards-repertory">

    <% @headhunters.each do |headhunter| %>
      <%= cache headhunter do %>
        <%= render 'talents/startup-card', headhunter: headhunter %>
      <% end %>
    <% end %>

  </div>

  <!-- Choix des pages -->
  <!-- <div class="page-choice">
    <p>Préc. <strong>1</strong> 2 3 Suiv.</p>
  </div> -->
</section>

