<!-- Répertoire côté start-up -->
<%= render 'create_alert' %>
<% if params[:query] == "new_member" %>
  <%= render 'modal_welcome' %>
<% end %>
<div class="filter">

    <div class="filter-category">
      <p><i class="fas fa-filter"></i> Filtrer par MÉTIER</p>
      <!-- <div class="navbar-wagon-item hidden-md hidden-lg hidden-xs">
        <div class="dropdown">
          <i class="fas fa-angle-down" data-toggle="dropdown"></i>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li><%= link_to repertoire_path(tag: "#{Job.first.title}") do %>
              <i class="fas fa-search"></i> <%= Job.first.title.upcase %>
            <% end %></li>
            <li><%= link_to repertoire_path(tag: "#{Job.second.title}") do %>
              <i class="far fa-comments"></i> SALES
            <% end %></li>
            <li><%= link_to repertoire_path(tag: "#{Job.third.title}") do %>
              <i class="fas fa-tachometer-alt"></i> MARKETING
            <% end %></li>
            <li><%= link_to repertoire_path(tag: "#{Job.fourth.title}") do %>
              <i class="fas fa-archive"></i> PRODUCT
            <% end %></li>
              <a href="">Créer une alerte <i class="fas fa-bell"></i></a>
            </li>
          </ul>
        </div>
      </div> -->
    </div>
    <div class="filter-item">
      <%= form_tag repertoire_path, :method => 'get', id:"search-lg", remote: true do %>
          <% @jobs.each do |job| %>
            <input type="checkbox" name="jobs[]" id="<%= job.title.downcase %>" value="<%= job.title.capitalize %>" class="hidden">
            <label class= "category-choice" for="<%= job.title.downcase %>"><i class="<%= job.icon %>"></i> <%= job.title.upcase %></label>
          <% end %>
        <input type="submit" class="submit-filtre hidden" name="commit" value="Search" data-disable-with="Search">
      <% end %>
    </div>

    <div class="alert-creation hidden-xs hidden-sm modal-button" data-target= "create_alert">
      <% if @headhunter.job_alertes.first.present? %>
        <p>mes alertes <i class="fas fa-bell"></i></p>
      <% else %>
        <p>Créer une alerte <i class="far fa-bell"></i></p>
      <% end %>
    </div>

</div>




<div id="all-talents">

    <%= render 'section_talents'%>

</div>




