<!-- Répertoire côté start-up -->
<%= render 'create_alert' %>

<div class="filter">

    <div class="filter-category">
      <p><i class="fas fa-filter"></i> Filtrer par MÉTIER</p>
      <div class="navbar-wagon-item hidden-md hidden-lg">
        <div class="dropdown">
          <i class="fas fa-angle-down" data-toggle="dropdown"></i>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li><%= link_to repertoire_path(tag: "Data") do %>
              <i class="fas fa-search"></i> OPERATIONS
            <% end %></li>
            <li><%= link_to repertoire_path(tag: "Sales") do %>
              <i class="far fa-comments"></i> SALES
            <% end %></li>
            <li><%= link_to repertoire_path(tag: "Market") do %>
              <i class="fas fa-tachometer-alt"></i> MARKETING
            <% end %></li>
            <li><%= link_to repertoire_path(tag: "Product") do %>
              <i class="fas fa-archive"></i> PRODUCT
            <% end %></li>
              <a href="">Créer une alerte <i class="fas fa-bell"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
      <div class="filter-item hidden-xs hidden-sm">
        <%= form_tag repertoire_path, :method => 'get', remote: true do %>
            <input type="checkbox" name="jobs[]" id="data" value="Operations" class="hidden">
            <label class= "category-choice" for="data"><i class="fas fa-search"></i> OPERATIONS</label>
            <input type="checkbox" name="jobs[]" id="sales" value="Sales" class="hidden">
            <label class= "category-choice" for="sales"><i class="far fa-comments"></i> SALES</label>
            <input type="checkbox" name="jobs[]" id="product" value="Product" class="hidden">
            <label class= "category-choice" for="product"><i class="fas fa-archive"></i> PRODUCT</label>
            <input type="checkbox" name="jobs[]" id="market" value="Market" class="hidden">
            <label class= "category-choice" for="market"><i class="fas fa-tachometer-alt"></i> MARKETING</label>
          <input type="submit" class="submit-filtre hidden" name="commit" value="Search" data-disable-with="Search">
        <% end %>
      </div>

    <div class="alert-creation hidden-xs hidden-sm modal-button" data-target= "create_alert">
      <% if @headhunter.job_alertes.first.present? %>
        <p>mes alertes <i class="fas fa-bell"></i></p>
      <% else %>
        <p>Créer une alerte <i class="far fa-bell"></i></p>
      <% end %>
    </div>


</div>




<div id="all-talents">

    <%= render 'section_talents'%>

</div>




