<%= render "shared/navbar" %>

<div class="filter">

    <div class="filter-category">
      <p><i class="fas fa-filter"></i> Filtrer par MÉTIER</p>
      <div class="navbar-wagon-item hidden-md hidden-lg">
        <div class="dropdown">
          <i class="fas fa-angle-down" data-toggle="dropdown"></i>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">

            <li><a href=""><i class="fas fa-search"></i> DATA</a></li>
            <li><a href=""><i class="far fa-comments"></i> SALES</a></li>
            <li><a href=""><i class="fas fa-tachometer-alt"></i> MARKET</a></li>
            <li><a href=""><i class="fas fa-archive"></i> PRODUCT</a></li>
            <li>
              <a href="">Créer une alerte <i class="fas fa-bell"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="filter-item hidden-xs hidden-sm">

      <a href=""><i class="fas fa-search"></i> DATA</a>

      <a href=""><i class="far fa-comments"></i> SALES</a>

      <a href=""><i class="fas fa-tachometer-alt"></i> MARKET</a>

      <a href=""><i class="fas fa-archive"></i> PRODUCT</a>

    </div>

    <div class="alert-creation hidden-xs hidden-sm">
      <a href="">Créer une alerte <i class="fas fa-bell"></i></a>
    </div>


</div>

<section class="container">

  <!-- Division pour résultats de recherche -->
  <div class="search-results">
    <p><strong><%= @talents.count %> Profils</strong> correspondent à votre recherche '<em>DATA</em>'</p>
  </div>

  <!-- Répertoire des talents -->
  <div class="cards-repertory">

    <% @talents.each do |talent| %>
      <%= render 'talent-card', talent: talent %>
      <%= render 'shared/modal', talent: talent %>
    <% end %>

  </div>

  <!-- Choix des pages -->
  <div class="page-choice">
    <p>Préc. <strong>1</strong> 2 3 Suiv.</p>
  </div>
</section>

<%= render "shared/footer" %>
