<!-- Répertoire côté start-up -->
<% if !@headhunter.nil? %>
  <div id="app"></div>
  <%= render 'create_alert' %>
<% end %>
<% if params[:query] == "new_member" %>
  <%= render 'modal_welcome' %>
<% end %>

<%= render 'filter', conditioning: 'repertoire' %>

<div id="all-talents" data-company_id="<%= @headhunter.startup.id if @headhunter.present? %>">

    <%= render 'section_talents'%>

</div>





