<%= render "shared/navbar" %>

<section class="container">

  <!-- Division pour résultats de recherche -->
  <div class="search-results">
    <p><strong><%= @talents.count %> Profils</strong> correspondent à votre recherche '<em>DATA</em>'</p>
  </div>

  <!-- Répertoire des talents -->
  <div class="cards-repertory">
    <% @talents.each do |talent| %>
      <%= render 'talent-card', talent: talent %>
    <% end %>
  </div>

  <!-- Choix des pages -->
  <div class="page-choice">
    <p>Préc. <strong>1</strong> 2 3 Suiv.</p>
  </div>
</section>

<% @talents.each do |talent| %>
  <%= talent.name %> <%= talent.firstname%> <% talent.jobs %> <br>
<% end %>

<%= render "shared/footer" %>
