<%= render "shared/navbar" %>

<div class="home-container container-show">

  <div class="talent-left">
    <div class="photo-profil" style="background-image: url('/assets/logo.png');">
      <div class="initiale"><p>M</p></div>
      <div class="statut"></div>
    </div>
    <div class="talent-name">
      <h1><%= @headhunter.startup.name %></h1>
      <h2 class="talent-post">Chef de projet digital</h2>
    </div>
    <div class="talent-info">
      <div class="talent-info-item card-dispsition">
        <p class="icon icon-info"><i class="fas fa-map-marker-alt"></i></p>
        <p>Paris</p>
      </div>
      <div class="talent-info-item card-dispsition">
        <p class="icon icon-info"><i class="far fa-compass"></i></p>
        <p>Marketing (TODO)</p>
      </div>
      <div class="talent-info-item card-dispsition">
        <p class="icon icon-info"><i class="fas fa-code-branch"></i></p>
        <p> BtoB & BtoC</p>
      </div>
    </div>

    <div class="lower-body-item lower-right-body">
      <div class="lower-right-body-item">
        <h4><i class="fas fa-sliders-h"></i> Ce qui nous définie</h4>
        <div class="talent-competences">
          <p>vidéos</p>
          <p>cyclisme</p>
          <p>basket</p>
        </div>
      </div>
      <div class="lower-right-body-item">
        <h4><i class="fas fa-search-plus"></i> Nous recherchons</h4>
        <div class="talent-competences">
          <p>Un business developper</p>
          <p>Un data scientist</p>
        </div>
      </div>
    </div>
    <div class="credentials">
      <p><i class="far fa-star"></i> Voir mes recommandations</p>
    </div>
  </div>


  <div class="talent-right">

    <div class="headhunter-right-up">
      <h4>Notre environnement de travail</h4>
      <div class="photos-environnement">
        <div class="photo-env-item" style="background-image: url('/assets/illu-data.png');"></div>
        <div class="photo-env-item" style="background-image: url('/assets/logo.png');"></div>
        <div class="photo-env-item" style="background-image: url('/assets/illu-data.png');">
          <div class="decouvrir-plus">
            <p><strong>+10</strong><br>PHOTOS & VIDÉOS</p>
          </div>
        </div>
      </div>
    </div>

    <div class="headhunter-right-down lower-body">
      <div class="headhunter-chiffres">
        <div class="recherche-first-line">
          <div class="recherche-item bordure-droite">
            <h5>2016</h5>
            <p>CRÉATION</p>
          </div>
          <div class="recherche-item padding-left">
            <h5>15</h5>
            <p>EMPLOYÉS</p>
          </div>
        </div>
        <div class="recherche-middle-line bordure-haut-bas">
          <h5>Parité</h5>
          <div class="cercles recherche-first-line">
            <div class="cercle cercle-homme">
              <p>60%</p>
            </div>
            <div class="cercle">
              <p>40%</p>
            </div>
          </div>
        </div>
        <div class="recherche-first-line">
          <div class="recherche-item padding-top bordure-droite">
            <h5>30</h5>
            <p>ÂGE MOYEN</p>
          </div>
          <div class="recherche-item padding-top padding-left">
            <h5>8%</h5>
            <p>TURN OVER</p>
          </div>
        </div>
        <div class="recherche-map">
          <div class="map-ville"></div>
        </div>
      </div>
      <div class="entreprise-quelques-mots">
        <h4><i class="far fa-id-badge"></i> L'entreprise en quelques mots</h4>
            <div class="lower-body-item-content lower-left-body">
              <div>
                <h5>Qui suis-je ?</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore. Lorem ipsum dolor sit amet.</p>
              </div>
              <div>
                <h5>Le job de mes rêves</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore. Lorem ipsum dolor sit amet.</p>
              </div>
            </div>
      </div>
    </div>

  </div>



</div>

<%= render "shared/footer" %>


<!-- <h2> Ici sera le profil de <%= @headhunter.firstname %> de <%= @headhunter.startup.name %></h2> -->
