<%= render "shared/navbar" %>
<%= render 'profil' %>
<%= render 'headhunters' %>
<%= render 'figures' %>
<%= render 'overview' %>
<%= render 'pictures' %>

<div class="container-show">

  <div class="talent-left">
    <% if current_user.is_a?(Headhunter) %>
      <p data-target= "modal_profil" class= "modal-button btn-edition"><span> <i class="far fa-edit"></i></span></p>
    <% end %>

    <% if @startup.logo.present? %>

      <div class="photo-profil" style="background-image: url('<%= cl_image_path @startup.logo, :transformation=>[ :gravity=>"face"] %>'); background-size: contain; background-repeat: no-repeat;">
        <div class="statut"></div>
      </div>

    <% else %>

      <div class="photo-profil">
        <div class="initiale">
          <p><%= @startup.name.split(//).first.upcase %><%= @startup.name.split(//).second.upcase %></p>
        </div>
        <div class="statut"></div>
      </div>

    <% end %>



    <div class="talent-name">
      <h1><%= @headhunter.startup.name %></h1>
      <h2 class="talent-post"><%= @startup.short_resume.present? ? @startup.short_resume : "Ajouter votre un petit résumé de votre entreprise" %></h2>
    </div>
    <div class="talent-info">
      <div class="talent-info-item card-dispsition">
        <p class="icon icon-info"><i class="fas fa-map-marker-alt"></i></p>
        <p><%= @startup.address.present? ? @startup.address : "Ajouter votre adresse" %></p>
      </div>
      <div class="talent-info-item card-dispsition">
        <p class="icon icon-info"><i class="fas fa-code-branch"></i></p>
        <p> <%= @startup.btob ? "BtoB" : ""%> <%= @startup.btob && @startup.btoc ? "&" : "" %><%= @startup.btoc ? "BtoC" : ""%> <%= @startup.btoc || @startup.btob ? "" : "Ajouter votre secteur d'activité" %></p>
      </div>
    </div>

    <div class="lower-body-item lower-right-body">
      <div class="lower-right-body-item relative hidden-xs">
      <% if current_user.is_a?(Headhunter) %>
        <p data-target= "modal_headhunters" class= "modal-button btn-edition"><span> <i class="far fa-edit"></i></span></p>
      <% end %>
        <h4><i class="fas fa-search-plus"></i> Nos Headhunters</h4>
        <div class="talent-competences">
          <% if @startup.headhunters.present? %>
            <% @startup.headhunters.each do |headhunter| %>
              <p class= "modal-button" data-target= "modal_headhunter_<%= headhunter.id %>"><%= headhunter.firstname.present? ? headhunter.firstname : "" %> <%= headhunter.name.present? ? headhunter.name : '' %></p>
              <%= render 'headhunters/modal_headhunter', headhunter: headhunter %>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="lower-right-body-item hidden-xs">
        <h4>Ce qui nous définit</h4>
        <div class="talent-competences">
          <% if @startup.startup_words.present? %>
            <% @startup.words.each do |word| %>
              <p><%= word.title %></p>
            <% end %>
          <% else %>
            <p style="text-transform: unset"> + Ajouter ce qui vous définit </p>
          <% end %>
        </div>
      </div>
      <div class="lower-right-body-item hidden-xs">
        <h4>Nous suivre</h4>
        <div class="links-startup">
          <% if @startup.facebook.present? %>
            <%= link_to @startup.facebook, target: "_blank" do %>
              <i class="fab fa-facebook-square"></i>
            <% end %>
          <% end %>
          <% if @startup.linkedin.present? %>
            <%= link_to @startup.linkedin, target: "_blank" do %>
              <i class="fab fa-linkedin"></i>
            <% end %>
          <% end %>
          <% if @startup.link.present? %>
            <%= link_to @startup.link, target: "_blank" do %>
              <i class="fas fa-tv"></i>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>


  <div class="talent-right">

    <div class="headhunter-right-up">
      <% if current_user.is_a?(Headhunter) %>
        <p data-target= "modal_pictures" class= "modal-button btn-edition"><span> <i class="far fa-edit"></i></span></p>
      <% end %>
      <h4 class="hidden-xs">Notre environnement de travail</h4>
      <div class="photos-environnement">
        <% if @startup.pictures.first.photo.present? %>
          <% @startup.pictures.first(2).each do |photo| %>
            <div class="photo-env-item" style="background-image: url('<%= cl_image_path photo.photo  %>')"></div>
          <% end %>

          <div class="photo-env-item" style="background-image: url('<%= cl_image_path @startup.pictures.third.photo  %>');">
            <div class="decouvrir-plus">
              <p><strong>+10</strong><br>PHOTOS & VIDÉOS</p>
            </div>
          </div>
        <% else %>
          <p>Ajouter des photos, nos talents adorent ça !! </p>
        <% end %>
      </div>
    </div>

    <div class="headhunter-right-down lower-body">

      <div class="lower-body-item lower-right-body hidden visible-xs">
        <div class="lower-right-body-item">
          <h4>Ce qui nous définit</h4>
          <div class="talent-competences">
            <% if @startup.startup_words.present? %>
              <% @startup.startup_words do |word| %>
                <p><%= word.word.title %></p>
              <% end %>
            <% else %>
              <p> + Ajouter ce qui vous définit </p>
            <% end %>
          </div>
        </div>
      </div>
      <div class="headhunter-chiffres relative">
        <% if current_user.is_a?(Headhunter) %>
          <p data-target= "modal_figures" class= "modal-button btn-edition"><span> <i class="far fa-edit"></i></span></p>
        <% end %>
        <div class="recherche-first-line">
          <div class="recherche-item bordure-droite">
            <h5><%= @startup.year_of_creation.present? ? @startup.year_of_creation : "2018 ?" %></h5>
            <p>CRÉATION</p>
          </div>
          <div class="recherche-item padding-left">

            <h5><%= @startup.collaborators.present? ? @startup.collaborators : "? 1 ?" %></h5>
            <p>EMPLOYÉS</p>
          </div>
        </div>
        <div id="map" style="width: 100%; height: 100px;" data-markers="<%= @markers.to_json %>"
          ></div>
        <div class="recherche-first-line">
          <div class="recherche-item padding-top bordure-droite">
            <h5><%= @startup.average_age.present? ? @startup.average_age : "?87 ans?" %></h5>
            <p>ÂGE MOYEN</p>
          </div>
          <div class="recherche-item padding-top padding-left">
            <h5>8%</h5>
            <p>TODO</p>
          </div>
        </div>
        <div class="recherche-map">
          <div class="map-ville"></div>
        </div>
      </div>

      <div class="lower-body-item lower-right-body hidden visible-xs">
        <div class="lower-right-body-item">
          <h4><i class="fas fa-search-plus"></i> Nos Headhunters</h4>
          <div class="talent-competences">
            <% if @startup.headhunters.present? %>
              <% @startup.headhunters.each do |headhunter| %>
                <p><%= headhunter.firstname.present? ? headhunter.firstname : "" %> <%= headhunter.name.present? ? headhunter.name : '' %></p>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>

      <% if current_user.is_a?(Headhunter) %>
        <p data-target= "modal_overview" class= "modal-button btn-edition"><span> <i class="far fa-edit"></i></span></p>
      <% end %>
      <div class="entreprise-quelques-mots">
        <h4><i class="far fa-id-badge"></i> L'entreprise en quelques mots</h4>
            <div class="lower-body-item-content lower-left-body">
              <div>
                <h5>Nos missions ?</h5>
                <p><%= @startup.mission %></p>
              </div>
              <div>
                <h5>Notre quotidien</h5>
                <p><%= @startup.overview %></p>
              </div>
            </div>
      </div>
    </div>

  </div>
</div>

<%= render "shared/footer" %>
