<% if current_user.is_a?(Headhunter) || current_user.is_a?(Talentist)%>
  <%= link_to edit_headhunter_path(@headhunter), class:"btn-edition-container" do %>
      <p class="no-margin margin-right-15 label-edit align-center hidden-xs"><i class="gray fas fa-exclamation-triangle margin-right-15"></i>profil complété à <strong class=" <%= @headhunter.completed_totaly > 85 ? "green" : "red"  %>"><%= @headhunter.completed_totaly %>%</strong></p>
      <div class="btn-edition">
        <span><i class="fas fa-edit"></i></span>
      </div>
  <% end %>
<% elsif current_user.is_a?(Talent) %>
  <%= link_to 'javascript:history.back()', class:"btn-edition-container" do  %>
      <p class="no-margin label-edit align-center green"><i class="fas fa-angle-left"></i> Retour</p>
  <% end %>
<% end %>


<div class="container-show grid-show">

  <div class="first-column">
    <!-- Présentation profil -->
      <div class="blue-background">

        <!-- Photo de profil -->
          <% if @startup.logo? %>

            <div class="photo-profil margin-auto" style="background-image: url('<%= cl_image_path @startup.logo, :transformation=>[ :gravity=>"face"] %>'); background-size: contain; background-repeat: no-repeat;">
              <div class="statut tooltip <%= @headhunter.validated ? 'green-background' : 'red-background' %>">
                <span class="tooltiptext"><%= @headhunter.validated ? 'Profil validé' : "Profil non validé" %></span>
              </div>
            </div>
          <% else %>

            <div class="photo-profil margin-auto">
              <div class="initiale">
                <%= @startup.name.split(//).first.upcase %><%= @startup.name.split(//).second.upcase %>
              </div>
              <div class="statut tooltip <%= @headhunter.validated ? 'green-background' : 'red-background' %>">
                <span class="tooltiptext"><%= @headhunter.validated ? 'Profil validé' : "Profil non validé" %></span>
              </div>
            </div>
          <% end %>

        <!-- Nom Start-up -->
          <h1 class="titre-profil"><%= @headhunter.startup.name %></h1>

        <!-- description entreprise -->
          <h2 class="sous-titre-profil"><%= @startup.short_resume.present? ? @startup.short_resume : "Ajoutez un petit résumé de votre entreprise" %></h2>

        <hr class="separateur-show ligne-horizontal">

        <!-- Domaine d'activité -->
          <div class="row margin-bottom-15">
            <p class="titre-rubrique-1 col-xs-12 no-padding">Domaine d'activité</p>
            <i class="far fa-compass green titre-rubrique-3 col-xs-1 no-padding"></i>
            <p class="titre-rubrique-3 no-margin col-xs-11 no-padding"><%= @startup.sectors.last.title.present? ? @startup.sectors.last.title : "Ajoutez votre domaine d'activité" %></p>
          </div>

          <!-- Site internet -->
          <div class="row margin-bottom-15">
            <p class="titre-rubrique-1 col-xs-12 no-padding">Site internet</p>
            <i class="far fa-compass green titre-rubrique-3 col-xs-1 no-padding"></i>
            <a class="titre-rubrique-3 no-margin col-xs-11 no-padding" href="<%= @startup.link.present? ? @startup.link : '' %>" target="_blank"><%= @startup.link.present? ? @startup.link : "Ajoutez votre site internet" %></a>
          </div>

        <!-- Adresse -->
          <div class="row margin-bottom-15">
            <p class="titre-rubrique-1 col-xs-12 no-padding">Adresse</p>
            <i class="fas fa-map-marker-alt green titre-rubrique-3 col-xs-1 no-padding" style="font-weight: 900"></i>
            <p class="titre-rubrique-3 no-margin col-xs-11 no-padding"><%= @startup.address.present? ? @startup.address : "Ajoutez votre adresse" %></p>
          </div>
          <% if @startup.address.present? %>
            <div id="map" data-markers="<%= @markers.to_json %>"></div>
          <% end %>
      </div>

    <!-- Nos collaborateurs -->
      <div class="blue-background margin-top-background">
        <div class="grid" style="grid: auto / 20% auto; align-items: center; grid-row-gap: 15px;">
          <p class="titre-rubrique-3" style="grid-column: 1 / span 2;">Nos collaborateurs :</p>

          <% @startup.headhunters.each do |headhunter| %>
            <% if headhunter.photo.present? %>
              <div class="photo-profil profil-collaborateur" style="background-image: url('<%= cl_image_path headhunter.photo, :transformation=>[ :gravity=>"face"] %>');">
              </div>
            <% else %>

              <div class="photo-profil profil-collaborateur">
                <div class="initiale">
                  <%= headhunter.firstname.split(//).first.upcase %><%= headhunter.name.split(//).first.upcase %>
                </div>
              </div>
            <% end %>
            <div>
              <p class="texte-rubrique-3b no-margin"><%= headhunter.firstname %> <%= headhunter.name %></p>
              <p class="titre-rubrique-1 no-margin"><%= headhunter.job %></p>
            </div>
          <% end %>

        </div>
      </div>

    <!-- Mes compétences techniques -->
      <% if !@startup.word_ids.present? && current_user.is_a?(Talent) %>
      <% else %>
        <div class="blue-background margin-top-background">
          <p class="titre-rubrique-3 margin-bottom-30">Ce qui nous définit :</p>
          <% if @startup.word_ids.present? %>
            <div class="talent-competences">
              <% @startup.words.each do |word| %>
                <p><%= word.title %></p>
              <% end %>
            </div>
          <% else %>
            <p style="text-align: center;"><i class="red fas fa-exclamation-triangle"></i> À Compléter <i class="red fas fa-exclamation-triangle"></i></p>
          <% end %>
        </div>
      <% end %>

    <!-- Me suivre sur -->
      <% if !@startup.linkedin.present? && current_user.is_a?(Talent) %>
      <% else %>
        <div class="blue-background margin-top-background">
          <p class="titre-rubrique-3 margin-bottom-30">Nous suivre sur :</p>

          <div class="flex" style="flex-wrap: wrap;">
            <% if @startup.linkedin.present? %>
              <a class="social-media-link" href="<%= @startup.linkedin %>" target="_blank"><i class='fab fa-linkedin-in'></i></a>
            <% end %>
            <% if @startup.facebook.present? %>
              <a class="social-media-link" href="<%= @startup.facebook %>" target="_blank"><i class="fab fa-facebook-f"></i></a>
            <% end %>
            <% if @startup.there_is_no_social_network? %>
              <p>Ajoutez vos réseaux sociaux</p>
            <% end %>
          </div>
        </div>

      <% end %>
  </div>

  <div class="second-column">

    <!-- Section photos -->
    <% if !@startup.pictures.present? && current_user.is_a?(Talent) %>
    <% else %>
      <div class="blue-background margin-top-30-xs">

        <!-- Titre section -->
          <div class="titre-section-icon"><i class="titre-section-icon-illu fas fa-angle-double-right"></i></div>
          <h2 class="titre-section">Notre environnement <strong>en photos</strong></h2>

        <!-- Photos entreprise -->
          <%= render 'component_avem/modal_image' %>
      </div>
    <% end %>

    <!-- Section découverte de l'entreprise -->
      <div class="blue-background <%= !@startup.pictures.present? && current_user.is_a?(Talent) ? "" : "margin-top-background" %>">

        <!-- Titre section -->
          <div class="titre-section-icon"><i class="titre-section-icon-illu fas fa-angle-double-right"></i></div>
          <h2 class="titre-section">Découvrir notre <strong>entreprise</strong></h2>


            <!-- TODO add start_up_words -->




      <!-- Ligne description -->
        <div class="row">
          <!-- Création -->
            <div class="info-grid-1 col-lg-3 col-xs-6">
              <p class="titre-rubrique-1 grid-col-span-2">Création</p>
              <% if @startup.year_of_creation.present? %>
                <p class="texte-rubrique-1b no-margin uppercase grid-col-span-2"><%= @startup.year_of_creation %></p>
              <% elsif !@startup.year_of_creation.present? && current_user.is_a?(Talent) %>
                <i class="far fa-question-circle green"></i>
              <% else %>
                <i class="red fas fa-exclamation-triangle"></i>
              <% end %>
            </div>

          <!-- Nombre d'employés -->
            <div class="info-grid-1 col-lg-3 col-xs-6">
              <p class="titre-rubrique-1 grid-col-span-2">Nombre d'employés</p>
              <% if @startup.collaborators.present? %>
                <p class="texte-rubrique-1b no-margin uppercase grid-col-span-2"><%= @startup.collaborators %></p>
              <% elsif !@startup.collaborators.present? && current_user.is_a?(Talent) %>
                <i class="far fa-question-circle green"></i>
              <% else %>
                <i class="red fas fa-exclamation-triangle"></i>
              <% end %>
            </div>

          <!-- Âge moyen -->
            <div class="info-grid-1 col-lg-3 col-xs-6">
              <p class="titre-rubrique-1 grid-col-span-2">Âge moyen</p>
              <% if @startup.average_age.present? %>
                <p class="texte-rubrique-1b no-margin uppercase grid-col-span-2"><%= @startup.average_age %></p>
              <% elsif !@startup.average_age.present? && current_user.is_a?(Talent) %>
                <i class="far fa-question-circle green"></i>
              <% else %>
                <i class="red fas fa-exclamation-triangle"></i>
              <% end %>
            </div>

          <!-- Secteur -->
            <div class="info-grid-1 col-lg-3 col-xs-6">
              <p class="titre-rubrique-1 grid-col-span-2" style="opacity: 0">Secteur</p>
              <% if @startup.btoc || @startup.btob %>
                <% if @startup.btoc && @startup.btob %>
                  <p class="texte-rubrique-1b no-margin uppercase grid-col-span-2"> BtoB & BtoC</p>
                <% elsif @startup.btob %>
                  <p class="texte-rubrique-1b no-margin uppercase grid-col-span-2">BtoB</p>
                <% else%>
                  <p class="texte-rubrique-1b no-margin uppercase grid-col-span-2">BtoC</p>
                <% end %>
              <% elsif !@startup.btoc && !@startup.btob && current_user.is_a?(Talent) %>
                <i class="far fa-question-circle green"></i>
              <% else %>
                <i class="red fas fa-exclamation-triangle"></i>
              <% end %>
            </div>

      </div>

      <hr class="separateur-show ligne-horizontal">

      <!-- Ligne texte -->
        <div class="row">

          <!-- Les missions que nous réalisons -->
            <div class="col-lg-6 col-xs-12">
              <h4 class="titre-rubrique-3">Rejoindre notre entreprise c'est :</h4>
              <% if @startup.mission.present?  %>
                <p class="texte-rubrique-3 margin-right-15 no-margin-xs"> <%= @startup.mission %></p>
              <% elsif !@startup.mission.present? && current_user.is_a?(Talent) %>
                <p class="margin-right-15 no-margin-xs texte-rubrique-3"><%= @startup.name.capitalize %> n'a pas souhaité répondre à cette question.</p>
              <% else %>
                <p class="margin-right-15 no-margin-xs texte-rubrique-3"><i class="red fas fa-exclamation-triangle"></i> À compléter <i class="red fas fa-exclamation-triangle"></i></p>
              <% end %>
            </div>

          <!-- Description de notre entreprise -->
            <div class="col-lg-6 col-xs-12 margin-top-30-xs">
              <h4 class="titre-rubrique-3">Description de notre entreprise</h4>
              <% if @startup.overview.present?  %>
                <p class="texte-rubrique-3"> <%= @startup.overview %></p>
              <% elsif !@startup.overview.present? && current_user.is_a?(Talent) %>
                <p class="margin-right-15 no-margin-xs texte-rubrique-3"><%= @startup.name.capitalize %> n'a pas souhaité répondre à cette question.</p>
              <% else %>
                <p class="margin-right-15 no-margin-xs texte-rubrique-3"><i class="red fas fa-exclamation-triangle"></i> À compléter <i class="red fas fa-exclamation-triangle"></i></p>
              <% end %>
            </div>
        </div>


    </div>

  </div>
</div>


