<div id="modal_declined_<%= talent.id %>" class="modal">

  <div class="modal-content">

    <div class="modal-header">
      <span id="close_modal_declined_<%= talent.id %>">
        <p>&times;</p>
      </span>

    </div>

    <%= simple_form_for talent, url: to_validate_talent_path(talent)  do |f| %>
       <p><%= f.object.firstname %> <%= f.object.name %></p>
       <%= f.input :declined, placeholder: "En effet, malgré .... et ..., le ... est un critère extrêmement important pour nous."  %>
      <%= f.submit "Refuser" %>
    <% end %>

  </div>
</div>
