<!-- Titre section -->
  <div class="titre-section-icon"><i class="titre-section-icon-illu fas fa-angle-double-right"></i></div>
  <h2 class="titre-section">Quelle est votre <strong>expérience en entreprise</strong></h2>


<!-- info sur experiences -->
  <%= simple_form_for @talent, url: update_experience_talent_path(@talent), method: :patch, remote: false  do |f|%>
      <!-- obliger de faire un render (soit garder, soit prendre l'ancien) -->
    <ol class="priority-list experience-list">
      <%= f.simple_fields_for :experiences do |u| %>

          <%= render 'steps_talent_infos/experience_fields', :f => u %>

      <% end %>
      <div class='links'>
        <%= link_to_add_association 'Ajouter une expérience +', f, :experiences, :partial => 'steps_talent_infos/experience_fields', :class => "form-hobby-add" %>
      </div>
    </ol>
    <%= render 'edit_validations_buttons', f: f %>
  <% end %>
