
  <div class="titre-section-icon"><i class="titre-section-icon-illu fas fa-angle-double-right"></i></div>
  <h2 class="titre-section">Décrivez votre <strong>parcours scolaire</strong></h2>

  <!-- info sur les formations et compétence -->
    <%= simple_form_for @talent, url: update_formation_and_skill_talent_path(@talent), method: :patch, remote: false  do |f|%>
      <div id="formations">
        <%= f.simple_fields_for :talent_formations do |u| %>
          <%= render 'steps_talent_infos/formation_fields', :f => u %>
        <% end %>
        <div class='links margin-top-30-xs col-lg-offset-2'>
          <%= link_to_add_association 'Ajouter formation', f, :talent_formations, :partial => 'steps_talent_infos/formation_fields', class: "form-hobby-add" %>
        </div>
      </div>

<!-- Titre section -->
  <div class="titre-section-icon margin-top-60"><i class="titre-section-icon-illu fas fa-angle-double-right"></i></div>
  <h2 class="titre-section margin-top-60">Mes compétences <strong>techniques</strong></h2>


  <div class="row">
    <label class="col-lg-2 col-xs-12 label-edit requis" for="talent_techno_ids">Compétences techniques</label>
    <div class="col-lg-10 col-xs-12" id="competence-form">
      <%= f.input :techno_ids, collection: Techno.all, label: false, input_html: { class: "comp-cles height-unset", multiple: "multiple", style: "width: 100%;"}, multiple: true, required: true %>
    </div>
  </div>

<!-- Titre section -->
  <div class="titre-section-icon margin-top-60"><i class="titre-section-icon-illu fas fa-angle-double-right"></i></div>
  <h2 class="titre-section margin-top-60">Mes compétences <strong>linguistiques</strong></h2>

  <div class="row">
    <label class="col-lg-2 col-xs-12 label-edit requis" for="talent_techno_ids">Compétences linguistiques</label>
    <div class="col-lg-10 col-xs-12" id="add-language">
      <%= f.simple_fields_for :talent_languages do |u| %>
        <%= render 'steps_talent_infos/language_fields', :f => u %>
      <% end %>
      <div class='links margin-top-30-xs'>
        <%= link_to_add_association 'Ajouter langue', f, :talent_languages, :partial => 'steps_talent_infos/language_fields', class: "form-hobby-add" %>
      </div>
    </div>
  </div>

  <%= render 'edit_validations_buttons', f: f %>
<% end %>


