<!-- Titre section -->
  <div class="titre-section-icon"><i class="titre-section-icon-illu fas fa-angle-double-right"></i></div>
  <h2 class="titre-section">Quelle est votre <strong>expérience en entreprise</strong></h2>

  <!-- info sur les formations et compétence -->
    <%= simple_form_for @talent, url: update_formation_and_skill_talent_path(@talent), method: :put, remote: false  do |f|%>
      <div id="formations">
        <%= f.simple_fields_for :talent_formations do |u| %>
          <%= render 'steps_talent_infos/formation_fields', :f => u %>
        <% end %>
        <div class='links'>
          <%= link_to_add_association 'Ajouter formation', f, :talent_formations, :partial => 'steps_talent_infos/formation_fields', class: "form-hobby-add col-lg-offset-2" %>
        </div>
      </div>

<%= render 'edit_validations_buttons', f: f %>
<% end %>
