<!-- Titre section -->
  <div class="titre-section-icon"><i class="titre-section-icon-illu fas fa-angle-double-right"></i></div>
  <h2 class="titre-section">Remplissez votre <strong>profil</strong></h2>

  <%= simple_form_for @talent, remote: false  do |f|%>

    <%= render 'shared/change_photo', f: f %>

    <div class="row margin-top-30">
      <p class="label-edit requis">Civilité</p>
      <div class="col-lg-4 no-padding margin-right-15 no-margin-xs">
        <%= f.input :firstname, label: false, :input_html => { style: "width: 100%" }, error: f.object.errors.messages[:firstname][0] %>
      </div>
      <div class="col-lg-4 no-padding margin-top-15-xs">
        <%= f.input :name, label: false, :input_html => { style: "width: 100%" }, error: f.object.errors.messages[:name][0] %>
      </div>
    </div>

    <div class="row margin-top-30">
      <div class="col-lg-4 no-padding margin-right-15 no-margin-xs">
        <p class="label-edit requis">Téléphone</p>
        <%= f.input :phone, label: false, :input_html => { style: "width: 100%" }, error: f.object.errors.messages[:phone][0] %>
      </div>
      <div class="col-lg-4 no-padding margin-top-15-xs">
        <p class="label-edit requis">Ville actuelle</p>
        <%= f.input :city, label: false, :input_html => { style: "width: 100%" }, error: f.object.errors.messages[:city][0] %>
      </div>
    </div>

    <div class="row margin-top-30" id="talent_jobs">
      <div class="row">
        <div class="col-lg-4 no-padding margin-right-15 no-margin-xs">
          <p class="label-edit requis">Sélectionner mon domaine d'activité</p>
        </div>
        <div class="col-lg-3 no-padding margin-top-15-xs">
          <p class="label-edit requis">Années d'expérience</p>

        </div>
        <div class="col-lg-3">
          <p class="label-edit requis">Métier principal</p>
        </div>

      </div>
      <div class="row">
      <%= f.simple_fields_for :talent_jobs do |u| %>
        <%= render 'talents/talent_job_fields', :f => u %>

      <% end %>
      </div>
      <div class="links margin-top-30">
        <%= link_to_add_association 'Ajouter métier', f, :talent_jobs, :partial => 'talents/talent_job_fields', :class => "form-hobby-add", id: "add_job" %>
      </div>
    </div>

<!-- Titre section -->
  <div class="titre-section-icon margin-top-background"><i class="titre-section-icon-illu fas fa-angle-double-right"></i></div>
  <h2 class="titre-section margin-top-background">Me suivre <strong>sur :</strong></h2>

    <div class="row margin-top-30">
      <div class="col-lg-4 no-padding margin-right-15">
        <p class="label-edit">Linkedin</p>
        <%= f.input :linkedin, label: false, :input_html => { style: "width: 100%" } %>
      </div>
    </div>

<%= render 'edit_validations_buttons', f: f %>

<% end %>

<%= javascript_pack_tag "job_position" %>

<script>
  function zeroInput(val, id){
    if (val < 0) {
      document.getElementById(id).value = 0
    }
  }

</script>


