<!-- Titre section -->
  <div class="titre-section-icon"><i class="titre-section-icon-illu fas fa-angle-double-right"></i></div>
  <h2 class="titre-section">Modifier <strong>mon mail</strong></h2>
    <% user_name = :headhunter %>
    <%= simple_form_for(user, as: user_name, url: registration_path(user_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email, required: true, autofocus: true %>

        <!-- <#% if devise_mapping.confirmable? && user.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <#%= user.unconfirmed_email %></p>
        <#% end %> -->

        <%#= f.input :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false %>
        <%#= f.input :password_confirmation, required: false %>
        <%= f.input :current_password, hint: "Nous avons besoin du mot de passe pour nous assurer que c'est bien vous", required: true %>
      </div>

      <!-- <div class="form-actions">
        <%#= f.button :submit, "Update" %>
      </div> -->
    <% end %>




<!-- info sur le compte  -->
  <%= simple_form_for user do |f| %>
    <div class="margin-top-30">
      <div class="titre-section-icon"><i class="titre-section-icon-illu fas fa-angle-double-right"></i></div>
      <h2 class="titre-section">Modifier <strong>mon mot de passe</strong></h2>
    </div>
    <div class="row">
      <div class="col-lg-6 col-xs-12">
        <p class="label-edit no-margin">Mot de passe actuel</p>
        <div class="margin-right-15 no-margin-xs">
          <%= f.input :current_password, label: false, :input_html => { style: "width: 100%" } %>
        </div>
      </div>
    </div>
    <div class="row margin-top-15">
      <div class="col-lg-6 col-xs-12">
        <p class="label-edit no-margin requis">Nouveau mot de passe</p>
        <div class="margin-right-15 no-margin-xs">
          <%= f.input :password, label: false, required: true, autofocus: true, hint: ("#{@minimum_password_length} caractères minimum" if @minimum_password_length), :input_html => { style: "width: 100%" } %>
        </div>
      </div>
      <div class="col-lg-6 col-xs-12 margin-top-15-xs">
        <p class="label-edit no-margin requis">Confirmation mot de passe</p>
        <%= f.input :password_confirmation, label: false, required: true, :input_html => { style: "width: 100%" } %>
      </div>
    </div>

    <div class="margin-top-30">
      <div class="titre-section-icon"><i class="titre-section-icon-illu fas fa-angle-double-right"></i></div>
      <h2 class="titre-section">Supprimer <strong>mon compte</strong></h2>
    </div>
    <p>Non satisfait ? <%= link_to "Supprimer mon compte", registration_path(user_name), data: { confirm: "Are you sure?" }, method: :delete %></p>




    <%= render '/talents/edit_validations_buttons', f: f %>
  <% end %>
