<!-- Titre section -->
  <div class="titre-section-icon"><i class="titre-section-icon-illu fas fa-angle-double-right"></i></div>
  <h2 class="titre-section">Remplissez votre <strong>profil</strong></h2>

  <%= simple_form_for @talent, url: update_profile_talent_path(@talent), method: :patch, remote: true  do |f|%>
    <div class="row input-none">


      <label for="avatar-upload" class="col-lg-1 margin-right-15 no-padding" id="edit-photo">
        <div class="cercle center-text hidden" id="div_img_prev" style="height: 70px; width: 70px; cursor: pointer;">
          <img id="img_prev" width=70 height=70 src="#" alt="your image" class=" cercle "/> <br/>
          <i class="fas fa-edit white" style="font-size: 25px"></i>
        </div>
        <div id="no_img">
          <% if f.object.photo? %>
            <%= render 'edit-photo', f: f.object %>
          <% else %>
            <div class="cercle gray-background center-text" style="height: 70px; width: 70px; cursor: pointer;">
              <i class="fas fa-edit white" style="font-size: 25px"></i>
            </div>
          <% end %>
        </div>
      </label>
      <%= f.file_field :photo, id:"avatar-upload" %>
      <%= f.hidden_field :photo_cache, as: :hidden %>
      <label for="avatar-upload" class="label-edit no-margin" style="line-height: 70px; cursor: pointer;">Modifier mon avatar</label>
      <!-- <a href="#" id="uploadFile">Aucun fichier</a> -->
    </div>

    <div class="row margin-top-30">
      <p class="label-edit requis">Civilité</p>
      <div class="col-lg-4 no-padding margin-right-15">
        <%= f.input :firstname, label: false, :input_html => { style: "width: 100%" } %>
      </div>
      <div class="col-lg-4 no-padding">
        <%= f.input :name, label: false, :input_html => { style: "width: 100%" } %>
      </div>
    </div>

    <div class="row margin-top-30">
      <div class="col-lg-4 no-padding margin-right-15">
        <p class="label-edit requis">Téléphone</p>
        <%= f.input :phone, label: false, :input_html => { style: "width: 100%" } %>
      </div>
      <div class="col-lg-4 no-padding">
        <p class="label-edit requis">Ville actuelle</p>
        <%= f.input :city, label: false, :input_html => { style: "width: 100%" } %>
      </div>
    </div>

    <div class="row margin-top-30">
      <%= f.simple_fields_for :talent_jobs do |u| %>
        <div class="col-lg-4 no-padding margin-right-15 no-margin-xs">
          <p class="label-edit requis">Sélectionner mon domaine d'activité</p>
          <%= u.input :job_id, collection: Job.all, label: false, :input_html => { style: "width: 100%" } %>
        </div>
        <div class="col-lg-4 no-padding margin-top-15-xs">
          <p class="label-edit requis">Ancienneté (en années)</p>
          <%= u.input :year, label: false, :input_html => { style: "width: 100%" } %>
        </div>
      <% end %>
    </div>

<!-- Titre section -->
  <div class="titre-section-icon margin-top-30"><i class="titre-section-icon-illu fas fa-angle-double-right"></i></div>
  <h2 class="titre-section margin-top-30">Me suivre <strong>sur :</strong></h2>

    <div class="row margin-top-30">
      <div class="col-lg-4 no-padding margin-right-15">
        <p class="label-edit">Linkedin</p>
        <%= f.input :linkedin, label: false, :input_html => { style: "width: 100%" } %>
      </div>
    </div>

<%= render 'edit_validations_buttons', f: f %>

<% end %>



