<div id="modal_experience" class="modal">

  <div class="modal-content">

    <div class="modal-header">
      <h3>Modifiez vos expériences</h3>

      <span class="close" id="close_modal_experience">
        <p>&times;</p>
      </span>
    </div>

    <div class="modal-body">
      <%= simple_form_for @talent, method: :put do |f| %>
        <%= f.simple_fields_for :experiences do |u| %>
          <%= render 'steps_talent_infos/experience_fields', :f => u %>
        <% end %>
        <div class='links'>
          <%= link_to_add_association 'Ajouter une expérience +', f, :experiences, :partial => 'steps_talent_infos/experience_fields', :class => "form-hobby-add" %>
        </div>
        <div class="form-actions">
          <%= f.submit "Continuer", class: "b-btn form-btn form-btn-suivant" %>
        </div>

      <% end %>
    </div>

  </div>

</div>

<!-- TODO ajouter un btn supprimer -->
