<div id="modal_formation" class="modal">

  <div class="modal-content">

    <div class="modal-header">
      <h3>Modifiez vos formations</h3>

      <!-- TODO ajouter un btn supprimer -->
      <span class="close">
        <p>&times;</p>
      </span>
    </div>

    <div class="modal-body">
      <%= simple_form_for @talent, method: :put do |f| %>

        <div id="formations">
          <%= f.simple_fields_for :talent_formations do |u| %>
            <div class="form-line">
              <p class="form-label requis">Formation(s)</p>
              <%= u.association :formation, collection: Formation.all, prompt:"Établissement", label: false, input_html: { class:"select2"}  %>
              <%= u.input :title, placeholder: "Diplôme", label: false  %>
              <%= u.input :year, collection: 1992..2018, prompt: "Année d'obtention", label: false   %>
              <%= u.input :level, collection: 0..5, prompt: "Année d'obtention", label: false   %>
            </div>
          <% end %>
        </div>

        <div class="form-line">
          <div class="form-semi-line">
            <p class="form-label form-label-semi-line requis">Compétences techniques</p>
            <div class="form-line">
              <%= f.input :techno_ids, collection: Techno.all, label: false, input_html: { class:"select2", multiple: "multiple", style: "width: 100%;"}, multiple: true, required: true %>
            </div>
          </div>

          <div class="form-semi-line">
            <p class="form-label form-label-semi-line requis">Compétences linguistiques</p>
            <div class="form-line flex-vertical">
              <%= f.simple_fields_for :talent_languages do |u| %>
                <div class="inline-flex">
                  <%= u.association :language, collection: Language.all, prompt:"Anglais", label: false, input_html: { class:"select2", style: "width: 100%;"}  %>
                  <%= u.input :level, collection: 0..5, prompt: "Niveau", label: false %>
                  <!-- TODO button -->
                  <%= u.button :submit, 'Ajouter +', { :class => "form-hobby-add"} %>
                </div>
              <% end %>
            </div>
          </div>
        </div>

        <div class="form-actions">
          <%= f.submit "Continuer", class: "b-btn form-btn form-btn-suivant" %>
        </div>


      <% end %>
    </div>
  </div>
</div>
