<div id="modal_profil" class="modal">
  <div class="modal-content">

    <div class="modal-header">
      <h3>Modifiez vos infos</h3>

      <span class="close">
        <p>&times;</p>
      </span>
    </div>


    <%= simple_form_for @talent, method: :put do |f| %>
      <%= f.input :photo %>
      <%= f.input :photo_cache, as: :hidden %>
      <div class="form-line form-nom">
        <p class="form-label requis">Nom</p>
        <%= f.input :firstname, required: true, autofocus: true, placeholder: "Prénom", label: false, :input_html => { :class => "prenom"} %>
        <%= f.input :name, required: true, autofocus: true, placeholder: "Nom", label: false %>
      </div>
      <div class="form-line form-phone">
        <p class="form-label requis">Téléphone</p>
        <%= f.input :phone, required: true, autofocus: true, placeholder: "06 01 02 03 05", label: false %>
      </div>
      <div class="form-line form-ville">
        <p class="form-label requis">Adresse</p>
        <%= f.input :city, required: true, autofocus: true, placeholder: "Ville", label: false %>
      </div>
      <div class="form-line">
        <p class="form-label">Linkedin</p>
        <%= f.input :linkedin, autofocus: true, placeholder: "https://linkedin.com/demoi", label: false %>
      </div>
      <div class="form-line loisir-comp">
        <p class="form-label form-hobby">Loisir <em>(max.5)</em></p>
        <%= f.input :hobby_ids, collection: Hobby.all, input_html: { class:"select2", multiple: "multiple", style: "width: 100%;" }, include_blank: true, label: false %>
      </div>
      <div class="form-line loisir-comp">
        <p class="form-label form-hobby">Compétences <em>(max.5)</em></p>
        <%= f.input :skill_ids, collection: Skill.all, label: false, input_html: { class:"select2", multiple: "multiple", style: "width: 100%;" }  %>
      </div>

      <div class="form-actions">
        <%= f.submit "Terminer", class: "b-btn form-btn form-btn-suivant" %>
      </div>

    <% end %>
  </div>
</div>
