<div id="modal_profil" class="modal">
  <div class="modal-content">

    <div class="modal-header">
      <h3>Modifiez vos infos</h3>

      <span class="close" id="close_modal_profil">
        <p>&times;</p>
      </span>
    </div>


    <%= simple_form_for @talent, method: :put do |f| %>
      <div class="margin-auto-new-talent ">
        <div class="form-inputs">
          <div class="form-line remove-label blue-background ">
            <p class="form-label form-label-font-size">Photo</p>
            <%= f.input :photo %>
            <%= f.input :photo_cache, as: :hidden %>
          </div>
          <div class="blue-background margin-top-background">
            <div class="form-line form-nom">
              <p class="form-label form-label-font-size">Civilité</p>
              <%= f.input :firstname, required: true, autofocus: true, placeholder: "Prénom", label: false, :input_html => { :class => "prenom"} %>
              <%= f.input :name, required: true, autofocus: true, placeholder: "Nom", label: false %>
            </div>
            <div class="form-line form-phone">
              <p class="form-label form-label-font-size">Tel.</p>
              <%= f.input :phone, required: true, autofocus: true, placeholder: "06 01 02 03 05", label: false %>
            </div>
            <div class="form-line form-ville">
              <p class="form-label form-label-font-size">Ville</p>
              <%= f.input :city, placeholder: 'Nantes, France', :input_html => { :id => "talent_city" }, label: false%>
            </div>
          </div>
          <div class="blue-background margin-top-background row">
            <div class="col-xs-12 col-lg-6 form-line" id="linkedin-size">
              <p class="form-label-font-size">Linkedin</p>
              <%= f.input :linkedin, autofocus: true, placeholder: "https://linkedin.com/demoi", label: false %>
            </div>
            <div class="col-xs-12 col-lg-6 form-line" id="metier-size">
              <p class="form-label-font-size">Spécialité métier</p>
              <%= f.input :job_ids, collection:Job.all, label: false, placeholder:'Marketing'%>
            </div>
          </div>
          <div class="form-line loisir-comp blue-background margin-top-background">
            <p class="form-label form-label-font-size">Compétences</p>
            <%= f.input :skill_ids, collection: Skill.all, label: false, input_html: { class:"select2", multiple: "multiple", style: "width: 100%;" }  %>
          </div>
        </div>
      </div>

      <div class="form-actions">
        <%= f.submit "Terminer", class: "b-btn form-btn form-btn-suivant" %>
      </div>
    <% end %>
  </div>
</div>
