<% if talentist_signed_in? && current_talentist %>

  <div class="col-xs-12 col-md-3 margin-bottom-30 placement-talentist">
    <div class="talent-card">

      <div class="border relative">

        <div class="talent-job" style="height: 80px;">
          <h2><%= headhunter.firstname.present? ? headhunter.firstname : "Non renseigné" %> <%= headhunter.last_name.present? ? headhunter.last_name : '' %></h2>
        </div>

        <p class="margin-top-15">de <%= !headhunter.startup.nil? && headhunter.startup.name.present? ? headhunter.startup.name : "Inconnu" %></p>


        <div class="background-img" style="height: 80px">
          <%= image_tag "olu-eletu-134758-unsplash.jpg", class: "img-de-fond" %>
        </div>

        <div class="accepter-talent accepter-startup">
          <%= simple_form_for headhunter, url: to_validate_headhunter_path(headhunter) do |f| %>
          <div class="btn-validate">
            <div class="<%= "green_validation" if headhunter.validated == true %>">
              <%= f.submit "Accepter"%>
            </div>
            <div class="<%= "red_validation" if headhunter.validated === false %>">
              <%= f.submit "Refuser" %>
            </div>
          </div>
          <% end %>
        </div>

      <p class="margin-top-15 margin-bottom-15">
        <% if headhunter.startup.present? %>
          <i class='<%= CompletedHeadhunter.new(headhunter).completed_totaly > 85 ? "green fas fa-thumbs-up" : "red fas fa-exclamation-triangle" %> margin-right-5'></i>
          profil complété à
          <strong class='<#%= CompletedHeadhunter.new(headhunter).completed_totaly > 85 ? "green" : "red"  %>'>
            <%=CompletedHeadhunter.new(headhunter).completed_totaly %>%
          </strong>
        <% else %>
          La startup n'est pas renseigné
        <% end %>
      </p>

        <div class="lien-messagerie-profil">
          <% if Mailboxer::Conversation.participant(headhunter).count > 0 %>
            <%= link_to "Messages", headhunter_conversation_path(headhunter.id, headhunter.mailbox.conversations.last)%>
          <% else %>
            <a style="font-size: 12px">Aucun message</a>
          <% end %>
          <!-- A changer -->
          <% if headhunter.startup.nil? %>
            <%= link_to "Supprimer", headhunter_path(headhunter),
              method: :delete,
              data: { confirm: "Êtes-vous sur?" } %>
          <% else %>
            <%= link_to "Profil", headhunter_path(headhunter)%>
          <% end %>
        </div>

      </div>
    </div>
  </div>

<% else %>

  <div class="col-md-3 col-xs-12">

    <div class="border relative">

      <div class="talent-job margin-bottom-15">
        <h2 style="text-transform: unset;"><%= headhunter.startup.name.present? && headhunter.firstname.present? ? "#{headhunter.firstname.capitalize} de #{headhunter.startup.name.capitalize}" : "No-Name" %></h2>
      </div>

      <div class="background-img">
        <%= image_tag "olu-eletu-134758-unsplash.jpg", class: "img-de-fond" %>
      </div>

      <div class="row">

        <p class="col-xs-6 no-padding">
          <i class="fas fa-map-marker-alt margin-right-5 green"></i>
          <%= headhunter.startup.address.present? ? headhunter.startup.address : "Pas info" %>
        </p>

        <p class="col-xs-6 no-padding">
          <i class="fas fa-link margin-right-5 green"></i>
          <a href="<%= headhunter.startup.link %>" target="_blank" >Voir le site</a>
        </p>

        <p class="hidden-xs col-xs-12 no-padding">
          <i class="fas fa-info-circle margin-right-5 green"></i>
          <%= headhunter.startup.short_resume.present? ? headhunter.startup.short_resume : "pas d'info" %>
        </p>
      </div>



      <!-- Lien vers le profil de la SU -->
        <%= link_to "Voir le profil", headhunter_path(headhunter), class: "talent-more talent-more-startup" %>

    </div>

  </div>

<% end %>
