<% if talentist_signed_in? && current_talentist %>

  <div class="talent-card-placement placement-talentist">
    <div class="talent-card startup-card">

      <div class="border">

        <div class="talent-job">
          <!-- A changer -->
          <h2><%= headhunter.firstname.present? ? headhunter.firstname : "Pas infos" %> <%= headhunter.name.present? ? headhunter.name : 'Pas infos' %></h2>
        </div>
        <div class="talent-job">
          <p>de <%= !headhunter.startup.nil? && headhunter.startup.name.present? ? headhunter.startup.name : "Inconnu" %></p>
        </div>

        <div class="background-img background-img-talentist">
          <%= image_tag "olu-eletu-134758-unsplash.jpg", class: "img-de-fond" %>
        </div>

        <div class="accepter-talent accepter-startup">
          <%= simple_form_for headhunter, url: to_validate_headhunter_path(headhunter) do |f| %>
          <div class="btn-validate">
            <div class="<%= "green_validation" if headhunter.validated == true %>">
              <%= f.submit "Accepter"%>
            </div>
            <div class="<%= "red_validation" if headhunter.validated === false %>">
              <%= f.submit "Refuser" %>
            </div>
          </div>
          <% end %>
        </div>

      <% if headhunter.startup.present? %>
        <p class="margin-top-15 margin-bottom-15">
          <i class='<%= headhunter.completed_totaly > 85 ? "green fas fa-thumbs-up" : "red fas fa-exclamation-triangle" %>'></i>profil complété à <strong class='<#%= headhunter.completed_totaly > 85 ? "green" : "red"  %>'><%= headhunter.completed_totaly %>%</strong>
        </p>
      <% else %>
        <p class="margin-top-15 margin-bottom-15">La startup n'est pas renseigné</p>
      <% end %>

        <div class="lien-messagerie-profil">
          <% if Mailboxer::Conversation.participant(headhunter).count > 0 %>
            <%= link_to "Messages", headhunter_conversation_path(headhunter.id, headhunter.mailbox.conversations.last)%>
          <% else %>
            <a style="font-size: 12px">Aucun message</a>
          <% end %>
          <!-- A changer -->
          <% if headhunter.startup.nil? %>
            <%= link_to "Supprimer", headhunter_path(headhunter),
              method: :delete,
              data: { confirm: "Êtes-vous sur?" } %>
          <% else %>
            <%= link_to "Profil", headhunter_path(headhunter)%>
          <% end %>
        </div>

      </div>
    </div>
  </div>

<% else %>

  <div class="talent-card-placement">
    <div class="talent-card startup-card">

      <div class="border">

        <div class="talent-job">
          <h2 style="text-transform: unset;"><%= headhunter.startup.name.present? && headhunter.firstname.present? ? "#{headhunter.firstname.capitalize} de #{headhunter.startup.name.capitalize}" : "No-Name" %></h2>
        </div>

        <div class="background-img">
          <%= image_tag "olu-eletu-134758-unsplash.jpg", class: "img-de-fond" %>
        </div>

        <div class="talent-info">
          <div class="talent-info-item">
            <p><i class="fas fa-map-marker-alt margin-right-5 green"></i><%= headhunter.startup.address.present? ? headhunter.startup.address : "Pas info" %></p>
          </div>
          <div class="talent-info-item">
            <p>
              <i class="fas fa-link margin-right-5 green"></i>
              <a href="<%= headhunter.startup.link %>" target="_blank" >Voir le site</a>
            </p>
          </div>
        </div>

        <div class="hidden-xs">
          <p><%= headhunter.startup.short_resume.present? ? headhunter.startup.short_resume : "pas d'info" %></p>
        </div>


        <!-- Lien vers le profil de la SU -->
        <div class="talent-more talent-more-startup">
          <p><%= link_to "Voir le profil", headhunter_path(headhunter)%></p>
        </div>

      </div>
    </div>
  </div>

<% end %>
