
<div class="container-show">
  <div class="blue-background">

    <!-- !!!!!!!!!!!!!faire render de chaque parties !!!!!!!!!!! -->

    <div class="row">
      <div class="col-lg-3 col-xs-12 no-padding tablinksAll" id='tabs-edit'>
        <p class="tablinks titre-rubrique-3 active" data-idTab='informations_generales'>Informations générales</p>
        <p class="tablinks titre-rubrique-3" data-idTab='formations_et_competences'>Formations et compétences</p>
        <p class="tablinks titre-rubrique-3" data-idTab='experiences_professionnelles'>Expériences professionnelles</p>
        <p class="tablinks titre-rubrique-3" data-idTab='ma_prochaine_aventure'>Ma prochaine aventure</p>
        <p class="tablinks titre-rubrique-3" data-idTab='modifier_mon_compte'>Modifier mon compte</p>
      </div>
      <hr class="ligne-vertical col-lg-1 no-padding" id="ligne-edit">
      <!-- info générale sur le profil -->
      <div class="col-lg-8 no-padding">
          <div id="informations_generales" class="tabcontent" style="display: block;">
            <%= render 'edit_informations_generales' %>
          </div>

          <div id="formations_et_competences" class="tabcontent" style="display: none;">
            <%= render 'edit_formations_competences' %>
          </div>

          <div id="experiences_professionnelles" class="tabcontent" style="display: block;">
            <%= render 'edit_experiences_professionnelles' %>
          </div>

          <div id="ma_prochaine_aventure" class="tabcontent" style="display: none;">
            <%= render 'edit_prochaine_aventure' %>
          </div>

          <div id="modifier_mon_compte" class="tabcontent" style="display: none;">
            <%= render 'edit_modifier_compte' %>
          </div>




    </div>
    </div>
  </div>
</div>
