<% if current_user.is_a?(Talent) %>
  <%= link_to edit_talent_path(@talent) do %>
    <div class="btn-edition-container">
      <p class="no-margin margin-right-15 label-edit align-center hidden-xs"><i class="gray fas fa-exclamation-triangle margin-right-15"></i>profil complété à <strong class=" <%= @talent.completed_totaly > 85 ? "green" : "red"  %>"><%= @talent.completed_totaly %>%</strong></p>
      <div class="btn-edition">
        <span><i class="fas fa-edit"></i></span>
      </div>
    </div>
  <% end %>
<% elsif current_user.is_a?(Talentist) %>
  <%= link_to 'javascript:history.back()' do  %>
    <div class="btn-edition-container">
      <p class="no-margin label-edit align-center green"><i class="fas fa-angle-left"></i> Retour</p>
    </div>
  <% end %>
<% end %>


<div class="container-show grid-show">

  <div class="first-column">
    <!-- Présentation profil -->
      <div class="blue-background">

        <!-- Photo de profil -->
          <% if @talent.photo? %>
            <div class="photo-profil margin-auto" style="background-image: url('<%= cl_image_path @talent.photo, :transformation=>[ :gravity=>"face"] %>');">
              <div class="statut tooltip <%= @talent.visible ? 'green-background' : 'red-background' %>">
                <span class="tooltiptext"><%= @talent.visible ? 'Profil visible' : "Profil pas visible" %></span>
              </div>
            </div>
          <% else %>

            <div class="photo-profil margin-auto">
              <div class="initiale">
                <%= @talent.firstname.split(//).first.upcase %><%= @talent.name.split(//).first.upcase %>
              </div>
              <div class="statut tooltip <%= @talent.visible ? 'green-background' : 'red-background' %>">
                <span class="tooltiptext"><%= @talent.visible ? 'Profil visible' : "Profil pas visible" %></span>
              </div>
            </div>
          <% end %>

        <!-- Nom talent -->
          <h1 class="titre-profil"><%= @talent.firstname %> <%= @talent.name %></h1>

        <!-- Poste -->
            <% if @experiences.count > 0 && @experiences.first.position.present? %>
              <h2 class="sous-titre-profil"><%= @experiences.first.position %></h2>
              <% else %>
              <h2 class="sous-titre-profil">Pas définit</h2>
            <% end %>

        <hr class="separateur-show ligne-horizontal">

        <!-- Secteur d'activité -->
          <div class="info-grid-1">
            <p class="titre-rubrique-1 grid-col-span-2">Domaine d'activité</p>
            <p class="titre-rubrique-3 no-margin icon-margin-right icon-green-color"><i class="far fa-compass"></i></p>
            <% if @talent.jobs.last.present? && @talent.jobs.last.title.present? %>
              <p class="titre-rubrique-3 no-margin"><%= @talent.jobs.last.title %> depuis <%= @talent.talent_jobs.last.year %> ans </p>
            <% else %>
              <p class="titre-rubrique-3 no-margin"> Ajoute ton domaine activité</p>
            <% end %>
          </div>

        <!-- Téléphone -->
          <% if !current_user.is_a?(Headhunter) %>
            <div class="info-grid-1">
              <p class="titre-rubrique-1 grid-col-span-2">Téléphone</p>
              <p class="titre-rubrique-3 no-margin icon-margin-right icon-green-color"><i class="fas fa-code-branch"></i></p>
              <% if @talent.phone.present? %>
                <p class="titre-rubrique-3 no-margin"> <%= @talent.phone %> </p>
              <% else%>
                <p class="titre-rubrique-3 no-margin">Ajoute ton numéro de téléphone</p>
              <% end %>
            </div>
          <% end %>

        <!-- Ville -->
          <div class="info-grid-1">
            <p class="titre-rubrique-1 grid-col-span-2">Ville</p>
            <p class="titre-rubrique-3 no-margin icon-margin-right icon-green-color"><i class="fas fa-map-marker-alt"></i></p>
            <p class="titre-rubrique-3 no-margin"><%= @talent.city.present? ? @talent.city : "Dis-nous où tu habites" %></p>
          </div>
          <% if @talent.city.present? %>
            <div id="map" data-markers="<%= @markers.to_json %>"></div>
          <% end %>
      </div>

    <!-- Mes compétences linguistiques -->
      <% if @talent.talent_languages.nil? && current_user.is_a?(Headhunter) %>
      <% else %>
        <div class="blue-background margin-top-background">
          <div class="grid" style="grid: auto / auto auto;">
            <p class="titre-rubrique-3 margin-bottom-30" style="grid-column: 1 / span 2;">Mes compétences linguistiques :</p>

            <% if @talent.talent_languages.present? %>
              <% @talent.talent_languages.each do |langue| %>
                <p class="texte-rubrique-3b no-margin"><%= langue.language.title %></p>
                <div class="notation-etoile">
                  <% for i in 1..TalentLanguage.levels[langue.level] %>
                    <span class="fas fa-circle etoile checked"></span>
                  <% end %>
                  <% for i in 1..(5-TalentLanguage.levels[langue.level]) %>
                    <span class="fas fa-circle etoile"></span>
                  <% end %>
                </div>
              <% end %>
            <% else %>
              <p><i class="red fas fa-exclamation-triangle"></i> Mets au moins français &#128521; <i class="red fas fa-exclamation-triangle"></i></p>
            <% end %>
          </div>
        </div>
      <% end %>

    <!-- Mes compétences techniques -->
      <% if @talent.technos.nil? && current_user.is_a?(Headhunter) %>
      <% else %>
        <div class="blue-background margin-top-background">
          <p class="titre-rubrique-3 margin-bottom-30">Mes compétences techniques :</p>
          <% if @talent.technos.present? %>
            <div class="talent-competences">
              <% @talent.technos.each do |techno| %>
                <p><%= techno.title %></p>
              <% end %>
            </div>
          <% else %>
            <p style="text-align: center;"><i class="red fas fa-exclamation-triangle"></i> Même pas ouvrir un fichier word &#128559; ? <i class="red fas fa-exclamation-triangle"></i></p>
          <% end %>
        </div>
      <% end %>

    <!-- Me suivre sur -->
      <% if @talent.linkedin.nil? && current_user.is_a?(Headhunter) %>
      <% else %>
        <div class="blue-background margin-top-background">
          <p class="titre-rubrique-3 margin-bottom-30">Me suivre sur :</p>

          <% if @talent.linkedin.present? %>
            <a class="social-media-link" href="<%= @talent.linkedin %>" target="_blank"><i class="social-media-link-icon fab fa-linkedin-in"></i></a>
          <% else %>
            <p style="text-align: center;"><i class="red fas fa-exclamation-triangle"></i> Désolé on accepte plus les skyblogs &#128533; <i class="red fas fa-exclamation-triangle"></i></p>
          <% end %>
        </div>
      <% end %>
  </div>

  <div class="second-column">

    <div class="blue-background margin-top-30-xs">

      <!-- Titre section -->
        <div class="titre-section-icon"><i class="titre-section-icon-illu fas fa-angle-double-right"></i></div>
        <h2 class="titre-section">Ma prochaine <strong>aventure</strong></h2>


      <!-- Ligne souhaits -->
        <div class="row margin-top-30">
            <div class="info-grid-1 no-padding col-lg-2 col-xs-6">
              <p class="titre-rubrique-1 grid-col-span-2">Mobilité</p>
              <% if @next_aventures.city.present? %>
                <p class="texte-rubrique-1b no-margin uppercase grid-col-span-2"><%= @next_aventures.city %></p>
              <% elsif !@next_aventures.city.present? && current_user.is_a?(Headhunter) %>
                <i class="far fa-question-circle green"></i>
              <% else %>
                <i class="red fas fa-exclamation-triangle"></i>
              <% end %>
            </div>


          <!-- Type de contrat -->
            <div class="info-grid-1 no-padding col-lg-2 col-xs-6">
              <p class="titre-rubrique-1 grid-col-span-2">Type de contrat</p>
              <% if @next_aventures.present? %>
                <% if @next_aventures.contrat.present? %>
                  <p class="texte-rubrique-1b no-margin uppercase grid-col-span-2"><%= @next_aventures.contrat %></p>
                <% elsif !@next_aventures.contrat.present? && current_user.is_a?(Headhunter) %>
                  <i class="far fa-question-circle green"></i>
                <% else %>
                  <i class="red fas fa-exclamation-triangle"></i>
                <% end %>
              <% else %>
                <i class="red fas fa-exclamation-triangle"></i>
              <% end %>
            </div>

          <!-- Attentes salariales -->
            <div class="info-grid-1 no-padding col-lg-2 col-xs-6 margin-top-15-xs">
              <p class="titre-rubrique-1 grid-col-span-2">Attentes salariales</p>
              <% if @next_aventures.present? %>
                <% if @next_aventures.remuneration.present? %>
                  <p class="texte-rubrique-1b no-margin uppercase grid-col-span-2"><%= @next_aventures.remuneration %></p>
                <% elsif !@next_aventures.remuneration.present? && current_user.is_a?(Headhunter) %>
                  <i class="far fa-question-circle green"></i>
                <% else %>
                  <i class="red fas fa-exclamation-triangle"></i>
                <% end %>
              <% else %>
                <i class="red fas fa-exclamation-triangle"></i>
              <% end %>
            </div>

          <!-- Secteur -->
            <div class="info-grid-1 no-padding col-lg-2 col-xs-6 margin-top-15-xs">
              <p class="titre-rubrique-1 grid-col-span-2">Secteur</p>
              <% if @sectors.present? %>
                <p class="texte-rubrique-1b no-margin uppercase grid-col-span-2"><%= @sectors.first.sector.title %></p>
              <% elsif !@next_aventures.present? && current_user.is_a?(Headhunter) %>
                <i class="far fa-question-circle green"></i>
              <% else %>
                <i class="red fas fa-exclamation-triangle"></i>
              <% end %>
            </div>


          <!-- Disponibilité -->
            <div class="info-grid-1 no-padding col-lg-2 col-xs-6 margin-top-15-xs">
              <p class="titre-rubrique-1 grid-col-span-2">Disponibilité</p>
              <% if @next_aventures.present? %>
                <% if @next_aventures.availability.present? %>
                  <p class="texte-rubrique-1b no-margin uppercase grid-col-span-2"><%= @next_aventures.availability %></p>
                <% elsif !@next_aventures.availability.present? && current_user.is_a?(Headhunter) %>
                  <i class="far fa-question-circle green"></i>
                <% else %>
                  <i class="red fas fa-exclamation-triangle"></i>
                <% end %>
              <% else %>
                <i class="red fas fa-exclamation-triangle"></i>
              <% end %>
            </div>

          <!-- Branche -->
            <div class="info-grid-1 no-padding col-lg-2 col-xs-6 margin-top-15-xs">
              <p class="titre-rubrique-1 grid-col-span-2" style="opacity:0">Branche</p>
              <% if @next_aventures.present? %>
                <% if @next_aventures.btoc || @next_aventures.btob %>
                  <% if @next_aventures.btoc && @next_aventures.btob %>
                    <p class="texte-rubrique-1b no-margin uppercase grid-col-span-2" style="text-align: center;"> BtoB & BtoC</p>
                  <% elsif @next_aventures.btob %>
                    <p class="texte-rubrique-1b no-margin uppercase grid-col-span-2" style="text-align: center;">BtoB</p>
                  <% else%>
                    <p class="texte-rubrique-1b no-margin uppercase grid-col-span-2" style="text-align: center;">BtoC</p>
                  <% end %>
                <% elsif !@next_aventures.btoc && !@next_aventures.btob && current_user.is_a?(Headhunter) %>
                  <i class="far fa-question-circle green"></i>
                <% else %>
                  <i class="red fas fa-exclamation-triangle"></i>
                <% end %>
              <% else %>
                <i class="red fas fa-exclamation-triangle"></i>
              <% end %>
            </div>
        </div>

      <hr class="separateur-show ligne-horizontal">

      <!-- Ligne texte -->
        <div class="row">

          <!-- Rêve remis à demain -->
            <div class="col-lg-3 col-xs-12">
              <h4 class="margin-right-15 no-margin-xs titre-rubrique-3">Le rêve que je remets à demain</h4>
              <% if @next_aventures.present? %>
                <% if @next_aventures.dream.present?  %>
                  <p class="margin-right-15 no-margin-xs texte-rubrique-3 more"> <%= @next_aventures.dream %></p>
                <% elsif !@next_aventures.dream.present? && current_user.is_a?(Headhunter) %>
                  <p class="margin-right-15 no-margin-xs texte-rubrique-3"><%= @talent.firstname %> n'a pas souhaité répondre à cette question.</p>
                <% else %>
                  <p class="margin-right-15 no-margin-xs texte-rubrique-3"><i class="red fas fa-exclamation-triangle"></i> À compléter <i class="red fas fa-exclamation-triangle"></i></p>
                <% end %>
              <% else %>
                <p class="margin-right-15 no-margin-xs texte-rubrique-3"><i class="red fas fa-exclamation-triangle"></i> À compléter <i class="red fas fa-exclamation-triangle"></i></p>
              <% end %>
            </div>

          <!-- La personnalité qui m'inspire -->
            <div class="col-lg-3 col-xs-12 margin-top-30-xs">
              <h4 class="margin-right-15 no-margin-xs titre-rubrique-3">La personnalité qui m'inspire</h4>
              <% if @next_aventures.present? %>
                <% if @next_aventures.famous_person.present?  %>
                  <p class="margin-right-15 no-margin-xs texte-rubrique-3 more"> <%= @next_aventures.famous_person %></p>
                <% elsif !@next_aventures.famous_person.present? && current_user.is_a?(Headhunter) %>
                  <p class="margin-right-15 no-margin-xs texte-rubrique-3"><%= @talent.firstname %> n'a pas souhaité répondre à cette question.</p>
                <% else %>
                  <p class="margin-right-15 no-margin-xs texte-rubrique-3"><i class="red fas fa-exclamation-triangle"></i> À compléter <i class="red fas fa-exclamation-triangle"></i></p>
                <% end %>
              <% else %>
                <p class="margin-right-15 no-margin-xs texte-rubrique-3"><i class="red fas fa-exclamation-triangle"></i> À compléter <i class="red fas fa-exclamation-triangle"></i></p>
              <% end %>
            </div>

          <!-- Un bon manager, c'est -->
            <div class="col-lg-3 col-xs-12 margin-top-30-xs">
              <h4 class="margin-right-15 no-margin-xs titre-rubrique-3" style="min-height: 44px">Un bon manager, c'est</h4>
              <% if @next_aventures.present? %>
                <% if @next_aventures.good_manager.present?  %>
                  <p class="margin-right-15 no-margin-xs texte-rubrique-3 more"> <%= @next_aventures.good_manager %></p>
                <% elsif !@next_aventures.good_manager.present? && current_user.is_a?(Headhunter) %>
                  <p class="margin-right-15 no-margin-xs texte-rubrique-3"><%= @talent.firstname %> n'a pas souhaité répondre à cette question.</p>
                <% else %>
                  <p class="margin-right-15 no-margin-xs texte-rubrique-3"><i class="red fas fa-exclamation-triangle"></i> À compléter <i class="red fas fa-exclamation-triangle"></i></p>
                <% end %>
              <% else %>
                <p class="margin-right-15 no-margin-xs texte-rubrique-3"><i class="red fas fa-exclamation-triangle"></i> À compléter <i class="red fas fa-exclamation-triangle"></i></p>
              <% end %>
            </div>

          <!-- Le travail effectué gratuitement serait -->
            <div class="col-lg-3 col-xs-12 margin-top-30-xs">
              <h4 class="margin-right-15 no-margin-xs titre-rubrique-3">Le travail effectué gratuitement serait</h4>
              <% if @next_aventures.present? %>
                <% if @next_aventures.work_for_free.present?  %>
                  <p class="margin-right-15 no-margin-xs texte-rubrique-3 more"> <%= @next_aventures.work_for_free %></p>
                <% elsif !@next_aventures.work_for_free.present? && current_user.is_a?(Headhunter) %>
                  <p class="margin-right-15 no-margin-xs texte-rubrique-3"><%= @talent.firstname %> n'a pas souhaité répondre à cette question.</p>
                <% else %>
                  <p class="margin-right-15 no-margin-xs texte-rubrique-3"><i class="red fas fa-exclamation-triangle"></i> À compléter <i class="red fas fa-exclamation-triangle"></i></p>
                <% end %>
              <% else %>
                <p class="margin-right-15 no-margin-xs texte-rubrique-3"><i class="red fas fa-exclamation-triangle"></i> À compléter <i class="red fas fa-exclamation-triangle"></i></p>
              <% end %>
            </div>

        </div>


      <!-- Mes petits plus -->
        <% if !@talent.your_small_plus.present? && current_user.is_a?(Headhunter) %>
        <% else %>
          <hr class="separateur-show ligne-horizontal">

          <h3 class="titre-rubrique-2" style="float: left;">Mes petits plus: </h3>

          <div class="talent-competences">
            <% if !@talent.your_small_plus.present? %>
              <i class="red fas fa-exclamation-triangle" style="margin: 0 10px 20px"></i>
            <% else %>
              <% @talent.your_small_plus.first(5).each do |hobby| %>
                <p><%= hobby.description %></p>
              <% end %>
              <% if @talent.your_small_plus.length > 5 %>
                <% @talent.your_small_plus.last(@talent.your_small_plus.length - 5).each do |hobby| %>
                  <p class="read-more-content"><%= hobby.description %></p>
                <% end %>
                <p class="read-more" data-text-swap="Close"> + <%= @talent.your_small_plus.length - 5 %> </p>
              <% end %>
            <% end %>
          </div>
        <% end %>

      <hr class="separateur-show ligne-horizontal">

      <div class="row">
        <!-- Je suis plutôt -->
          <div class="col-lg-8 col-xs-12">
            <h3 class="titre-rubrique-2">Je suis plutôt:</h3>

            <!-- Chasseur / Eleveur -->
              <div class="row margin-top-15-xs margin-right-15 no-margin-xs">
                <p class="texte-rubrique-2b no-margin no-padding col-lg-2 col-xs-6">Chasseur</p>
                <p class="visible-xs texte-rubrique-2b no-margin no-padding col-xs-6" style="text-align: right;">Éleveur</p>
                <div class="range-slider col-lg-7 no-padding col-xs-12 no-margin-xs">
                  <% if @next_aventures.present? %>
                    <% if @next_aventures.hunter_or_breeder.nil? && !current_user.is_a?(Headhunter) %>
                      <p style="text-align: center; line-height: 18px; font-size: 12px;">À compléter</p>
                    <% else %>
                      <div class="range-slider-cursor" style="left: <%= @next_aventures.hunter_or_breeder.nil? ? "50" : @next_aventures.hunter_or_breeder %>%"></div>
                    <% end %>
                  <% else %>
                    <p style="text-align: center; line-height: 18px; font-size: 12px;">À compléter</p>
                  <% end %>
                </div>
                <p class="hidden-xs texte-rubrique-2b no-margin no-padding col-lg-2">Éleveur</p>
              </div>

            <!-- Créatif / pragmatique -->
              <div class="row margin-top-15 margin-top-15-xs margin-right-15 no-margin-xs">
                <p class="texte-rubrique-2b no-margin no-padding col-lg-2 col-xs-6">Créatif</p>
                <p class="visible-xs texte-rubrique-2b no-margin no-padding col-xs-6" style="text-align: right;">Pragmatique</p>
                <div class="range-slider col-lg-7 no-padding col-xs-12 no-margin-xs">
                  <% if @next_aventures.present? %>
                    <% if @next_aventures.creative_or_pragmatic.nil? && !current_user.is_a?(Headhunter) %>
                      <p style="text-align: center; line-height: 18px; font-size: 12px;">À compléter</p>
                    <% else %>
                      <div class="range-slider-cursor" style="left: <%= @next_aventures.creative_or_pragmatic.nil? ? "50" : @next_aventures.creative_or_pragmatic %>%"></div>
                    <% end %>
                  <% else %>
                    <p style="text-align: center; line-height: 18px; font-size: 12px;">À compléter</p>
                  <% end %>
                </div>
                <p class="hidden-xs texte-rubrique-2b no-margin no-padding col-lg-2">Pragmatique</p>
              </div>
          </div>

        <!-- Je priorise -->
          <div class="col-lg-4 col-xs-12 margin-top-30-xs">
            <h3 class="titre-rubrique-2">Je priorise:</h3>

            <ol class="priority-list text-align-center-xs">
              <% if @next_aventures.present? %>
                <li class="priority-list-item texte-rubrique-2b"><%= @next_aventures.waiting_for_one.nil? ? "À définir" : @next_aventures.waiting_for_one %></li>
                <li class="priority-list-item texte-rubrique-2b"><%= @next_aventures.waiting_for_two.nil? ? "À définir" : @next_aventures.waiting_for_two %></li>
                <li class="priority-list-item texte-rubrique-2b"><%= @next_aventures.waiting_for_three.nil? ? "À définir" : @next_aventures.waiting_for_three %></li>
              <% else %>
                <li class="priority-list-item texte-rubrique-2b">À définir</li>
                <li class="priority-list-item texte-rubrique-2b">À définir</li>
                <li class="priority-list-item texte-rubrique-2b">À définir</li>
              <% end %>
            </ol>
          </div>
      </div>
    </div>

    <!-- SECTION Formations -->
      <% if @talent_formations.nil? && current_user.is_a?(Headhunter) %>
      <% else %>
        <div class="blue-background margin-top-background">

          <!-- Titre section -->
            <div class="titre-section-icon"><i class="titre-section-icon-illu fas fa-graduation-cap"></i></div>
            <h2 class="titre-section">Formations <strong>scolaires</strong></h2>

          <!-- Liste avec ligne verte -->
            <% if @talent_formations.nil? %>
              <p><i class="red fas fa-exclamation-triangle"></i> Ajoutez vos formations <i class="red fas fa-exclamation-triangle"></i></p>
            <% else %>
              <ul class="list-ligne">
                <% @talent_formations.reverse_each do |formation| %>
                  <li>
                    <p class="titre-rubrique-3" style="margin-bottom: 6px"><%= formation.title %></p>
                    <p class="texte-rubrique-3b float-left no-margin"><%= formation.formation.title %></p>
                    <p class="float-left" style="margin: 0 5px; font-size: 14px; line-height: 18px">&bull;</p>
                    <p class="texte-annee-formation green no-margin"><%= formation.year %></p>
                  </li>
                <% end %>
              </ul>
            <% end %>

        </div>
      <% end %>



    <!-- SECTION Expériences -->
      <% if @experiences.nil? && current_user.is_a?(Headhunter) %>
      <% else %>
        <div class="blue-background margin-top-background">

          <!-- Titre section -->
            <div class="titre-section-icon"><i class="titre-section-icon-illu far fa-file-alt"></i></div>
            <h2 class="titre-section">Expériences <strong>professionnelles</strong></h2>

          <!-- Liste avec ligne verte -->
            <% if @experiences.nil? %>
              <p><i class="red fas fa-exclamation-triangle"></i> Ajoutez vos expériences professionnelles <i class="red fas fa-exclamation-triangle"></i></p>
            <% else %>
              <ul class="list-ligne">
                <% @experiences.each do |experience| %>
                  <li>
                    <p class="titre-rubrique-3" style="margin-bottom: 6px"><%= experience.position %></p>
                    <p class="texte-rubrique-3b float-left no-margin"><%= experience.company_name %></p>
                    <p class="float-left" style="margin: 0 5px; font-size: 14px; line-height: 18px">&bull;</p>
                    <p class="texte-annee-formation green no-margin"><%= experience.starting %> - <%= experience.currently ? "Aujourd’hui" : experience.years %></p>
                    <p class="texte-rubrique-3"><%= experience.overview %></p>
                  </li>
                <% end %>
              </ul>
            <% end %>
        </div>
      <% end %>


  </div>
</div>

