<%= render "shared/navbar" %>


<div class="home-container container-show">

  <div class="talent-left">


    <% if @talent.photo %>

      <div class="photo-profil" style="background-image: url('<%= cl_image_path @talent.photo, :transformation=>[ :gravity=>"face"] %>');">
        <div class="statut"></div>
      </div>

    <% else %>

      <div class="photo-profil" style="background-image: url(logo.png);">
        <p><%= @talent.firstname.split(//).first.upcase %><%= @talent.name.split(//).first.upcase %></p>
        <div class="statut"></div>
      </div>

    <% end %>


    <div class="talent-name">
      <h1><%= @talent.firstname %> <%= @talent.name %></h1>
      <h2 class="talent-post"><%= @talent.experiences.last.position %></h2>
    </div>
    <div class="talent-info">
      <div class="talent-info-item card-dispsition">
        <p class="icon icon-info"><i class="fas fa-map-marker-alt"></i></p>
        <p><%= @talent.city %></p>
      </div>
      <div class="talent-info-item card-dispsition">
        <p class="icon icon-info"><i class="far fa-compass"></i></p>
        <p><%= @talent.sectors.last.title %></p>
      </div>
      <div class="talent-info-item card-dispsition">
        <p class="icon icon-info"><i class="fas fa-code-branch"></i></p>
        <% if @talent.btoc && @talent.btob %>
          <p> BtoB & BtoC</p>
        <% elsif @talent.btoc %>
          <p>BtoB</p>
        <% else %>
          <p>BtoC</p>
        <% end %>
      </div>
    </div>

    <div class="lower-body-item lower-right-body">
      <div class="lower-right-body-item">
        <h4><i class="fas fa-sliders-h"></i> MES COMPÉTENCES</h4>
        <div class="talent-competences">
          <% @talent.talent_skills.each do |skill| %>
            <p><%= skill.skill.title %></p>
          <% end %>
        </div>
      </div>
      <div class="lower-right-body-item">
        <h4><i class="fas fa-search-plus"></i> MES HOBBIES</h4>
        <div class="talent-competences">
          <% @talent.talent_hobbies.each do |hobby| %>
            <p><%= hobby.hobby.title %></p>
          <% end %>
        </div>
      </div>
    </div>
    <div class="credentials">
      <%= link_to talent_path(@talent) do %>
      <p><i class="far fa-star"></i> Voir mes <%= @talent.credentials.count %> recommandations</p>
        <% end %>
    </div>
  </div>


  <div class="talent-right">
    <div class="talent-right-up">
      <div class="right-up-item qui-suis-je">
        <h4>Qui suis-je ?</h4>
        <p><%= @talent.overview %></p>
      </div>
      <div class="right-up-item le-job-de-reve">
        <h4>Le job de rêve !</h4>
        <p> <%= @talent.next_aventures.last.overview %></p>
      </div>
      <div class="right-up-item je-recherche">
        <h4>Je recherche</h4>
        <div class="recherche-first-line">
          <div class="recherche-item">
            <h5><%= @talent.next_aventures.last.contrat %></h5>
            <p>CONTRAT</p>
          </div>
          <div class="recherche-item">
            <h5><%= @talent.next_aventures.last.remuneration %></h5>
            <p>SALAIRE</p>
          </div>
        </div>
        <div class="recherche-item">
          <h5>FINANCE TODO</h5>
          <p>SECTEUR</p>
        </div>
        <div class="recherche-item">
          <div class="map-ville"></div>
          <p><%= @talent.city %></p>
        </div>
      </div>
    </div>
    <div class="talent-right-down lower-body">
      <div class="lower-middle-body">
        <h4><i class="far fa-file-alt"></i> EXPÉRIENCES</h4>
        <div class="lower-body-item-content">
          <hr class="barre-pointee" style="width: 5px;">
          <div class="talent-experiences">

            <% @talent.experiences.each do |experience| %>
              <div class="placement-point-barre">
                <div>
                  <div class="point-barre-pointee"></div>
                </div>
                <div class="placement-talent-experience">
                  <p class="experience-post"><%= experience.position %></p>
                  <p class="experience-entreprise">GE TODO(Groupe international)</p>
                  <p class="experience-duree"><%= experience.starting %> - <%= experience.currently ? "Aujourd’hui" : experience.years %></p>
                  <p class="experience-desc"><%= experience.overview %></p>
                </div>
              </div>
            <% end %>

          </div>
        </div>
      </div>
      <div class="lower-middle-body">
        <h4><i class="fas fa-graduation-cap"></i> FORMATIONS</h4>
        <div class="lower-body-item-content">
          <hr class="barre-pointee">
          <div class="talent-experiences">

            <% @talent.talent_formations.each do |formation| %>
              <div class="placement-point-barre">
                <div>
                  <div class="point-barre-pointee"></div>
                </div>
                <div class="placement-talent-experience">
                  <p class="experience-post"><%= formation.title %></p>
                  <p class="experience-entreprise"><%= formation.formation.title %></p>
                  <p class="experience-duree"><%= formation.year %></p>
                </div>
              </div>
            <% end %>

          </div>
        </div>
      </div>
    </div>
  </div>



</div>

<%= render "shared/footer" %>

