<%= render 'experience' %>
<%= render 'aventure' %>
<%= render 'formation' %>
<%= render 'profil' %>
<%= render 'credentials' %>
  <% if !@talent.visible %>
  <div class="bandeau-visible">
    <p>Votre profil n'est pas encore rendu public. Pour cela il faut que toutes les rubrique soient complétées</p>
  </div>
<% end %>
<%= link_to "View in PDF", talent_url(@talent, format: :pdf), {target: :_blank, style: 'border: 3px solid #FA360A; border-radius: 4px; padding: 10px; background-color: #f7f7f7;cursor: pointer; color: #FA360A; font-family: Source Sans Pro, sans-serif; font-size: 16px; text-decoration: none !important; font-weight:400;'} %>
<%= link_to "Edit your profil", edit_talent_url(@talent), {style: 'border: 3px solid #FA360A; border-radius: 4px; padding: 10px; background-color: #f7f7f7;cursor: pointer; color: #FA360A; font-family: Source Sans Pro, sans-serif; font-size: 16px; text-decoration: none !important; font-weight:400;'} %>

<div class="container-show grid-show">

  <div class="first-column">
    <div class="blue-background">

      <!-- Photo de profil -->
        <% if @talent.photo.present? %>
          <div class="photo-profil" style="background-image: url('<%= cl_image_path @talent.photo, :transformation=>[ :gravity=>"face"] %>');">
            <div class="statut"></div>
          </div>
        <% else %>

          <div class="photo-profil">
            <div class="initiale">
              <%= @talent.firstname.split(//).first.upcase %><%= @talent.name.split(//).first.upcase %>
            </div>
            <div class="statut"></div>
          </div>
        <% end %>

      <!-- Nom talent -->
      <h1 class="titre-profil"><%= @talent.firstname %> <%= @talent.name %></h1>

      <!-- Poste -->
          <% if @talent.experiences.last.present? && @talent.experiences.last.position.present? %>
            <h2 class="talent-post"><%= @talent.experiences.last.position %></h2>
          <% else %>
            <h2 class="talent-post">Pas définit</h2>
          <% end %>

      <hr class="separateur-show">

      <!-- Secteur d'activité -->
        <div class="info-grid-1">
          <p class="titre-info-1">Spécialité métier</p>
          <p class="text-info-1 icon-margin-right icon-green-color"><i class="far fa-compass"></i></p>
          <% if @talent.sectors.last.present? && @talent.sectors.last.title.present? %>
            <p class="text-info-1"><%= @talent.sectors.last.title %></p>
          <% else %>
            <p class="text-info-1"> Ajoute ton secteur activité</p>
          <% end %>
        </div>

      <!-- Téléphone (BACK TODO) @Donatien -->
        <div class="info-grid-1">
          <p class="titre-info-1">Téléphone TODO</p>
          <% if @talent.btoc || @talent.btob %>
            <p class=" text-info-1 icon-margin-right icon-green-color"><i class="fas fa-code-branch"></i></p>
            <% if @talent.btoc && @talent.btob %>
              <p class="text-info-1"> BtoB & BtoC</p>
            <% elsif @talent.btob %>
              <p class="text-info-1">BtoB</p>
            <% else%>
              <p class="text-info-1">BtoC</p>
            <% end %>
          <% else %>
            <p class=" text-info-1 icon-margin-right icon-green-color"><i class="fas fa-code-branch"></i></p>
            <p class="text-info-1">Pas définit</p>
          <% end %>
        </div>

      <!-- Ville -->
        <p class="titre-info-1">Ville</p>
        <div class="info-grid-1">
          <p class="text-info-1 icon-margin-right icon-green-color"><i class="fas fa-map-marker-alt"></i></p>
          <p class="text-info-1"><%= @talent.city.present? ? @talent.city : "Pas définit" %></p>
        </div>


    </div>
  </div>

  <div class="second-column">
    <div class="blue-background">

      <!-- Titre section -->
        <div class="titre-section-icon"><i class="titre-section-icon-illu fas fa-angle-double-right"></i></div>
        <h2 class="titre-section">Ma prochaine <strong>aventure</strong></h2>

      <!-- Mes petits plus -->
        <h3 class="sous-titre-section" style="float: left;">Mes petits plus:</h3>

        <div class="talent-competences">
          <% @talent.next_aventures.last.your_small_plus.first(5).each do |hobby| %>
            <p><%= hobby.description %></p>
          <% end %>
          <% if @talent.next_aventures.last.your_small_plus.length > 5 %>
            <% @talent.next_aventures.last.your_small_plus.last(@talent.next_aventures.last.your_small_plus.length - 5).each do |hobby| %>
              <p class="read-more-content"><%= hobby.description %></p>
            <% end %>
            <p class="read-more" data-text-swap="Close"> + <%= @talent.next_aventures.last.your_small_plus.length - 5 %> </p>
          <% end %>
        </div>

      <!-- Ligne souhaits -->
        <div class="flex space-between">
          <!-- Mobilité Back TODO : @Donatien -->
            <div class="info-grid-1">
              <p class="titre-info-1">Mobilité</p>
              <% if @talent.city.present? %>
                <p class="text-info-1 uppercase"><%= @talent.city %></p>
              <% else %>
                <i class="red fas fa-exclamation-triangle"></i>
              <% end %>
            </div>

          <!-- Type de contrat -->
            <div class="info-grid-1">
              <p class="titre-info-1">Type de contrat</p>
              <% if @talent.next_aventures.first.contrat.present? %>
                <p class="text-info-1 uppercase"><%= @talent.next_aventures.first.contrat %></p>
              <% else %>
                <i class="red fas fa-exclamation-triangle"></i>
              <% end %>
            </div>

          <!-- Attentes salariales -->
            <div class="info-grid-1">
              <p class="titre-info-1">Attentes salariales</p>
              <% if @talent.next_aventures.first.remuneration.present? %>
                <p class="text-info-1 uppercase"><%= @talent.next_aventures.first.remuneration %></p>
              <% else %>
                <i class="red fas fa-exclamation-triangle"></i>
              <% end %>
            </div>

          <!-- Secteur -->
            <div class="info-grid-1">
              <p class="titre-info-1">Secteur</p>
              <% if @talent.next_aventures.first.present? %>
                <p class="text-info-1 uppercase"><%= @sectors.first.sector.title %></p>
              <% else %>
                <i class="red fas fa-exclamation-triangle"></i>
              <% end %>
            </div>

          <!-- Branche -->
            <div class="info-grid-1">
              <p class="titre-info-1">Branche</p>
              <% if @talent.btoc || @talent.btob %>
                <% if @talent.btoc && @talent.btob %>
                  <p class="text-info-1 uppercase"> BtoB & BtoC</p>
                <% elsif @talent.btob %>
                  <p class="text-info-1 uppercase">BtoB</p>
                <% else%>
                  <p class="text-info-1 uppercase">BtoC</p>
                <% end %>
              <% else %>
                <i class="red fas fa-exclamation-triangle"></i>
              <% end %>
            </div>

          <!-- Disponibilité -->
            <div class="info-grid-1">
              <p class="titre-info-1">Disponibilité</p>
              <% if @talent.next_aventures.first.availability.present? %>
                <p class="text-info-1 uppercase"><%= @talent.next_aventures.first.availability %></p>
              <% else %>
                <i class="red fas fa-exclamation-triangle"></i>
              <% end %>
            </div>
        </div>

      <hr class="separateur-show">

      <!-- Ligne texte -->
        <div class="grid space-between" id="grid-ligne-texte">

          <!-- Rêve remis à demain -->
            <div>
              <h4 class="titre-info-2">Le rêve que je remets à demain</h4>
              <% if @talent.next_aventures.first.overview.present?  %>
                <p class="text-info-2 more"> <%= @talent.next_aventures.first.overview %></p>
              <% else %>
                <p class="text-info-2">À compléter</p>
              <% end %>
            </div>

          <!-- La personnalité qui m'inspire -->
            <div>
              <h4 class="titre-info-2">La personnalité qui m'inspire</h4>
              <% if @talent.next_aventures.first.overview.present?  %>
                <p class="text-info-2 more"> <%= @talent.next_aventures.first.overview %></p>
              <% else %>
                <p class="text-info-2">À compléter</p>
              <% end %>
            </div>

          <!-- Un bon manager, c'est -->
            <div>
              <h4 class="titre-info-2">Un bon manager, c'est</h4>
              <% if @talent.next_aventures.first.overview.present?  %>
                <p class="text-info-2 more"> <%= @talent.next_aventures.first.overview %></p>
              <% else %>
                <p class="text-info-2">À compléter</p>
              <% end %>
            </div>

          <!-- Le travail effectué gratuitement serait -->
            <div>
              <h4 class="titre-info-2">Le travail effectué gratuitement serait</h4>
              <% if @talent.next_aventures.first.overview.present?  %>
                <p class="text-info-2 more"> <%= @talent.next_aventures.first.overview %></p>
              <% else %>
                <p class="text-info-2">À compléter</p>
              <% end %>
            </div>

        </div>

      <hr class="separateur-show">

      <div class="grid space-between" style="grid: auto auto / calc(70% - 25px) calc(30% - 25px); grid-auto-flow: column;">
        <!-- Je suis plutôt -->
          <h3 class="sous-titre-section">Je suis plutôt:</h3>

          <div class="grid space-between je-suis-plutot-grid">
            <!-- Chasseur / Eleveur -->
              <div class="slidecontainer grid slidecontainer-grid">
                <p class="titre-info-slider float-left">Chasseur</p>
                <input type="range" min="1" max="100" value="50" class="slider range-slider">
                <p class="titre-info-slider float-right">Éleveur</p>
              </div>

            <!-- Créatif / pragmatique -->
              <div class="slidecontainer grid slidecontainer-grid">
                <p class="titre-info-slider float-left">Créatif</p>
                <input type="range" min="1" max="100" value="50" class="slider range-slider">
                <p class="titre-info-slider float-right">Pragmatique</p>
              </div>
          </div>

        <!-- Je priorise -->
          <h3 class="sous-titre-section">Je priorise:</h3>

          <ol class="priority-list">
            <li class="priority-list-item">Les missions</li>
            <li class="priority-list-item">l'international</li>
            <li class="priority-list-item">L'ambiance</li>
          </ol>
      </div>

    </div>
  </div>
</div>

<div class="container-show">
  <div class="talent-left">



    <div class="talent-info">
    </div>

    <div class="lower-body-item lower-right-body">
      <div class="lower-right-body-item">
        <h4><i class="fas fa-sliders-h"></i> MES COMPÉTENCES</h4>
        <div class="talent-competences">
          <% @talent.talent_skills.each do |skill| %>
            <p><%= skill.skill.title %></p>
          <% end %>
        </div>
      </div>
      <div class="lower-right-body-item">
        <h4><i class="fas fa-search-plus"></i> LE PETIT +</h4>
        <div class="talent-competences">
          <% @talent.talent_hobbies.each do |hobby| %>
            <p><%= hobby.hobby.title %></p>
          <% end %>
        </div>
      </div>
    </div>


  </div>

  <div class="talent-right">
    <div class="talent-right-up">
      <% if current_user.is_a?(Talent) %>
        <p data-target= "modal_aventure" class= "modal-button btn-edition"><span> <i class="far fa-edit"></i></span></p>
      <% end %>
      <div class="right-up-item qui-suis-je">
        <h4>Qui suis-je ?</h4>
          <div class="text-right-up-item">
            <% if @talent.next_aventures.first && @talent.next_aventures.first.present? %>
              <p><%= @talent.next_aventures.first.no_more %></p>
            <% end %>
          </div>
      </div>
      <div class="right-up-item le-job-de-reve">
        <h4>Le job de rêve !</h4>
          <div class="text-right-up-item">
            <% if @talent.next_aventures.first.overview.present?  %>
              <p> <%= @talent.next_aventures.first.overview %></p>
            <% end %>
          </div>
      </div>
      <div class="right-up-item je-recherche">
        <h4>Je recherche</h4>
        <div class="space-between-vertical" style="height: calc(100% - 68px);">
          <div class="recherche-item">
            <% if @talent.next_aventures.first && @talent.next_aventures.first.contrat.present? %>
              <h5><%= @talent.next_aventures.first.contrat %></h5>
            <% end %>
            <p>CONTRAT</p>
          </div>
          <div class="recherche-item recherche-item-right">
            <h5><%= @talent.next_aventures.first && @talent.next_aventures.first.remuneration %></h5>
            <p>SALAIRE (k€ brut annuel)</p>
          </div>
          <div class="recherche-item">
            <% if @talent.next_aventures.first && @sectors.count > 0 %>
              <% @sectors.each do |sector| %>
                <h5><%= sector.sector.title.capitalize %></h5>
              <% end %>
            <% end %>
            <p>SECTEURS</p>
          </div>
          <div class="recherche-item recherche-item-right">
            <% if @talent.next_aventures.first && @talent.next_aventures.first.city.present?  %>
              <h5><%= @talent.next_aventures.first.city %></h5>
            <% end %>
            <p>VILLE</p>
          </div>
        </div>
      </div>
    </div>

    <div class="talent-right-down lower-body">
      <div class="lower-middle-body">
        <h4><i class="far fa-file-alt"></i> EXPÉRIENCES</h4>
        <% if current_user.is_a?(Talent) %>
          <p data-target= "modal_experience" class= "modal-button btn-edition"><span> <i class="far fa-edit"></i></span></p>
        <% end %>

        <div class="lower-body-item-content">
          <hr class="barre-pointee hidden-xs">
          <div class="talent-experiences">
            <% unless @currently.nil?  %>
              <div class="placement-point-barre">
                <div>
                  <div class="point-barre-pointee"></div>
                </div>
                <div class="placement-talent-experience">
                  <p class="experience-post"><%= @currently.position %></p>
                  <p class="experience-entreprise"><%= @currently.company_name %></p>
                  <p class="experience-duree"><%= @currently.starting %> - <%= @currently.currently ? "Aujourd’hui" : @currently.years %></p>
                  <p class="experience-desc"><%= @currently.overview %></p>
                </div>
              </div>
            <% end %>


            <% @experiences.reverse_each do |experience| %>
              <div class="placement-point-barre">
                <div>
                  <div class="point-barre-pointee"></div>
                </div>
                <div class="placement-talent-experience">
                  <p class="experience-post"><%= experience.position %></p>
                  <p class="experience-entreprise"><%= experience.company_name %></p>
                  <p class="experience-duree"><%= experience.starting %> - <%= experience.currently ? "Aujourd’hui" : experience.years %></p>
                  <p class="experience-desc"><%= experience.overview %></p>
                </div>
              </div>
            <% end %>

          </div>
        </div>
      </div>
      <div class="lower-middle-body">
        <h4><i class="fas fa-graduation-cap"></i> FORMATIONS</h4>
        <% if current_user.is_a?(Talent) %>
          <p data-target= "modal_formation" class= "modal-button btn-edition"><span> <i class="far fa-edit"></i></span></p>
        <% end %>
        <div class="lower-body-item-content">
          <hr class="barre-pointee hidden-xs">
          <div class="talent-experiences">

            <% @talent_formations.reverse_each do |formation| %>
              <div class="placement-point-barre">
                <div>
                  <div class="point-barre-pointee"></div>
                </div>
                <div class="placement-talent-experience">
                  <p class="experience-post"><%= formation.title %></p>
                  <p class="experience-entreprise"><%= formation.formation.title %></p>
                  <p class="experience-duree"><%= formation.year %></p>
                </div>
              </div>
            <% end %>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>


