<div class="container-fluid">

  <div id="modal_modalites_fin" class="modal">

    <div class="modal-content">

      <div class="modal-header" id="close_modal_modalites_fin">
        <h3>Modalités financières</h3>

        <span class="close">
          <p>&times;</p>
        </span>

      </div>
      <div class="modal-body margin-top-30">
        <p><em>Ce document vous permet de mieux comprendre les modalités en cas de recrutement d’un Talent, contacté sur notre plateforme. Cependant, seules les CGU (ci-dessous) ont valeur contractuelle.</em></p>

        <p>The Talentist, met en relation Talents &amp; Recruteurs sur notre plateforme. Cette <strong>offre est gratuite pour les candidats et au succès pour les recruteurs.</strong></p>
        <p>L’accès au Site <a href="https://www.thetalentist.com/">https://www.thetalentist.com/</a> est gratuit ainsi que l’utilisation de la plateforme. The Talentist facture des honoraires au recruteur seulement lorsque le recruteur et le candidat concluent un contrat de recrutement.</p>
        <p>The Talentist facture <strong>10% (dix pourcent) de la rémunération annuelle brute du Talent</strong> à l’acceptation de l’offre par le Talent.</p>
        <%= link_to cgu_employeurs_path, target: "_blank" do %>
          <p class="btn btn-connexion">Accéder aux CGU</p>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 px-0 d-none d-sm-block no-padding">
      <%= link_to root_path, class: "navbar-talentist-logo" do %>
        <%= image_tag "Illustrations_site-31.png", class: "login-img" %>
      <% end %>
    </div>
    <div class="col-sm-6 login-section-wrapper scroll" style="height: 100vh">
      <div class="brand-wrapper">
        <a href="https://thetalentist.com/" target="_blank" class="navbar-talentist-logo">
          <%= image_tag "Logo The talentist-01.png", class: "logo" %>
        </a>
      </div>
      <div class="login-wrapper my-auto">
        <h1 class="login-title">Je crée mon compte <strong>startup</strong></h1>
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= f.error_notification %>
            <%= f.input :firstname, 
              required: true, 
              autofocus: true, 
              label: "Prénom", 
              wrapper_html: { class: "col-md-6 margin-bottom-20" }
            %>

            <%= f.input :startup, 
              collection: Startup.all, 
              input_html: { class: "selectAndCreate" },
              wrapper_html: { class: "col-md-6 margin-bottom-20" }
            %>

            <%= f.input :email, 
              required: true, 
              autofocus: true, 
              label: "Email", 
              wrapper_html: { class: "col-md-12 margin-bottom-20" }
            %>

            <%= f.input :password, 
              required: true, 
              hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), 
              label: "Mot de passe", 
              wrapper_html: { class: "col-md-6 margin-bottom-20" } 
            %>
            <%= f.input :password_confirmation, 
              required: true, 
              label: "Confirmation du mot de passe",  
              wrapper_html: { class: "col-md-6 margin-bottom-20" }
            %>
            <%= f.input :phone, 
              required: true, 
              autofocus: false, 
              label: "Téléphone", 
              wrapper_html: { class: "col-md-12 margin-bottom-20" }, 
              error: f.object.errors.messages[:phone][0] 
            %>

            <%= f.input :terms_of_condition,
              wrapper_html: { class: "col-md-1 margin-bottom-20" },
              label: false
            %>
            <p class="col-md-11 margin-bottom-30">En vous inscrivant vous acceptez les <%= link_to "Conditions d'utilisations", cgu_talents_path, target: "_blank", style: "text-decoration:underline" %> de The Talentist.</p>

            <% if @show_checkbox_recaptcha %>
              <%= recaptcha_tags class: "col-md-12 margin-bottom-30" %>
            <% else %>
              <%= recaptcha_v3(action: 'registration', site_key: ENV['RECAPTCHA_SITE_KEY_V3']) %>
            <% end %>

            <div class="col-md-12 flex">
              <%= f.button :submit, 
                "S'enregistrer", 
                class: "btn-violet-square margin-right-30"
              %>
              <%= link_to 'Précédent', 
                new_session_path(resource_name), 
                class: "btn-violet-square-border" 
              %>
            </div>

        <% end %>
      </div>
    </div>
  </div>
</div>