 <div class="premiere-ligne">
      <h4>MESSAGERIE</h4>
    </div>
    <div class="index-talents">
      <% if @pending_conversations.count > 0 %>
        <h3>EN ATTENTE</h3>
        <%  @pending_conversations.each do |conversation| %>
          <% if current_user.is_a?(Headhunter) %>
            <%= link_to conversation_path(conversation) do %>
              <div class="conversation-card">
                <div class="photo-profil">
                  <div class="initiale">
                    <i class="fas fa-rocket"></i>
                  </div>
                  <div class="statut"></div>
                </div>

                <div class="conversation-text">
                  <% participant = conversation.participants - [current_user] %>
                  <% if participant[0].is_a?(Talent) %>
                    <p class="prenom-contact"> Talent - <%= participant[0].experiences.last.present? ? participant[0].experiences.last.position.capitalize : "" %> </p>
                  <% end %>
                  <p class="aperçu-message"><%= truncate(conversation.last_message.body, length: 20) %></p>
                </div>
              </div>
            <% end %>
          <% else %>
            <%= render 'conversation', :conversation => conversation %>
          <% end %>
        <% end %>
      <% end %>
      <h3>CONTACTÉS</h3>

      <%  @unread_conversations.each do |conversation| %>
        <%= render 'conversation', :conversation => conversation %>
      <% end %>

      <%  @read_accepted_conversations.each do |conversation| %>
        <!-- <#%= cache conversation do %> -->
          <%= render 'conversation', :conversation => conversation %>
        <!-- <#% end %> -->
      <% end %>

    </div>
