
<% if params[:talent_id] %>
  <%= link_to talent_conversation_path(params[:talent_id],conversation) do %>
    <div class="conversation-card">
      <div class="photo-profil">
        <div class="initiale">
          <% if conversation.participants.count > 1 %>
            <% parti = conversation.participants - [Talent.find(params[:talent_id])] %><%= parti[0].firstname.split(//).first.upcase %>
          <% end %>
        </div>
        <div class="statut"></div>
      </div>

      <div class="conversation-text <%= "strong-color" if conversation.is_unread?(Talent.find(params[:talent_id])) %>">
        <% if conversation.participants.count > 1 %>
          <p class="prenom-contact"><% parti = conversation.participants - [Talent.find(params[:talent_id])] %><%= parti[0].firstname %></p>
          <p class="apercu-message"><%= conversation.messages.last.body %></p>
        <% end %>
      </div>
    </div>
  <% end %>

<% elsif params[:headhunter_id] %>
  <%= link_to headhunter_conversation_path(params[:headhunter_id], conversation) do %>
    <div class="conversation-card">
      <div class="photo-profil">
        <div class="initiale">
          <% if conversation.participants.count > 1 %>
            <% parti = conversation.participants - [Headhunter.find(params[:headhunter_id])] %><%= parti[0].firstname.split(//).first.upcase %>
          <% end %>
        </div>
        <div class="statut"></div>
      </div>


      <div class="conversation-text <%= conversation.is_unread?(Headhunter.find(params[:headhunter_id])) ? "strong-color" : "" %>">
        <% if conversation.participants.count > 1 %>
          <p class="prenom-contact"><% parti = conversation.participants - [Headhunter.find(params[:headhunter_id])] %><%= parti[0].firstname %></p>
          <p class="apercu-message"><%= conversation.messages.last.body %></p>
        <% end %>
      </div>
    </div>
  <% end %>

<% else %>
  <%= link_to conversation_path(conversation) do %>
    <div class="conversation-card">
      <div class="photo-profil">
        <div class="initiale">
          <% if conversation.participants.count > 1 %>
            <% parti = conversation.participants - [current_user] %><%= parti[0].firstname.split(//).first.upcase %>
          <% end %>
        </div>
        <div class="statut"></div>
      </div>

      <div class="conversation-text <%= "strong-color" if conversation.is_unread?(current_user) %>">
        <% if conversation.participants.count > 1 %>
          <p class="prenom-contact"><% parti = conversation.participants - [current_user] %><%= parti[0].firstname %></p>
          <p class="apercu-message"><%= conversation.messages.last.body %></p>
        <% end %>
      </div>
    </div>
  <% end %>

<% end %>

