<!-- partie gauche -->
<% if receipt.message.sender != @participant %>
  <div class="message right">
    <div class="avatar">
      <% if @user.photo.present? %>
        <%= cl_image_tag @user.photo.url(:bright_face) %>
      <% else %>
        <p><%= @user.firstname.split(//).first.upcase %>
      <% end %>
    </div>
    <p class="x-commented"><%= receipt.message.sender.firstname %></p>
    <%= simple_format(receipt.message.body, class: 'the-message') %>
    <% if receipt.message.attachment.url.present? %>
      <p class="the-message"><%= link_to  "Document envoyé", receipt.message.attachment.url, target: "_blank" %></p>
    <% end %>
  </div>
<!-- partie droite -->
<% else %>
  <div class="message left">
    <div class="avatar">
      <% if @participant.photo.present? %>
        <%= cl_image_tag @participant.photo.url(:bright_face) %>
      <% else %>
        <p><%= @participant.firstname.split(//).first.upcase %>
      <% end %>
    </div>
    <p class="x-commented"><%= receipt.message.sender.firstname %></p>
    <%= simple_format(receipt.message.body, class: 'the-message') %>
    <% if receipt.message.attachment.url.present? %>
      <p class="the-message"><%= link_to  "Document envoyé", receipt.message.attachment.url, target: "_blank" %></p>
    <% end %>
  </div>
<% end %>
