<%= render "shared/navbar" %>


<div class="fenetre-ecran">


  <div class="colonne col-gauche bordure-droite">
    <div class="premiere-ligne">
      <h4>MESSAGERIE</h4>
    </div>
    <div class="index-talents">

      <h3>EN ATTENTE</h3>
        <%  @pending_conversations.each do |conversation| %>
         <%= render 'conversation', :conversation => conversation %>
        <% end %>
      <h3>CONTACTÉS</h3>

      <br>
      <%  @unread_conversations.reverse_each do |conversation| %>
        <%= render 'conversation', :conversation => conversation %>
      <% end %>

    <br>

      <%  @read_accepted_conversations.reverse_each do |conversation| %>
        <%= render 'conversation', :conversation => conversation %>
      <% end %>

      <%  @read_accepted_conversations.reverse_each do |conversation| %>
        <%= render 'conversation', :conversation => conversation %>
      <% end %>
    </div>
  </div>

  <div class="colonne col-centre bordure-droite">
    <div class="premiere-ligne nom-discussion">
      <!-- div Prénom Nom et poste  -->
      <% if @participant.is_a?(Headhunter) %>
        <h2><%= @participant.firstname.capitalize %> de <%= @participant.startup.name.capitalize %></h2>
        <p> <%= @participant.job.capitalize %> </p>
      <% elsif @participant.is_a?(Talent)%>
        <h2><%= @participant.firstname.capitalize %> <%= @participant.name.capitalize %></h2>
        <p> <%= @participant.experiences.last.position.capitalize %> </p>

      <% else %>
        <h2><%= @participant.firstname.capitalize %> <%= @participant.name.capitalize %></h2>
        <p> Chargé digitale TODO </p>
      <% end %>
    </div>

      <!-- div link vers profil -->


    <div class="conversation">
      <div class="link-profil">
        <% if current_user.is_a?(Talent) %>
          <% if @participant.is_a?(Headhunter) %>
            <%= link_to headhunter_path(@participant) do %>
              <p>Vous pouvez accéder au profil de <%= @participant.startup.name.capitalize %></p>
              <p>Visiter le profil > </p>
            <% end %>
          <% end %>
        <% elsif current_user.is_a?(Headhunter)%>
          <% if @relationship && @relationship.status == "Accepter" %>
            <%= link_to talent_path(@participant) do %>
              <p>Vous pouvez accéder au profil de <%= @participant.firstname.capitalize %></p>
              <p>Visiter le profil > </p>
            <% end %>
          <% end %>
        <% else %>

        <% end %>
      </div>
      <!-- div conversation -->
      <% @conversation.receipts_for(current_user).reverse_each do |receipt| %>

        <!-- partie gauche -->
        <% if receipt.message.sender == @participant %>
          <div class="message left">
            <div class="avatar">
              <% if @participant.photo.present? %>
                <%= cl_image_tag @participant.photo.url(:bright_face) %>
              <% else %>
                <p><%= @participant.firstname.split(//).first.upcase %>
              <% end %>
            </div>
            <p class="x-commented"><%= receipt.message.sender.firstname %></p>
            <p class="the-message"><%= receipt.message.body %></p>
          </div>
        <!-- partie droite -->
        <% else %>
          <div class="message right">
            <div class="avatar">
              <% if current_user.photo.present? %>
                <%= cl_image_tag current_user.photo.url(:bright_face) %>
              <% else %>
                <p><%= current_user.firstname.split(//).first.upcase %>
              <% end %>
            </div>
            <p class="x-commented"><%= receipt.message.sender.firstname %></p>
            <p class="the-message"><%= receipt.message.body %></p>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="boite-envoi">

      <%= form_for @message, url: conversation_messages_path(@conversation) do |f|  %>
        <%= f.text_area :body, placeholder: "Écrivez votre message..." %>
        <%= f.file_field :attachment %>
        <i class="fas fa-paperclip"></i>
        <%= f.submit "Envoyer" %>
      <% end %>

    <!-- div accepter la relation -->

        <% if current_user.is_a?(Talent) && @connexion %>
          <% if @relationship.status == "pending"  %>
            <div class="accept-relation">
              <%= simple_form_for :current_user, method: :put do |f| %>
                <%= f.simple_fields_for @relationship do |u| %>
                  <%= u.submit "Accepter" %>
                  <%= u.submit "Refuser" %>
                <% end %>
              <% end %>
            </div>
          <% end %>
        <% else %>
        <% end %>

    </div>




  </div>

  <div class="colonne col-droite">
    <div class="premiere-ligne">
      <h4>Documents échangés</h4>
    </div>
    <div class="doc-echanges"></div>
  </div>


</div>













