

<div class="fenetre-ecran relative">
  <div class="colonne bordure-droite modal" id="modal_conversations" style="padding: 0% 22% 0% 0%;">
    <span class="close" id="close_modal_conversations">
        <p>&times;</p>
      </span>
    <div class="modal-content" style="padding: 0; height: 100%; animation-name: animateleft;">
      <%= render 'conversations' %>
    </div>
  </div>
  <div class="modal-button absolute visible-xs" style="top: 65%; background-color: white; border: 1px solid gray; padding: 7px; z-index: 2;" data-target="modal_conversations">
     <i class="fa fa-bars" style="color: black;"></i>
  </div>

  <div class="colonne col-gauche bordure-droite hidden-xs">
    <%= render 'conversations' %>
  </div>

  <div class="colonne col-centre bordure-droite">
    <div class="premiere-ligne nom-discussion">
      <!-- div Prénom Nom et poste  -->
      <% if @participant.is_a?(Talent) %>
        <% if @relationship && @relationship.status == "Accepter" %>
          <h2><%= @participant.firstname.capitalize %> <%= @participant.name.capitalize %></h2>
          <p> <%= @participant.experiences.last.position.capitalize %> </p>
        <% else %>
          <% if @participant.experiences.present? && @participant.experiences.last.position.present? %>
            <h2><%= @participant.experiences.last.position.capitalize %></h2>
          <% else %>
            <h2>Talent - Position à remplire</h2>
          <% end %>
          <p>En attente ...</p>
        <% end %>
      <% elsif @participant.is_a?(Headhunter)%>
        <h2><%= @participant.firstname.capitalize %> de <%= @participant.startup.name.capitalize %></h2>
        <p> <%= @participant.job.capitalize %> </p>

      <% else %>
        <h2><%= @participant.firstname.capitalize %> <%= @participant.name.capitalize %></h2>
        <p> Chargé digitale TODO </p>
      <% end %>
    </div>

    <!-- div link vers profil -->
    <div class="link-profil">
      <% if current_user.is_a?(Talent) %>
        <% if @participant.is_a?(Headhunter) %>
          <%= link_to headhunter_path(@participant) do %>
            <p>Vous pouvez accéder au profil de <%= @participant.startup.name.capitalize %></p>
            <p>Visiter le profil > </p>
          <% end %>
        <% end %>
      <% elsif current_user.is_a?(Headhunter) %>
        <% if @relationship && @relationship.status == "Accepter" %>
          <%= link_to talent_path(@participant) do %>
            <p>Vous pouvez accéder au profil de <%= @participant.firstname.capitalize %></p>
            <p>Visiter le profil > </p>
          <% end %>
        <% end %>
      <% else params[:headhunter_id] || params[:talent_id] || current_user.is_a?(Talentist)%>
        <% if @participant.is_a?(Headhunter) %>
            <%= link_to headhunter_path(@participant) do %>
              <p>Vous pouvez accéder au profil de <%= @participant.startup.name.capitalize %></p>
              <p>Visiter le profil > </p>
            <% end %>
        <% else @participant.is_a?(Talent)%>
          <%= link_to talent_path(@participant) do %>
            <p>Vous pouvez accéder au profil de <%= @participant.firstname.capitalize %></p>
            <p>Visiter le profil > </p>
          <% end %>
        <% end %>
      <% end %>
    </div>

    <div class="conversation">

      <!-- div conversation -->
      <% @messages.each do |receipt| %>
        <%= render 'conversations/messages', receipt: receipt %>

      <% end %>
    </div>
    <div class="boite-envoi">

      <%= form_for @message, url: conversation_messages_path(@conversation) do |f|  %>
        <%= f.text_area :body, placeholder: "Écrivez votre message..." %>
        <div class="send-bar">
          <label for="mailboxer_message_attachment" class="label-file-mailboxer" name="mailboxer_message[attachment]"><i class="fas fa-paperclip"></i></label>
          <%= f.file_field :attachment, :style => "display: none" %>
          <p href="#" id="uploadFile">Aucun fichier</p>
          <%= f.submit "Envoyer", :class => "btn-envoyer" %>
        </div>

      <% end %>

    <!-- div accepter la relation -->
      <% if current_user.is_a?(Talent) && @connexion %>
        <% if @relationship.status == "pending"  %>
          <div class="accept-relation">
            <%= simple_form_for :current_user, method: :put do |f| %>
              <%= f.simple_fields_for @relationship do |u| %>
                <%= u.submit "Accepter" %>
                <%= u.submit "Refuser" %>
              <% end %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    <!-- bloqué pour Talentist -->
      <% if params[:headhunter_id] || params[:talent_id] %>
        <div class="accept-relation center-text">
          <p>Vous ne pouvez pas écrire de message sur cette conversation car votre profil n'est pas 'visible'</p>
        </div>
      <% end %>

      <% if current_user.is_a?(Talent) && !current_user.visible && !@participant.is_a?(Talentist) %>
        <div class="accept-relation center-text">
          <p>Vous ne pouvez plus écrire de message, car votre profil n'est plus visible. Si vous souhaitez changer votre status contactez <%= Talentist.where(admin: true).first.firstname.capitalize %> via la plateforme</p>
        </div>
      <% end %>
      <% if @participant.is_a?(Talent) && !@participant.visible && !current_talentist %>
        <div class="accept-relation center-text">
          <p>Vous ne pouvez pas écrire de message sur cette conversation, car <%= @participant.firstname %> <%= @participant.name %>n'a plus son profil actif</p>
        </div>
      <% end %>

    </div>
  </div>

  <div class="colonne col-droite hidden-xs hidden-sm">
    <div class="premiere-ligne">
      <h4>Documents échangés</h4>

    </div>
    <div class="doc-echanges">
      <% @conversation.messages.each do |message| %>
        <% if message.attachment.url.present? %>
          <%= link_to message.attachment.url, target: "_blank", :format => 'pdf' do %>
            <i class="far fa-file-pdf"></i>
            <p>Document envoyé</p>
            <br>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>


</div>













