<%= render "shared/navbar" %>


<div class="fenetre-ecran">


  <div class="colonne col-gauche bordure-droite">
    <div class="premiere-ligne">
      <h4>MESSAGERIE</h4>
    </div>
    <div class="index-talents">

      <%  @conversations.each do |conversation| %>

        <!-- div connexion pas encore accepté -->


        <!-- div connexion accepté -->
          <%= link_to conversation_path(conversation) do %>
            <% parti = conversation.participants - [current_user] %><%= parti[0].firstname %> <br>
            <%= truncate(conversation.messages.last.body, length: 20) %> <br>
          <% end %>



      <% end %>
    </div>
  </div>

  <div class="colonne col-centre bordure-droite">
    <div class="premiere-ligne nom-discussion">
      <!-- div Prénom Nom et poste  -->
      <% if @participant.is_a?(Headhunter) %>
        <h2><%= @participant.firstname.capitalize %> de <%= @participant.startup.name.capitalize %></h2>
        <p> <%= @participant.job.capitalize %> </p>
      <% elsif @participant.is_a?(Talent)%>
        <h2><%= @participant.firstname.capitalize %> <%= @participant.name.capitalize %></h2>
        <p> <%= @participant.experiences.last.position.capitalize %> </p>

      <% else %>
        <h2><%= @participant.firstname.capitalize %> <%= @participant.name.capitalize %></h2>
        <p> Chargé digitale TODO </p>
      <% end %>
    </div>
    <div class="conversation">

      <!-- div link vers profil -->

      <% if current_user.is_a?(Talent) %>
        <% if @participant.is_a?(Headhunter) %>
          <%= link_to headhunter_path(@participant) do %>
            <p>Vous pouvez accéder au profil de <%= @participant.startup.name.capitalize %></p>
            <p>Visiter le profil > </p>
          <% end %>
        <% end %>
      <% elsif current_user.is_a?(Headhunter)%>
        <% if @relationship && @relationship.status == "Accepter" %>
          <%= link_to talent_path(@participant) do %>
            <p>Vous pouvez accéder au profil de <%= @participant.firstname.capitalize %></p>
            <p>Visiter le profil > </p>
          <% end %>
        <% end %>
      <% else %>

      <% end %>


      <!-- div conversation -->
      <% @conversation.receipts_for(current_user).reverse_each do |receipt| %>

        <!-- partie gauche -->
        <% if receipt.message.sender == @participant %>
          <div class="message left">
            <% if @participant.photo.present? %>
              <%= cl_image_tag @participant.photo.url(:bright_face) %>
            <% else %>
              <p><%= @participant.firstname.split(//).first.upcase %>
            <% end %>
            <p><%= receipt.message.sender.firstname %> commented:</p>
            <p><%= receipt.message.body %></p>
          </div>
        <!-- partie droite -->
        <% else %>
          <div class="message right">
            <% if current_user.photo.present? %>
              <%= cl_image_tag current_user.photo.url(:bright_face) %>
            <% else %>
              <p><%= current_user.firstname.split(//).first.upcase %>
            <% end %>
            <p><%= receipt.message.sender.firstname %> commented:</p>
            <p><%= receipt.message.body %></p>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="boite-envoi">
      <%= simple_form_for conversation_messages_path(@conversation), method: :post do |f| %>
        <%= f.input :body %>
        <%= f.input :attachment %>
        <%= f.input :attachment, as: :hidden %>
        <%= f.submit %>
      <% end %>
    </div>

    <!-- div accepter la relation -->

    <% if current_user.is_a?(Talent) && @connexion %>
      <% if @relationship.status == "pending"  %>
        <%= simple_form_for :current_user, method: :put do |f| %>
          <%= f.simple_fields_for @relationship do |u| %>
            <%= u.submit "Accepter" %>
            <%= u.submit "Refuser" %>
          <% end %>
        <% end %>
      <% end %>
    <% else %>
    <% end %>

  </div>

  <div class="colonne col-droite">
    <div class="premiere-ligne">
      <h4>Documents échangés</h4>
    </div>
    <div class="doc-echanges"></div>
  </div>


</div>













