<%= render "shared/navbar" %>


<div class="fenetre-ecran">


  <div class="colonne col-gauche bordure-droite hidden-xs">
    <div class="premiere-ligne">
      <h4>MESSAGERIE</h4>
    </div>
    <div class="index-talents">

      <h3>EN ATTENTE</h3>

        <%  @pending_conversations.each do |conversation| %>
          <% if current_user.is_a?(Headhunter) %>
            <%= link_to conversation_path(conversation) do %>
              <div class="conversation-card">
                <div class="photo-profil">
                  <div class="initiale">
                    <p><i class="fas fa-rocket"></i></p>
                  </div>
                  <div class="statut"></div>
                </div>

                <div class="conversation-text">
                  <% participant = conversation.participants - [current_user] %>
                  <p class="prenom-contact"> Talent - <%= participant[0].experiences.last.position.capitalize %> </p>
                  <p class="aperçu-message"><%= truncate(conversation.messages.last.body, length: 20) %></p>
                </div>
              </div>
            <% end %>
          <% else %>
            <%= render 'conversation', :conversation => conversation %>
          <% end %>

        <% end %>
      <h3>CONTACTÉS</h3>

      <%  @unread_conversations.each do |conversation| %>
        <%= render 'conversation', :conversation => conversation %>
      <% end %>

      <%  @read_accepted_conversations.each do |conversation| %>
        <%= render 'conversation', :conversation => conversation %>
      <% end %>

    </div>
  </div>

  <div class="colonne col-centre bordure-droite">
    <div class="premiere-ligne nom-discussion">
      <!-- div Prénom Nom et poste  -->
      <% if @participant.is_a?(Talent) %>
        <% if @relationship && @relationship.status == "Accepter" %>
          <h2><%= @participant.firstname.capitalize %> <%= @participant.name.capitalize %></h2>
          <p> <%= @participant.experiences.last.position.capitalize %> </p>
        <% else %>
          <% if @participant.experiences.present? && @participant.experiences.last.position.present? %>
          <% else %>
            <h2>Talent - Position à remplire</h2>
          <% end %>
          <p>En attente ...</p>
        <% end %>
      <% elsif @participant.is_a?(Headhunter)%>
        <h2><%= @participant.firstname.capitalize %> de <%= @participant.startup.name.capitalize %></h2>
        <p> <%= @participant.job.capitalize %> </p>

      <% else %>
        <h2><%= @participant.firstname.capitalize %> <%= @participant.name.capitalize %></h2>
        <p> Chargé digitale TODO </p>
      <% end %>
    </div>

    <!-- div link vers profil -->
    <div class="link-profil">
      <% if current_user.is_a?(Talent) %>
        <% if @participant.is_a?(Headhunter) %>
          <%= link_to headhunter_path(@participant) do %>
            <p>Vous pouvez accéder au profil de <%= @participant.startup.name.capitalize %></p>
            <p>Visiter le profil > </p>
          <% end %>
        <% end %>
      <% elsif current_user.is_a?(Headhunter)%>
        <% if @relationship && @relationship.status == "Accepter" %>
          <%= link_to talent_path(@participant) do %>
            <p>Vous pouvez accéder au profil de <%= @participant.firstname.capitalize %></p>
            <p>Visiter le profil > </p>
          <% end %>
        <% end %>
      <% else %>

      <% end %>
    </div>

    <div class="conversation">

      <!-- div conversation -->
      <% @messages.each do |receipt| %>

        <!-- partie gauche -->
        <% if receipt.message.sender == @participant %>
          <div class="message left">
            <div class="avatar">
              <% if @participant.photo.present? %>
                <%= cl_image_tag @participant.photo.url(:bright_face) %>
              <% else %>
                <p><%= @participant.firstname.split(//).first.upcase %>
              <% end %>
            </div>
            <p class="x-commented"><%= receipt.message.sender.firstname %></p>
            <%= simple_format(receipt.message.body, class: 'the-message') %>
            <% if receipt.message.attachment.url.present? %>
              <p class="the-message"><%= link_to  "Document envoyé", receipt.message.attachment.url, target: "_blank" %></p>
            <% end %>
          </div>
        <!-- partie droite -->
        <% else %>
          <div class="message right">
            <div class="avatar">
              <% if current_user.photo.present? %>
                <%= cl_image_tag current_user.photo.url(:bright_face) %>
              <% else %>
                <p><%= current_user.firstname.split(//).first.upcase %>
              <% end %>
            </div>
            <p class="x-commented"><%= receipt.message.sender.firstname %></p>
            <%= simple_format(receipt.message.body, class: 'the-message') %>
            <% if receipt.message.attachment.url.present? %>
              <p class="the-message"><%= link_to  "Document envoyé", receipt.message.attachment.url, target: "_blank" %></p>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="boite-envoi">

      <%= form_for @message, url: conversation_messages_path(@conversation) do |f|  %>
        <%= f.text_area :body, placeholder: "Écrivez votre message..." %>
        <%= f.file_field :attachment %>
        <i class="fas fa-paperclip"></i>
        <%= f.submit "Envoyer" %>
      <% end %>

    <!-- div accepter la relation -->

        <% if current_user.is_a?(Talent) && @connexion %>
          <% if @relationship.status == "pending"  %>
            <div class="accept-relation">
              <%= simple_form_for :current_user, method: :put do |f| %>
                <%= f.simple_fields_for @relationship do |u| %>
                  <%= u.submit "Accepter" %>
                  <%= u.submit "Refuser" %>
                <% end %>
              <% end %>
            </div>
          <% end %>
        <% end %>

    </div>
  </div>

  <div class="colonne col-droite hidden-xs hidden-sm">
    <div class="premiere-ligne">
      <h4>Documents échangés</h4>

    </div>
    <div class="doc-echanges">
      <% @conversation.messages.each do |message| %>
        <% if message.attachment.url.present? %>
          <%= link_to message.attachment.url, target: "_blank", :format => 'pdf' do %>
            <i class="far fa-file-pdf"></i>
            <p>Document envoyé</p>
            <br>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>


</div>













