<%= render "shared/navbar" %>

<div class="forgot_password">

  <h2>Vous souhaitez <strong>réinitialiser</strong> votre mot de passe ?</h2>

  <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <div class="forgot_password_grid">
      <%= f.error_notification %>

      <%= f.input :email, required: true, autofocus: true %>

      <%= f.button :submit, "Réinitialiser mon mot de passe", :class => "submit_forgot_password" %>
    </div>

  <% end %>

  <%= render "headhunters/shared/links" %>

</div>

<%= render "shared/footer" %>
