<% if headhunter_signed_in? && current_headhunter %>

  <!-- Avatar with dropdown menu -->
  <div class="navbar-wagon-item">
    <div class="dropdown">
      <% if current_headhunter.photo.present? %>
        <%= cl_image_tag current_headhunter.photo.url(:small_bright_face) class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
      <% else %>
        <div class="photo-profil avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">
          <div class="initiale">
            <p style="font-size: 14px; font-weight: 400; margin: 0; color: white;"><%= headhunter.initial %></p>
          </div>
        </div>
      <% end %>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li>
          <%= link_to headhunter_path(current_headhunter) do %>
            <i class="fa fa-user"></i> <%= t(".profil", default: "Profil") %>
          <% end %>
        </li>
        <li>
          <%= link_to destroy_headhunter_session_path, method: :delete do %>
            <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>

<% elsif talent_signed_in? && current_talent %>

  <!-- Avatar with dropdown menu -->
  <div class="navbar-wagon-item">
    <div class="dropdown">
      <% if current_talent.photo.present? %>
        <%= cl_image_tag current_talent.photo.url(:small_bright_face), class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
      <% elsif current_talent.display_linkedin? %>
        <%= cl_image_tag current_talent.linkedin_picture_url, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
      <% else %>
        <div class="photo-profil avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">
          <div class="initiale">
            <p style="font-size: 14px; font-weight: 400; margin: 0; color: white;"><%= current_talent.firstname.split(//).first.upcase %><%= current_talent.last_name.split(//).first.upcase %></p>
          </div>
        </div>
      <% end %>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li>
          <%= link_to talent_path(current_talent) do %>
            <i class="fa fa-user"></i> <%= t(".profil", default: "Profil") %>
          <% end %>
        </li>
        <!-- <li>
          <#%= link_to "#" do %>
            <i class="fa fa-cog"></i>  <#%= t(".settings", default: "Settings") %>
          <#% end %>
        </li> -->
        <li>
          <%= link_to destroy_talent_session_path, method: :delete do %>
            <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>

<% elsif talentist_signed_in? && current_talentist %>

  <!-- Avatar with dropdown menu -->
  <div class="navbar-wagon-item">
    <div class="dropdown">
      <% if current_talentist.photo.present? %>
        <%= cl_image_tag current_talentist.photo, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
      <% else %>
        <div class="photo-profil avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">
          <div class="initiale">
            <p style="font-size: 14px; font-weight: 400; margin: 0; color: white;">DM</p>
          </div>
        </div>
      <% end %>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <!-- <li>
          <#%= link_to talent_path(current_talent) do %>
            <i class="fa fa-user"></i> <#%= t(".profil", default: "Profil") %>
          <#% end %>
        </li> -->
        <!-- <li>
          <#%= link_to "#" do %>
            <i class="fa fa-cog"></i>  <#%= t(".settings", default: "Settings") %>
          <#% end %>
        </li> -->
        <li>
          <%= link_to destroy_talentist_session_path, method: :delete do %>
            <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>

<% else %>

<% end %>
