<div class="row input-none">
  <label for="avatar-upload<%= f.object.name %>" class="col-lg-1 margin-right-15 no-padding btn-avatar" data-target="<%= f.object.name %>" id="edit-photo">
    <div class="cercle relative hidden" id="div_img_prev<%= f.object.name %>" style="height: 70px; width: 70px; cursor: pointer;">
      <img id="img_prev<%= f.object.name %>" width=70 height=70 src="#" alt="your image" class=" cercle "/>
      <i class="fas fa-edit white absolute-center" style="font-size: 25px"></i>
    </div>
    <div id="no_img<%= f.object.name %>">
      <% if f.object.is_a?(Startup) %>
        <% if f.object.logo? %>
          <%= render 'talents/edit-photo', f: f.object %>
        <% else %>
          <div class="cercle gray-background center-text" style="height: 70px; width: 70px; cursor: pointer;">
            <i class="fas fa-edit white" style="font-size: 25px"></i>
          </div>
        <% end %>
      <% else %>
        <% if f.object.photo? %>
          <%= render 'talents/edit-photo', f: f.object %>
        <% else %>
          <div class="cercle gray-background center-text" style="height: 70px; width: 70px; cursor: pointer;">
            <i class="fas fa-edit white" style="font-size: 25px"></i>
          </div>
        <% end %>
      <% end %>
    </div>
  </label>

  <% if f.object.is_a?(Startup) %>
    <%= f.file_field :logo, as: :hidden, id:"avatar-upload#{f.object.name}" %>
  <% else %>
    <%= f.file_field :photo, as: :hidden, id:"avatar-upload#{f.object.name}" %>
  <% end %>


  <label for="avatar-upload<%= f.object.name %>" class="col-lg-1 label-edit no-margin no-padding btn-avatar" data-target="p<%= f.object.name %>" style="line-height: 70px; cursor: pointer;">Modifier</label>
  <p class="col-lg-10">Votre photo est trop large : essayez d'en importer une moins lourde &#128521;</p>
</div>
