<div id="modal_<%= talent[:id] %>" class="modal">
  <!-- Modal content -->
  <div class="modal-content">

    <div class="modal-header" id="relation" data-url="<%= relationships_path %>">
      <% if talent[:position].present? %>
        <h3><%= talent[:position].capitalize %></h3>
      <% end %>
      <div id="relation_<%= talent[:id] %>" class="hidden-xs">
        <% if current_user.is_a?(Headhunter) %>
          <% if Talent.find(talent[:id]).is_connected_to?(@headhunter) %>
            <%= render 'headhunters/relationship', headhunter: @headhunter, talent: Talent.find(talent[:id]) %>
          <% else %>
            <%= render 'relationships/form', headhunter: @headhunter, talent: Talent.find(talent[:id]) %>
          <% end %>
        <% end %>
      </div>
      <span class="close" id="close_modal_<%= talent[:id] %>">
        <p>&times;</p>
      </span>
    </div>

    <div class="modal-body">
      <div class="upper-body">
        <div class="upper-left-body">
          <div class="talent-info">
            <div class="talent-info-item card-dispsition">
              <p class="icon-margin-right icon-green-color"><i class="fas fa-map-marker-alt"></i></p>
              <p><%= talent[:city] %></p>
            </div>
            <div class="talent-info-item card-dispsition">
              <p class="icon-margin-right icon-green-color"><i class="fas fa-code-branch"></i></p>
              <% if talent[:btoc] && talent[:btob] %>
                <p> BtoB & BtoC</p>
              <% elsif talent[:btob] %>
                <p>BtoB</p>
              <% elsif talent[:btoc] %>
                <p>BtoC</p>
              <% else %>
                <p>Pas renseigné</p>
              <% end %>
            </div>
            <div class="talent-info-item card-dispsition">
              <p class="icon-margin-right icon-green-color"><i class="fas fa-briefcase"></i></p>
              <p>CDI</p>
            </div>
            <div class="talent-info-item card-dispsition">
              <p class="icon-margin-right icon-green-color"><i class="far fa-compass"></i></p>
              <% if talent[:next_aventure][:sector].present? %>
                <p><%= talent[:next_aventure][:sector].capitalize %></p>
              <% else %>
                <p>A remplir</p>
              <% end %>
            </div>
            <div class="card-dispsition">
              <p class="icon-margin-right icon-green-color"><i class="far fa-calendar"></i></p>
              <% if talent[:year_experience_job].present? %>
                <p><%= talent[:year_experience_job] %> ans d'expériences</p>
              <% else %>
                <p>Pas renseigné</p>
              <% end %>
            </div>
          </div>
          <div class="talent-school">
            <% talent[:formations].each do |talent_formation| %>
              <p class="blue-background talent-school-item"><i class="fas fa-graduation-cap"></i><%= talent_formation[:type_of_formation].present? ? talent_formation[:type_of_formation] : "" %>, <%=talent_formation[:title] %> - <%= talent_formation[:year] %></p>



            <% end %>
          </div>
        </div>
        <div class="upper-right-body">
          <p class="talent-metier"><i class="fas fa-search"></i> <%=talent[:job].present? ? talent[:job].upcase : "Pas renseigné" %></p>
          <div class="illu-card illu-modal"></div>
        </div>
      </div>
      <div class="lower-body">
        <div class="lower-body-item lower-left-body">
          <h4><i class="far fa-id-badge"></i> PROFIL</h4>
          <div class="lower-body-item-content">
            <div>
              <h5>La personnalité qui m'inspire ?</h5>
                <% if talent[:next_aventure].present? %>
                  <p class="margin-right-15 no-margin-xs texte-rubrique-3 more"> <%= talent[:next_aventure][:famous_person].present? ? talent[:next_aventure][:famous_person] : "Le talent n'a pas souhaité répondre à cette question." %></p>
                <% else %>
                  <p class="margin-right-15 no-margin-xs texte-rubrique-3 more">Le talent n'a pas souhaité répondre à cette question.</p>
                <% end %>
            </div>
            <div>
              <h5>Le job de mes rêves</h5>
                <% if talent[:next_aventure].present? %>
                  <p class="margin-right-15 no-margin-xs texte-rubrique-3 more"> <%= talent[:next_aventure][:work_for_free].present? ? talent[:next_aventure][:work_for_free] : "Le talent n'a pas souhaité répondre à cette question." %> </p>
                <% else %>
                  <p class="margin-right-15 no-margin-xs texte-rubrique-3 more">Le talent n'a pas souhaité répondre à cette question.</p>
                <% end %>
            </div>
          </div>
        </div>
        <div class="lower-body-item lower-middle-body">
          <h4><i class="far fa-file-alt"></i> EXPÉRIENCES</h4>
          <div class="lower-body-item-content">
            <hr class="barre-pointee">
            <div class="talent-experiences">
              <% if  %>

              <% end %>
              <% talent[:experiences].each do |experience| %>
                <% if experience[:currently] %>
                  <div class="placement-point-barre">
                    <div>
                      <div class="point-barre-pointee"></div>
                    </div>
                    <div class="placement-talent-experience">
                      <p class="experience-post"><%= experience[:position].present? ? experience[:position] : "Pas renseigné" %></p>
                      <p class="experience-entreprise"><%= experience[:company_type].present? ? experience[:company_type] : "Pas renseigné" %></p>
                      <p class="experience-duree"><%= experience[:starting] %> - <%= experience[:currently] %></p>
                    </div>
                  </div>
                <% end %>
              <% end %>
              <% talent[:experiences].each do |experience| %>
                <% if experience[:currently] %>
                  <div class="placement-point-barre">
                    <div>
                      <div class="point-barre-pointee"></div>
                    </div>
                    <div class="placement-talent-experience">
                      <p class="experience-post"><%= experience[:position].present? ? experience[:position] : "Pas renseigné" %></p>
                      <p class="experience-entreprise"><%= experience[:company_type].present? ? experience[:company_type] : "Pas renseigné" %></p>
                      <p class="experience-duree"><%= experience[:starting] %> - <%= experience[:currently] %></p>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
        <div class="lower-body-item lower-right-body">
          <div class="lower-right-body-item">
            <h4><i class="fas fa-sliders-h"></i> COMPÉTENCES</h4>
            <div class="talent-competences">
              <% unless talent[:technos].nil? %>
                <% talent[:technos].each do |talent_techno| %>
                  <p><%= talent_techno[:title] %></p>
                <% end %>
              <% end %>
            </div>
          </div>
          <div class="lower-right-body-item">
            <h4><i class="fas fa-search-plus"></i> MES +</h4>
            <div class="talent-competences">
              <% unless talent[:your_small_plus].nil? %>
                <% talent[:your_small_plus].each do |your_small_plu| %>
                  <p><%= your_small_plu[:description] %></p>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
        <div id="relation_<%= talent[:id] %>" class="hidden visible-xs">
          <% if current_user.is_a?(Headhunter) %>
            <% if Talent.find(talent[:id]).is_connected_to?(@headhunter) %>
              <%= render 'headhunters/relationship', headhunter: @headhunter, talent: Talent.find(talent[:id]) %>
            <% else %>
              <%= render 'relationships/form', headhunter: @headhunter, talent: Talent.find(talent[:id]) %>
            <% end %>
          <% end %>
        </div>

      </div>
    </div>
  </div>
</div>
