<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-talentist-logo" do %>
    <%= image_tag "Logo The talentist-02.png", height: 50 %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-talentist-right hidden-xs hidden-sm">

    <% if headhunter_signed_in? && current_headhunter %>

      <!-- Links when logged in -->
      <% if  current_headhunter.validated? %>
        <%= link_to "TALENTS", repertoire_path, class: "navbar-wagon-item navbar-wagon-link" %>
      <% end %>

      <%= link_to "MESSAGERIE", conversation_path(current_headhunter.mailbox.conversations.last), class: "navbar-wagon-item navbar-wagon-link" %>
      <!-- <#% if !@unread_conversations.blank? && @unread_conversations.count > 1 %> -->
     <%= render "shared/notif_point" %>

      <!-- Avatar with dropdown menu -->
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <% if current_headhunter.photo.present? %>
            <%= cl_image_tag current_headhunter.photo, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <% else %>
            <%= image_tag "http://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <% end %>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%= link_to headhunter_path(current_headhunter) do %>
                <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
              <% end %>
            </li>
            <!-- <li>
              <#%= link_to "#" do %>
                <i class="fa fa-cog"></i>  <#%= t(".settings", default: "Settings") %>
              <#% end %>
            </li> -->
            <li>
              <%= link_to destroy_headhunter_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>


    <% elsif talent_signed_in? && current_talent %>

      <%= link_to "START-UP", repertoire_startup_path, class: "navbar-wagon-item navbar-wagon-link" %>

      <%= link_to "MESSAGERIE", conversation_path(current_talent.mailbox.conversations.last), class: "navbar-wagon-item navbar-wagon-link" %>
      <%= render "shared/notif_point" %>

      <!-- Avatar with dropdown menu -->
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <% if current_talent.photo.present? %>
            <%= cl_image_tag current_talent.photo, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <% else %>
            <%= image_tag "http://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <% end %>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%= link_to talent_path(current_talent) do %>
                <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
              <% end %>
            </li>
            <!-- <li>
              <#%= link_to "#" do %>
                <i class="fa fa-cog"></i>  <#%= t(".settings", default: "Settings") %>
              <#% end %>
            </li> -->
            <li>
              <%= link_to destroy_talent_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    <% elsif talentist_signed_in? && current_talentist %>

      <%= link_to "START-UP", headhunters_path, class: "navbar-wagon-item navbar-wagon-link" %>

      <%= link_to "TALENTS", talents_path, class: "navbar-wagon-item navbar-wagon-link" %>

      <%= link_to "MESSAGERIE", conversation_path(current_talentist.mailbox.conversations.last), class: "navbar-wagon-item navbar-wagon-link" %>
      <%= render "shared/notif_point" %>
      <!-- Avatar with dropdown menu -->
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <% if current_talentist.photo.present? %>
            <%= cl_image_tag current_talent.photo, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <% else %>
            <%= image_tag "http://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <% end %>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <!-- <li>
              <#%= link_to talent_path(current_talent) do %>
                <i class="fa fa-user"></i> <#%= t(".profile", default: "Profile") %>
              <#% end %>
            </li> -->
            <!-- <li>
              <#%= link_to "#" do %>
                <i class="fa fa-cog"></i>  <#%= t(".settings", default: "Settings") %>
              <#% end %>
            </li> -->
            <li>
              <%= link_to destroy_talentist_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>

    <% else %>
      <%= link_to "REVENIR  À LA PAGE DE CONNEXION", root_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <% end %>
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-450px hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">Some mobile link</a></li>
        <li><a href="#">Other one</a></li>
        <li><a href="#">Other one</a></li>
      </ul>
    </div>
  </div>

  <!-- Menu appearing at page bottom -->
  <div class="bottom-menu">
    <% if headhunter_signed_in? %>

      <!-- Links when logged in -->
      <div class="bottom-menu-item">
        <%= link_to "TALENTS", repertoire_path, class: "navbar-wagon-item navbar-wagon-link" %>
      </div>
      <div class="bottom-menu-item">
        <%= link_to "MESSAGERIE", conversation_path(current_headhunter.mailbox.conversations.last), class: "navbar-wagon-item navbar-wagon-link" %>
      </div>
      <div class="bottom-menu-item">
        <div class="navbar-wagon-item">
          <div class="dropdown">
            <i class="fa fa-bars dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown"></i>
            <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
              <li>
                <%= link_to headhunter_path(current_headhunter) do %>
                  <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
                <% end %>
              </li>
              <li>
                <%= link_to destroy_headhunter_session_path, method: :delete do %>
                  <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
                <% end %>
              </li>
            </ul>
          </div>
        </div>
      </div>

    <% elsif talent_signed_in? %>

      <div class="bottom-menu-item">
        <%= link_to "START-UP", "#", class: "navbar-wagon-item navbar-wagon-link" %>
      </div>
      <div class="bottom-menu-item">
        <%= link_to "MESSAGERIE", conversation_path(current_talent.mailbox.conversations.last), class: "navbar-wagon-item navbar-wagon-link" %>
      </div>
      <div class="bottom-menu-item">
        <div class="navbar-wagon-item">
          <div class="dropdown">
            <i class="fa fa-bars dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown"></i>
            <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
              <li>
                <%= link_to talent_path(current_talent) do %>
                  <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
                <% end %>
              </li>
              <li>
                <%= link_to destroy_talent_session_path, method: :delete do %>
                  <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
                <% end %>
              </li>
            </ul>
          </div>
        </div>
      </div>

    <% end %>


  </div>
</div>








