<div class="navbar-wagon-item">
  <div class="dropdown">
    <div class="top-menu dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown">
      <div class="little-square">
        <hr class="first">
        <hr class="second">
        <hr class="third">
      </div>
      <h4 class="titre-menu hidden-xs">MENU</h4>
    </div>
    <ul class="dropdown-menu dropdown-top-menu">
      <div class="title-menu-link">
        <li><%= link_to root_path do  %>
              <p>Accueil</p>
            <% end %>
        </li>
        <hr class="top-menu-separation">

      </div>
      <% if headhunter_signed_in? && current_headhunter %>
        <li>
          <% if current_headhunter.firstname.present? && current_headhunter.name.present? %>
            <p><%= current_headhunter.firstname.capitalize %> <%= current_headhunter.name.capitalize %> :</p>
          <% end %>
        </li>
        <li>
          <%= link_to headhunter_path(current_headhunter) do %>
            <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
          <% end %>
        </li>
        <li>
          <%= link_to "Talents", repertoire_path %>
        </li>
        <li>
          <%= link_to "Messagerie", conversation_path(current_headhunter.mailbox.conversations.last) %>
        </li>
        <li>
          <%= link_to destroy_headhunter_session_path, method: :delete do %>
            <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
          <% end %>
        </li>
        <hr class="top-menu-separation">

      <% elsif talent_signed_in? && current_talent %>

        <li>
          <% if current_talent.firstname.present? && current_talent.name.present? %>
            <p><%= current_talent.firstname.capitalize %> <%= current_talent.name.capitalize %> :</p>
          <% end %>
        </li>
        <li>
          <%= link_to talent_path(current_talent) do %>
            <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
          <% end %>
        </li>
        <li>
          <%= link_to "Start-up", repertoire_startup_path %>
        </li>
        <li>
          <%= link_to "Messagerie", conversation_path(current_talent.mailbox.conversations.last) %>
        </li>
        <!-- <li>
          <#%= link_to "#" do %>
            <i class="fa fa-cog"></i>  <#%= t(".settings", default: "Settings") %>
          <#% end %>
        </li> -->
        <li>
          <%= link_to destroy_talent_session_path, method: :delete do %>
            <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
          <% end %>
        </li>
        <hr class="top-menu-separation">

      <% elsif talentist_signed_in? && current_talentist %>
        <li>
          <% if current_talentist.firstname.present? && current_talentist.name.present? %>
            <p><%= current_talentist.firstname.capitalize %> <%= current_talentist.name.capitalize %> :</p>
          <% end %>
        </li>
        <% if current_talentist.admin %>
          <li>
            <%= link_to "Admin", admin_root_path %>
          </li>
        <% end %>
        <li>
          <%= link_to "Start-up", headhunters_path %>
        </li>
        <li>
          <%= link_to "Talent", talents_path %>
        </li>
        <li>
          <%= link_to "Messagerie", conversation_path(current_talentist.mailbox.conversations.last) %>
        </li>
        <!-- <li>
          <#%= link_to talent_path(current_talent) do %>
            <i class="fa fa-user"></i> <#%= t(".profile", default: "Profile") %>
          <#% end %>
        </li> -->
        <!-- <li>
          <#%= link_to "#" do %>
            <i class="fa fa-cog"></i>  <#%= t(".settings", default: "Settings") %>
          <#% end %>
        </li> -->
        <li>
          <%= link_to destroy_talentist_session_path, method: :delete do %>
            <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
          <% end %>
        </li>
        <hr class="top-menu-separation">

      <% else %>
        <div class="title-menu-link">
          <li>
            <%= link_to welcome_headhunters_path do  %>
              <p>Start-up</p>
            <% end %>
          </li>
        </div>
        <li>
          <%= link_to new_headhunter_registration_path do  %>
            <p>S'inscrire</p>
          <% end %>
        </li>
        <li>
          <%= link_to new_headhunter_session_path do  %>
            <p>Se connecter</p>
          <% end %>
        </li>
        <hr class="top-menu-separation">
        <div class="title-menu-link">
          <li>
            <%= link_to welcome_talents_path do  %>
              <p>Talent</p>
            <% end %>
          </li>
        </div>
        <li>
          <%= link_to se_connecter_path do  %>
            <p>S'inscrire</p>
          <% end %>
        </li>
        <li>
          <%= link_to new_talent_session_path do  %>
            <p>Se connecter</p>
          <% end %>
        </li>
        <hr class="top-menu-separation">
      <% end %>
      <div class="title-menu-link">
        <li>
          <%= link_to root_path do  %>
            <p>Mentions légales</p>
          <% end %>
        </li>
      </div>
    </ul>
  </div>
</div>

