<div class="col-xs-10 col-xs-offset-1 margin-top-15 margin-bottom-15 formation-form" data-formation-id="<%= formation.id %>">
  <%= simple_form_for( [@talentist, formation], remote: true )do |f| %>
    <p><%= f.object.title %></p>
    <%= f.input :type_of_formation %>
    <%= f.input :ranking %>
    <%= f.submit "Suivant", class: "btn btn-success margin-top-15 col-xs-6 col-xs-offset-3 formation-form-btn" %>
  <% end %>
</div>
