<div class="col-xs-12 col-md-3 margin-bottom-30 placement-talentist">
  <div class="relative talent-card">

    <%= render 'headhunters/illu-card', talent: talent %>
    <%= render 'talents/declined-modal', talent: talent %>

    <div class="border relative">

      <div class="card-title">
        <p><%= talent.jobs.first.nil? ? "pas renseigné" : talent.jobs.first.title %></p>
      </div>

      <div class="talent-job" style="height: 80px">
        <h2 style="font-size: 16px; text-transform: capitalize;">
          <%= talent.firstname.present? ? talent.firstname : "No-info" %> <%= talent.last_name.present? ? talent.last_name : "No-info" %>
        </h2>
      </div>

      <div class="margin-bottom-15 margin-top-15">
        <%= simple_form_for talent , url: validation_talent_path(talent) do |f| %>
          <div class="btn-validate margin-bottom-15">
            <div class="<%= "green_validation" if talent.validated %>">
              <%= f.submit "Accepter" %>
            </div>
            <div class="<%= "red_validation" if !talent.validated && !talent.validated.nil? %>">
              <p class="modal-button no-margin"  data-target= "modal_declined_<%= talent.id %>">Refuser</p>
            </div>
          </div>
        <% end %>
        <%= simple_form_for talent , url: visible_talent_path(talent) do |f| %>
          <div class="btn-validate">
            <div class="<%= "green_validation" if talent.visible %>">
              <%= f.submit "Visible"%>
            </div>
            <div class="<%= "red_validation" if !talent.visible && !talent.visible.nil? %>">
              <%= f.submit "Invisible" %>
            </div>
          </div>
        <% end %>
      </div>

      <div class="margin-bottom-15">
        <p class="no-margin"><i class="far fa-clock margin-right-15">
          </i>MAJ : <%= l(talent.updated_at, :locale => :fr) %>
        </p>
        <p class="no-margin">
          <% if talent.completing.present? %>
            <i class='<%= talent.completing > 85 ? "green fas fa-thumbs-up" : "red fas fa-exclamation-triangle" %> margin-right-15'></i> <%= talent.id %> profil complété à <strong class='<%= talent.completing > 85 ? "green" : "red"  %>'><%= talent.completing %>%</strong>
          <% else %>
            <i class='red fas fa-exclamation-triangle margin-right-15'></i>profil complété à <strong class="red">5%</strong></strong>
          <% end %>
        </p>
      </div>


      <div class="lien-messagerie-profil">

        <% if Mailboxer::Conversation.participant(talent).count > 0 %>
          <%= link_to "Messages", talent_conversation_path(talent, talent.mailbox.conversations.last)%>
        <% else %>
          <a style="font-size: 12px;">Aucun message</a>
        <% end %>
        <%= link_to "Profil", talent_path(talent)%>
        <!-- TRY TO MAKE A COPY BTN -->
        <!-- <%# if talent.visible %> -->
          <!-- <input type="text" class="hidden" value="/repertoire?talent=<%= talent.id %>" id="url_<%= talent.id %>"> -->
          <!-- <i class="fas fa-link copy-link" data-id="<%= talent.id %>"></i> -->
        <!-- <%# end %> -->
      </div>
    </div>
  </div>
</div>
