<div class='nested-fields' id="experience-grid">
<!--     <div class="experience-title-grid">
      <p class="requis form-label-font-size">Expérience</p>
    </div> -->
    <div class="company-name-grid">
      <p class="label-edit requis no-margin">Entreprise</p>
      <%= f.input :company_name, label: false, placeholder:"le nom de l'entreprise", :input_html => { style: "width: 100%" } %>
    </div>
    <div class="position-grid">
      <p class="label-edit requis no-margin">Intitulé du poste</p>
      <%= f.input :position, label: false, placeholder:"Intitulé du poste", :input_html => { style: "width: 100%" } %>
    </div>
    <div class="starting-grid margin-date-picker">
      <p class="label-edit requis no-margin">De</p>
      <%= f.input :starting, label: false, as: :string, input_html: { :class => "datepicker1", style: "width: 100%"} %>
    </div>
    <div class="ending-grid margin-date-picker">
      <p class="label-edit requis no-margin">À</p>
      <%= f.input :years, label: false, as: :string, input_html: {:class => "datepicker1", id:"to_experience", style: "width: 100%"}  %>
    </div>
    <div id="font-input-currently" class="currently-grid">
      <p class="label-edit no-margin">Poste actuel</p>
      <%= f.input :currently, label: false, input_html: {id: "currently_checked"} %>
    </div>
    <div id="text_area-experience">
      <p class="label-edit requis no-margin">Description des missions</p>
      <%= f.text_area :overview, label: false, placeholder:"Vos missions", style: "border-color: #ccc" %>
    </div>
    <div class="company-type-grid">
      <p class="label-edit requis no-margin">Type d'entreprise</p>
      <%= f.input :company_type_id, collection: CompanyType.all, label: false, prompt:"Type d'entreprise", :input_html => { :class => 'select2', style: "width: 100%" } %>
    </div>
    <!-- TODO button -->
    <div class="supp-grid-experience center-text">
      <%= link_to_remove_association f do %>
        <i class="fas fa-trash-alt"></i>
      <% end %>
    </div>
</div>


