<div class='nested-fields'>
  <div class="form-line">
    <p class="form-label requis">Expérience</p>
    <%= f.input :company_name, label: false, placeholder:"Nom de l'entreprise" %>
    <%= f.input :position, label: false, placeholder:"Intitulé du poste" %>
    <%= f.input :currently %>
  </div>
  <div class="form-line">
    <p class="form-label requis">De</p>
    <%= f.input :starting, placeholder:"mai 2013 ou 2013", label: false %>
    <p class="form-label" style="width: 0">À</p>
    <%= f.input :years, placeholder:"juin 2015 ou 2015", label: false  %>
    <% if @talent.next_aventures.present? %>
      <%= f.input :overview, label: false %>
      <%= f.input :company_type, collection: CompanyType.all %>
    <% end %>
    <!-- TODO button -->
    <%= link_to_remove_association "remove expérience", f %>
  </div>
</div>
