<li class="nested-fields priority-list-item relative experience-list-item">
  <div class='row no-padding flex nested-fields-exp-edit' style="margin-bottom: 45px;">

    <div class="col-xs-11 no-padding">

      <div class="row">
        <div class="col-lg-6 col-xs-12">
          <p class="label-edit no-margin">Entreprise</p>
          <div class="margin-right-15 no-margin-xs">
            <%= f.input :company_name, label: false, placeholder:"le nom de l'entreprise", :input_html => { style: "width: 100%" } %>
          </div>
        </div>
        <div class="col-lg-6 col-xs-12 margin-top-15-xs">
          <p class="label-edit no-margin">Intitulé du poste</p>
          <%= f.input :position, label: false, placeholder:"Intitulé du poste", :input_html => { style: "width: 100%" } %>
        </div>
      </div>

      <div class="row margin-top-15">
        <div class="col-lg-6 col-xs-12 no-padding date_module">
          <div class="margin-date-picker col-lg-4 col-xs-12">
            <p class="label-edit no-margin">De</p>
            <div class="margin-right-15 no-margin-xs">
              <%= f.input :starting, label: false, placeholder:"MM-AAAA", as: :string, input_html: { class: "verifDateWithMonthAndYear", style: "width: 100%"} %>
            </div>
          </div>
          <div class="margin-date-picker col-lg-4 col-xs-12 margin-top-15-xs">
            <p class="label-edit no-margin">À</p>
            <div class="margin-right-15 no-margin-xs">
              <%= f.input :years, label: false, as: :string, input_html: {:class => "verifDateWithMonthAndYear to_experience #{f.object.currently ? 'checked_boxe' : 'false'}", style: "width: 100%"}  %>
            </div>
          </div>
          <div id="font-input-currently" class="col-lg-4 col-xs-12 margin-top-15-xs">
            <p class="label-edit no-margin">Poste actuel</p>
            <%= f.input :currently, label: false, input_html: {class: "currently_checked"},data: { target: "#to_experience" } %>
          </div>
        </div>
        <div class="col-lg-6 col-xs-12 margin-top-15-xs">
          <p class="label-edit no-margin">Type d'entreprise</p>
          <%= f.input :company_type_id, collection: CompanyType.all, label: false, prompt:"Type d'entreprise", :input_html => { :class => 'select2 no-search', style: "width: 100%" } %>
        </div>
      </div>

      <div class="row margin-top-15">
        <div id="text_area-experience" class="col-xs-12">
          <p class="label-edit no-margin">Description des missions</p>
          <%= f.text_area :overview, label: false, placeholder:"Vos missions", style: "border-color: #ccc" %>
        </div>
      </div>

    </div>


    <div class="center-text col-xs-1 no-padding">
      <%= link_to_remove_association f do %>
        <i class="fas fa-trash-alt"></i>
      <% end %>
    </div>

  </div>
  <hr class="ligne-horizontal visible-xs" style="margin-bottom: 45px">
</li>

