<div class="nested-fields margin-bottom-15" id="diplome-form">

    <div class="col-xs-10 no-padding line-height-center">
      <p class="label-edit no-margin-xs margin-right-15">Diplôme</p>
    </div>

    <div class="visible-xs col-xs-2" id="align-sup-btn">
      <%= link_to_remove_association f do %>
        <i class="fas fa-trash-alt"></i>
      <% end %>
    </div>
  <div class="row margin-top-30-xs">

    <div class="col-xs-12 <%= @talent.validated? ? "col-lg-3" : "col-lg-4" %> no-padding">
      <div class="margin-right-15 no-margin-xs">
        <%= f.association :formation, collection: Formation.all.order('title ASC'), prompt:"Établissement", label: false, input_html: { :class => "select2", style: "width: 100%" } %>
      </div>
    </div>

    <div class="col-xs-12 <%= @talent.validated? ? "col-lg-3" : "col-lg-4" %> no-padding margin-top-15-xs">
      <div class="margin-right-15 no-margin-xs">
        <%= f.input :title, placeholder: "Formation", label: false, input_html: { style: "width: 100%" }, error: f.object.errors.messages[:title][0]  %>
      </div>
    </div>

    <!-- plus besoin car c'est talentist qui va s'en occuper -->
    <!-- Si supprimer définitivement Attention à supprimier le render question-mark -->
      <!-- Fait le 4 mars 2019 -->

  <!--   <#% if @talent.validated %>
      <div class="col-xs-12 col-lg-3 no-padding margin-top-15-xs relative">
        <div class="margin-right-15 no-margin-xs">
          <#%= f.input :type_of_formation, label: false, placeholder:"Classement de l'école ou Type d'école", input_html: { style: "width: 100%" } %>
        </div>
        <#% text_formation = "Classement de l'école ou Type d'école : Dans un premier temps, le recruteur n'aura pas accès au nom de votre formation. Une fois que vous avez accèpté de rentrer en contact avec lui, le recruteur pourra avoir accès à votre profil. Renseignez donc votre formation selon le classement, le domaine, ou autre." %>
        <div class="absolute" style="top: -11px; right: 11px; color: black;">
        <#%= render 'shared/question-mark', text: text_formation %>
        </div>
      </div>

    <#% end %> -->

    <div class="col-xs-12 <%= @talent.validated? ? "col-lg-2" : "col-lg-3" %> no-padding margin-top-15-xs">
      <div class="margin-right-15 no-margin-xs">
        <!-- <#%= f.input :year, label: false do %> -->
          <%= f.input :year, collection: (1980..2018.to_i).to_a.reverse,  label: false, prompt:"Année d'obtention", input_html: { :class => "select2 no-search", style: "width: 100%" }, error: f.object.errors.messages[:title][0]  %>
        <!-- <#% end %> -->
      </div>
    </div>

    <div class="col-xs-12 col-lg-1 no-padding hidden-xs" id="align-sup-btn">
      <%= link_to_remove_association f do %>
       <i class="fas fa-trash-alt"></i>
      <% end %>
    </div>

  </div>
</div>


