<div class="nested-fields nf-formations margin-bottom-15 row align-items-center" id="diplome-form">

  <p class="col-xs-10 col-sm-2 label-edit no-margin-xs text-align-right text-align-left-xs">Diplôme</p>

  <div class="visible-xs" id="align-sup-btn">
    <%= link_to_remove_association f do %>
      <i class="fas fa-trash-alt"></i>
    <% end %>
  </div>

  <div class="col-xs-12 col-lg-3 ">
    <%#= f.association :formation, as: :text, autocomplete: "off", collection: Formation.all.order('title ASC'), prompt:"Établissement", label: false, wrapper: false %>
    <%= f.association :formation, autocomplete: "off", prompt:"Établissement", label: false, wrapper: false %>
  </div>
  <!-- , input_html: { :class => "selectAndCreate", style: "width: 100%" } -->

<!--   <div class="col-xs-12 col-lg-3 ">
    <%#= f.association :formation, collection: Formation.all.order('title ASC'), prompt:"Établissement", label: false, input_html: { :class => "selectAndCreate", style: "width: 100%" }, wrapper: false %>
  </div>
 -->
  <div class="col-xs-12 col-lg-3 margin-top-15-xs">
    <%= f.input :title, placeholder: "Formation", label: false, input_html: { style: "width: 100%" }, error: f.object.errors.messages[:title][0], wrapper: false  %>
  </div>

  <div class="col-xs-12 col-lg-3 margin-top-15-xs">
    <%= f.input :year, collection: (1980..Date.today.year.to_i).to_a.reverse,  label: false, prompt:"Année d'obtention", input_html: { :class => "select2 no-search", style: "width: 100%" }, error: f.object.errors.messages[:title][0], wrapper: false  %>
  </div>

  <div class="col-lg-1  hidden-xs" id="align-sup-btn">
    <%= link_to_remove_association f do %>
     <i class="fas fa-trash-alt"></i>
    <% end %>
  </div>

</div>


