<%= render 'shared/navbar' %>

<div class="form-container" data-page="3">

  <%= render 'shared/formprogression' %>

  <h2 class="form-titre-page"><i class="far fa-file-alt"></i> Quel est votre expérience <strong>en entreprise</strong> ?</h2>

  <%= simple_form_for @talent, url: wizard_path, method: :put do |f| %>
    <%= f.simple_fields_for :experiences do |u| %>
     <%= render 'experience_fields', :f => u %>
    <% end %>
    <div class='links'>
      <%= link_to_add_association 'Ajouter une expérience +', f, :experiences, :partial => 'experience_fields', :class => "form-hobby-add" %>
    </div>
    <div class="form-actions">
      <%= link_to "Précedent", previous_wizard_path, class: "b-btn-link form-btn form-btn-precedent" %>
      <%= f.submit "Continuer", class: "b-btn form-btn form-btn-suivant" %>
    </div>


  <% end %>


</div>

<%= render 'shared/footer' %>


















