<h2>Quel est votre expérience en entreprise ?</h2>

<%= simple_form_for @talent, url: wizard_path, method: :put do |f| %>

  <%= f.simple_fields_for :experiences do |u| %>
    <%= u.input :company_name, label: false, placeholder:"Nom de l'entreprise" %>
    <%= u.input :position, label: false, placeholder:"Intitulé du poste" %>
    <%= u.input :currently %>
    <%= u.input :starting, as: :date, html5: true, label: "De" %>
    <%= u.input :years, as: :date, html5: true, label: "À"  %>
    <!-- TODO button -->
    <%= u.button :submit, 'Ajouter une expérience +' %>
  <% end %>

  <%= f.submit "Continuer", class: "b-btn" %>
<% end %>
<%= link_to "Précedent", previous_wizard_path, class: "b-btn-link" %>

