<%= render 'shared/navbar' %>

<div class="form-container" data-page="3">

  <%= render 'shared/formprogression' %>

  <h2 class="form-titre-page"><i class="far fa-file-alt"></i> Quel est votre expérience <strong>en entreprise</strong> ?</h2>

  <%= simple_form_for @talent, url: wizard_path, method: :put do |f| %>
    <%= f.simple_fields_for :experiences do |u| %>
      <div class="form-line">
        <p class="form-label requis">Expérience</p>
        <%= u.input :company_name, label: false, placeholder:"Nom de l'entreprise" %>
        <%= u.input :position, label: false, placeholder:"Intitulé du poste" %>
        <%= u.input :currently %>
      </div>
      <div class="form-line">
        <p class="form-label requis">De</p>
        <%= u.input :starting, placeholder:"mai 2013 ou 2013", label: false %>
        <p class="form-label" style="width: 0">À</p>
        <%= u.input :years, placeholder:"juin 2015 ou 2015", label: false  %>
        <!-- TODO button -->
        <%= u.button :submit, 'Ajouter une expérience +', { :class => "form-hobby-add"} %>
      </div>
    <% end %>

     <%= f.simple_fields_for :experiences do |u| %>
      <div class="form-line">
        <p class="form-label requis">Expérience</p>
        <%= u.input :company_name, label: false, placeholder:"Nom de l'entreprise" %>
        <%= u.input :position, label: false, placeholder:"Intitulé du poste" %>
        <%= u.input :currently %>
      </div>
      <div class="form-line">
        <p class="form-label requis">De</p>
        <%= u.input :starting, placeholder:"mai 2013 ou 2013", label: false %>
        <p class="form-label" style="width: 0">À</p>
        <%= u.input :years, placeholder:"juin 2015 ou 2015", label: false  %>
        <!-- TODO button -->
        <%= u.button :submit, 'Ajouter une expérience +', { :class => "form-hobby-add"} %>
      </div>
      <%= f.error_notification message: 'INFORMATIONS NON COMPLÈTES!', id: 'user_error_message', class: 'form_error' %>
    <% end %>

    <div class="form-actions">
      <%= link_to "Précedent", previous_wizard_path, class: "b-btn-link form-btn form-btn-precedent" %>
      <%= f.submit "Continuer", class: "b-btn form-btn form-btn-suivant" %>
    </div>


  <% end %>


</div>

<%= render 'shared/footer' %>


















