<%= render 'shared/navbar' %>

<div class="form-container">

  <div class="form-progression">
    <hr>
    <div class="form-progression-items">
      <div class="form-progression-item progression-past">
        <div class="point-barre-pointee"></div>
        <div class="progression-step">
          <div class="step-number"><p>01</p></div>
          <div class="step-name"><p>Informations<br>générales</p></div>
        </div>
      </div>
      <div class="form-progression-item progression-past">
        <div class="point-barre-pointee"></div>
        <div class="progression-step">
          <div class="step-number"><p>02</p></div>
          <div class="step-name"><p>Formation &<br>compétences</p></div>
        </div>
      </div>
      <div class="form-progression-item progression-acitve">
        <div class="point-barre-pointee"></div>
        <div class="progression-step">
          <div class="step-number"><p>03</p></div>
          <div class="step-name"><p>Expériences<br>Professionnelles</p></div>
        </div>
      </div>
      <div class="form-progression-item progression-next">
        <div class="point-barre-pointee"></div>
        <div class="progression-step">
          <div class="step-number"><p>04</p></div>
          <div class="step-name"><p>Ma prochaine<br>aventure</p></div>
        </div>
      </div>
    </div>
  </div>

  <h2 class="form-titre-page"><i class="far fa-file-alt"></i> Quel est votre expérience <strong>en entreprise</strong> ?</h2>

  <%= simple_form_for @talent, url: wizard_path, method: :put do |f| %>

    <%= f.simple_fields_for :experiences do |u| %>
      <div class="form-line">
        <p class="form-label requis">Expérience</p>
        <%= u.input :company_name, label: false, placeholder:"Nom de l'entreprise" %>
        <%= u.input :position, label: false, placeholder:"Intitulé du poste" %>
        <%= u.input :currently %>
      </div>
      <div class="form-line">
        <p class="form-label requis">De</p>
        <%= u.input :starting, as: :date, html5: true, label: false %>
        <p class="form-label" style="width: 0">À</p>
        <%= u.input :years, as: :date, html5: true, label: false  %>
        <!-- TODO button -->
        <%= u.button :submit, 'Ajouter une expérience +', { :class => "form-hobby-add"} %>
      </div>
    <% end %>

    <div class="form-actions">
      <%= link_to "Précedent", previous_wizard_path, class: "b-btn-link form-btn form-btn-precedent" %>
      <%= f.submit "Continuer", class: "b-btn form-btn form-btn-suivant" %>
    </div>


  <% end %>


</div>

<%= render 'shared/footer' %>


















