<h2>hey next step</h2>
<%= simple_form_for @talent, url: wizard_path, method: :put do |f| %>
  <!-- Dans le formulaire, tu utilises la table Sectors et la collection Sector.all / C'est le controller qui comprend qu'il doit créer les champs dans la table intermédiaire, tu n'as pas à le gérer manuellement ! -->

  <%= f.association :formations, as: :check_boxes, collection: Formation.all %>
  <%= f.association :languages, as: :check_boxes, collection: Language.all %>





  <%= f.submit "Continuer", class: "b-btn" %>
<% end %>
<%= link_to "Précedent", previous_wizard_path, class: "b-btn-link" %>

