

<div class="form-container simple-new-talent" data-page="2">

  <%= render 'shared/formprogression' %>

  <h2 class="form-titre-page"><i class="fas fa-graduation-cap"></i> Quel est votre parcours <strong>scolaire</strong> ?</h2>


  <%= simple_form_for @talent, url: wizard_path, method: :put do |f| %>

    <div class="margin-auto-new-talent">
      <%= f.error_notification message: 'INFORMATIONS NON COMPLÈTES!', id: 'user_error_message', class: 'form_error' %>

      <div class="blue-background">
        <%= f.simple_fields_for :talent_formations do |u| %>
          <%= render 'formation_fields', :f => u %>
        <% end %>
        <div class='links'>
          <%= link_to_add_association 'Ajouter formation', f, :talent_formations, :partial => 'formation_fields', class: "form-hobby-add" %>
        </div>
      </div>

      <div class=" row">
        <div class="col-xs-12 col-lg-6 no-padding">
          <div id="add-language" class="blue-background margin-right-background margin-top-background">
            <p class="label-edit no-margin">Compétences linguistiques</p>
            <div class="add-language-line">
              <%= f.simple_fields_for :talent_languages do |u| %>
                <%= render 'language_fields', :f => u %>
              <% end %>
              <div class='links'>
                <%= link_to_add_association 'Ajouter langue', f, :talent_languages, :partial => 'language_fields', :class => "form-hobby-add" %>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-lg-6 no-padding">
          <div class="blue-background margin-left-background margin-top-background" style="min-height: 154px">
            <p class="label-edit no-margin">Compétences clés</p>
            <%= f.input :techno_ids, collection: Techno.all, label: false, input_html: { :class => "comp-cles", multiple: "multiple", style: "width: 100%"}, multiple: true, required: true %>
          </div>
        </div>
      </div>
    </div>

    <div class="form-actions">
      <%= link_to "Précedent", previous_wizard_path, class: "b-btn-link form-btn form-btn-precedent" %>
      <%= f.submit "Continuer", class: "b-btn form-btn form-btn-suivant" %>
    </div>


  <% end %>


</div>
