<div class="form-container simple-new-talent" data-page="2">

  <%= render 'shared/formprogression' %>

  <h2 class="form-titre-page"><i class="fas fa-graduation-cap"></i> Quel est votre parcours <strong>scolaire</strong> ?</h2>

  <%= simple_form_for @talent, url: wizard_path, method: :put do |f| %>

    <div class="margin-auto-new-talent">
      <%= f.error_notification message: 'INFORMATIONS NON COMPLÈTES!', id: 'user_error_message', class: 'form_error' %>

      <div class="blue-background">
        <%= f.simple_fields_for :talent_formations do |u| %>
          <%= render 'formation_fields', :f => u %>
        <% end %>
        <div class="col-lg-offset-2">
          <!-- <a href="#" class="form-hobby-add" id="add_formation">Ajouter formation</a> -->
          <%= link_to_add_association 'Ajouter formation', f, :talent_formations, :partial => 'formation_fields', class: "form-hobby-add", id: "add_formation2" %>
        </div>
      </div>

      <div class=" row">


        <div class="col-xs-12 col-lg-6 margin-top-30">
          <div id="add-language" class="blue-background" style="min-height: 154px">

              <p class="label-edit">Compétences linguistiques</p>

              <%= f.simple_fields_for :talent_languages do |u| %>
                <%= render 'language_fields', :f => u %>
              <% end %>

              <div>
                <%= link_to_add_association 'Ajouter langue', f, :talent_languages, :partial => 'language_fields', :class => "form-hobby-add" %>
              </div>


          </div>
        </div>


        <div class="col-xs-12 col-lg-6 margin-top-30">
          <div class="blue-background" style="min-height: 154px">
            <div class="row">
              <p class="label-edit col-xs-12">Compétences clés</p>
              <div class="col-xs-12">
                <%= f.input :skill_ids, collection: Skill.all, label: false, input_html: { :class => "comp-cles", multiple: "multiple"}, multiple: true, required: true %>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-lg-6 margin-top-30">
          <div class="blue-background">
            <div class="row">
              <p class="label-edit col-xs-12">Outils clés</p>
              <div class="col-xs-12">
                <%= f.input :techno_ids, collection: Techno.all, label: false, input_html: { :class => "comp-cles", multiple: "multiple"}, multiple: true, required: true %>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="form-actions">
      <%= link_to "Précedent", previous_wizard_path, class: "b-btn-link form-btn form-btn-precedent" %>
      <%= f.submit "Continuer", class: "b-btn form-btn form-btn-suivant" %>
    </div>


  <% end %>


</div>
