<%= render 'shared/navbar' %>

<div class="form-container">

  <div class="form-progression">
    <hr>
    <div class="form-progression-items">
      <div class="form-progression-item progression-past">
        <div class="point-barre-pointee"></div>
        <div class="progression-step">
          <div class="step-number"><p>01</p></div>
          <div class="step-name"><p>Informations<br>générales</p></div>
        </div>
      </div>
      <div class="form-progression-item progression-acitve">
        <div class="point-barre-pointee"></div>
        <div class="progression-step">
          <div class="step-number"><p>02</p></div>
          <div class="step-name"><p>Formation &<br>compétences</p></div>
        </div>
      </div>
      <div class="form-progression-item progression-next">
        <div class="point-barre-pointee"></div>
        <div class="progression-step">
          <div class="step-number"><p>03</p></div>
          <div class="step-name"><p>Expériences<br>Professionnelles</p></div>
        </div>
      </div>
      <div class="form-progression-item progression-next">
        <div class="point-barre-pointee"></div>
        <div class="progression-step">
          <div class="step-number"><p>04</p></div>
          <div class="step-name"><p>Ma prochaine<br>aventure</p></div>
        </div>
      </div>
    </div>
  </div>

  <h2 class="form-titre-page"><i class="fas fa-graduation-cap"></i> Quel est votre parcours <strong>scolaire</strong> ?</h2>


  <%= simple_form_for @talent, url: wizard_path, method: :put do |f| %>

    <%= f.simple_fields_for :talent_formations do |u| %>
      <div class="form-line form-formations">
        <p class="form-label requis">Formation(s)</p>
        <%= u.association :formation, collection: Formation.all, prompt:"Établissement", label: false, input_html: { class:"select2"}  %>
        <%= u.input :title, placeholder: "Diplôme", label: false  %>
        <%= u.input :year, collection: 1992..2018, prompt: "Année d'obtention", label: false   %>
      <!-- TODO button -->
      <%= u.button :submit, 'Ajouter une formation +', { :class => "form-hobby-add"} %>
      </div>
    <% end %>

    <div class="form-line">
      <div class="form-semi-line">
        <p class="form-label form-label-semi-line requis">Compétences techniques</p>
        <div class="form-line">
          <%= f.input :techno_ids, collection: Techno.all, label: false, input_html: { class:"select2", multiple: "multiple"}, multiple: true, required: true %>
          <p class="form-hobby-add simili-btn-A-VIRER">Ajouter +</p>
        </div>
      </div>

      <div class="form-semi-line">
        <p class="form-label form-label-semi-line requis">Compétences linguistiques</p>
        <div class="form-line">
          <%= f.simple_fields_for :talent_languages do |u| %>
            <%= u.association :language, collection: Language.all, prompt:"Anglais", label: false, input_html: { class:"select2"}  %>
            <%= u.input :level, collection: 0..5, prompt: "Niveau", label: false %>
            <!-- TODO button -->
            <%= u.button :submit, 'Ajouter +', { :class => "form-hobby-add"} %>
          <% end %>
        </div>
      </div>
    </div>



    <div class="form-actions">
      <%= link_to "Précedent", previous_wizard_path, class: "b-btn-link form-btn form-btn-precedent" %>
      <%= f.submit "Continuer", class: "b-btn form-btn form-btn-suivant" %>
    </div>


  <% end %>


</div>

<%= render 'shared/footer' %>

