<h2>Quel est votre parcours scolaire ?</h2>
<%= simple_form_for @talent, url: wizard_path, method: :put do |f| %>

  <%= f.simple_fields_for :talent_formations do |u| %>
    <%= u.association :formation, collection: Formation.all, prompt:"Établissement", label: false, input_html: { class:"select2"}  %>
    <%= u.input :title, placeholder: "Diplôme", label: false  %>
    <%= u.input :year, collection: 1992..2018, prompt: "année d'obtention", label: false   %>
  <% end %>

  <%= f.input :techno_ids, collection: Techno.all, label: "Compétence téchniques", input_html: { class:"select2", multiple: "multiple"}, multiple: true %>

  <%= f.simple_fields_for :talent_languages do |u| %>
    <%= u.association :language, collection: Language.all, prompt:"Anglais", label: false, input_html: { class:"select2"}  %>
    <%= u.input :level, collection: 0..5, prompt: "Niveau", label: false %>
  <% end %>


  <%= f.submit "Continuer", class: "b-btn" %> <br>
<% end %>


<%= link_to "Précedent", previous_wizard_path, class: "b-btn-link" %>

