<% choices = ["Ambiance", "International", "Produit", "Rémunération", "Sens", "Valeurs", "Mission", "Management", "Worklife balance", "Impact"]  %>


<div class="form-container simple-new-talent" data-page="4">

  <%= render 'shared/formprogression' %>

  <h2 class="form-titre-page"><i class="far fa-compass"></i> Quelle direction <strong>souhaitez-vous</strong> prendre ?</h2>

  <div class="margin-auto-new-talent">
    <%= simple_form_for @talent, url: wizard_path, method: :put do |f| %>
      <%= f.error_notification %>

      <%= f.simple_fields_for :next_aventures do |u| %>

        <div class="blue-background">
          <div class="row">


            <div class="col-xs-12 margin-bottom-15">
              <div class="col-xs-12 col-lg-6">
                <p class="label-edit no-margin requis">Mobilité</p>
                <div>
                  <%= u.simple_fields_for :mobilities, @mobilities do |e| %>
                    <%= render 'mobility_fields', :f => e %>
                  <% end %>
                  <div class="links">
                    <%= link_to_add_association 'Ajouter', u, :mobilities, :partial => 'mobility_fields', :class => "form-hobby-add" %>
                  </div>

                </div>
              </div>
              <div class="col-xs-12 col-lg-6 margin-top-15-xs">
                <p class="label-edit no-margin requis">Prochain secteur</p>
                <%= u.input :sector_ids, collection: Sector.all, input_html: { :class => "select2", multiple: "multiple", style: "width: 100%"}, multiple: true, include_blank: true, label: false, error: u.object.errors.messages[:sector_ids][0] %>
              </div>
            </div>
            <div class="col-xs-12 margin-bottom-15">
              <div class="col-xs-12 col-lg-6">
                <p class="label-edit no-margin requis">Type de contrat</p>
                <div class="margin-right-15 no-margin-xs">
                  <%= u.input :contrat, label: false, prompt:"Choisir", collection: [ "CDI", "CDD", "Freelance", "Stage" ], :input_html => { :class => 'select2 no-search', style: "width: 100%" }, error: u.object.errors.messages[:contrat][0] %>
                </div>
              </div>
              <div class="col-xs-12 col-lg-6 margin-top-15-xs">
                <p class="label-edit no-margin" style="opacity: 0">Branche</p>
                <div>
                <!-- class="row" -->
                  <div class="col-lg-6 col-xs-6">
                    <%= u.input :btoc, label: "BTOC", class: "pointer" %>
                  </div>
                  <div class="col-lg-6 col-xs-6">
                    <%= u.input :btob, label: "BTOB", class: "pointer" %>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-12">
              <div class="col-xs-12 col-lg-6">
                <p class="label-edit no-margin requis">Attentes salariales</p>
                <div class="margin-right-15 no-margin-xs">
                <%= u.input :remuneration, label: false, hint: "package K€ annuel brut", collection: [ "30 - 40", "40 - 50", "50 - 70", "70 - 100", "100+" ], :input_html => { :class => 'select2 no-search', style: "width: 100%" } %>
                </div>
              </div>
              <div class="col-xs-12 col-lg-6 margin-top-15-xs">
                <p class="label-edit no-margin">Disponibilité</p>
                <%= u.input :availability, collection: ["Immédiate","- de 3 mois", "+ de 3 mois"], label: false, :input_html => { :class => 'select2 no-search', style: "width: 100%" } %>
              </div>
            </div>


          </div>
        </div>

        <div class="row margin-top-30">
          <div class="col-xs-12 col-lg-6">
            <div class="blue-background" style="min-height: 155px;">
              <p class="label-edit no-margin">Vos petits plus </p>

              <%= f.simple_fields_for :your_small_plus do |e| %>
                <%= render 'your_small_plu_fields', :f => e %>
              <% end %>

              <div class="links">
                <%= link_to_add_association 'Ajouter un +', f, :your_small_plus, :partial => 'your_small_plu_fields', :class => "form-hobby-add", id: "add_petit_plus" %>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-lg-6 margin-top-30-xs">
            <div class="blue-background" style="min-height: 155px;">
              <p class="label-edit no-margin">
              Qu’attends-tu de ta prochaine aventure ?</p>
              <p class="texte-rubrique-3 no-margin">Sélectionne les 3 critères les plus importants à tes yeux et classe-les par ordre d’importance</p>
              <div class="row">
                <div class="col-lg-4">
                  <%= u.input :waiting_for_one, label: false, prompt:"Choix n°1", collection: choices, :input_html => { :class => 'select2', style: "width: 100%" } %>
                </div>
                <div class="col-lg-4 margin-top-15-xs">
                  <%= u.input :waiting_for_two, label: false, prompt:"Choix n°2", collection: choices, :input_html => { :class => 'select2', style: "width: 100%" } %>
                </div>
                <div class="col-lg-4 margin-top-15-xs">
                  <%= u.input :waiting_for_three, label: false, prompt:"Choix n°3", collection: choices, :input_html => { :class => 'select2', style: "width: 100%" } %>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="blue-background margin-top-30">
          <p class="label-edit margin-bottom-15">Es-tu plutôt:</p>
          <div class="row">
            <p class="label-edit col-lg-1 col-xs-6 no-margin">Chasseur</p>
            <p class="visible-xs label-edit col-xs-6 no-margin text-align-right">Éleveur</p>
            <div class="col-lg-4 col-xs-12 margin-bottom-15-xs">
              <%= u.input :hunter_or_breeder, as: :range, input_html: { min: 0, max: 100, class:"slider", style:"width:100%;" }, label: false, wrapper: false %>
            </div>
            <p class="label-edit col-lg-1 no-margin hidden-xs">Éleveur</p>

            <p class="label-edit col-lg-1 col-xs-6 no-margin">Créatif</p>
            <p class="visible-xs label-edit col-xs-6 no-margin text-align-right">Pragmatique</p>
            <div class="col-lg-4 col-xs-12">
              <%= u.input :creative_or_pragmatic, as: :range, input_html: { min: 0, max: 100, class:"slider", style:"width:100%;" }, label: false, wrapper: false %>
            </div>
            <p class="hidden-xs label-edit col-lg-1 no-margin">Pragmatique</p>
          </div>
        </div>

        <div class="blue-background margin-top-30">
          <div class="row">
            <div class="col-xs-12 col-lg-6">
              <p class="label-edit no-margin bold" style="font-size: 15px;">Que recherches-tu ?</p>
              <%= u.input :looking_for, label: false, placeholder: "Description", as: :text, input_html: {rows: '4', style: "width: 100%" } %>
            </div>
            <div class="col-xs-12 col-lg-6 margin-top-15-xs">
              <p class="label-edit no-margin">Y a-t-il une personnalité qui t’inspire ? Pourquoi ?</p>
              <%= u.input :famous_person, label: false, placeholder: "Description", as: :text, input_html: {rows: '4', style: "width: 100%"} %>
            </div>
            <div class="col-xs-12 col-lg-6 margin-top-15">
              <p class="label-edit no-margin">Selon toi, qu’est-ce qu’un bon manager ?</p>
              <%= u.input :good_manager, label: false, placeholder: "Description", as: :text, input_html: {rows: '4', style: "width: 100%" } %>
            </div>
            <div class="col-xs-12 col-lg-6 margin-top-15">
              <p class="label-edit no-margin">Quel travail serais-tu prêt à effectuer gratuitement ?</p>
              <%= u.input :work_for_free, label: false, placeholder: "Description", as: :text, input_html: {rows: '4', style: "width: 100%"} %>
            </div>
            <div class="col-xs-12 col-lg-6 margin-top-15">
              <p class="label-edit no-margin">Quelle est ta plus grande fierté ?</p>
              <%= u.input :proud, label: false, placeholder: "Description", as: :text, input_html: {rows: '4', style: "width: 100%"} %>
            </div>
            <div class="col-xs-12 col-lg-6 margin-top-15">
              <p class="label-edit no-margin">Quelle(s) entreprise(s) souhaiterais-tu rencontrer ? <i class="fas fa-info-circle gray font-12 tooltip">
                <span class="tooltiptext" style='font-family: "Avenir", "Open Sans", "Helvetica", "sans-serif"; font-weight: 400;'>Seule notre équipe verra cette réponse</span>
              </i></p>
              <%= u.input :favourite_businesses, label: false, placeholder: "Description", as: :text, input_html: {rows: '4', style: "width: 100%"} %>
            </div>
          </div>
        </div>
      <% end %>

      <div class="blue-background margin-top-60">
        <div class="row">
          <div class="col-xs-2 col-lg-offset-3 col-lg-1">
            <%= f.input :terms_of_condition, as: :boolean, label: false, required: true, autofocus: false%>
          </div>
          <div class="col-xs-10 col-lg-6">
            <label for="talent_terms_of_condition" style="font-weight: unset;">Acceptez vous les conditions générales, </label>
            <span><%= link_to 'lire ici', cgu_talents_path, target: "_blank" %></span>
          </div>
        </div>
      </div>

    <%= f.error_notification message: 'INFORMATIONS NON COMPLÈTES!', id: 'user_error_message', class: 'form_error' %>

  </div>

    <div class="form-actions">
      <%= link_to "Précedent", previous_wizard_path, class: "b-btn-link form-btn form-btn-precedent" %>
      <%= f.submit "Terminer", class: "b-btn form-btn form-btn-suivant" %>
    </div>

  <% end %>


</div>


<!-- Appuie sur Entrée et ajoute un petit plus -->
<!-- still TODO : add focus... -->
<script>
  const inputPetitPlus = document.getElementsByClassName("input_petit_plus")
  if(inputPetitPlus){
    let btnPetitPlus = {}
    setTimeout(()=>{
      btnPetitPlus = document.getElementById("add_petit_plus")
    }, 100)
    for (var i = inputPetitPlus.length - 1; i >= 0; i--) {
      inputPetitPlus[i].addEventListener('keyup', () => {
        if(event.key === "Enter"){
          debugger
          btnPetitPlus.click()
        }
      })
    }
  }
</script>













