<%= render 'shared/navbar' %>

<div class="form-container" data-page="4">

  <%= render 'shared/formprogression' %>

  <h2 class="form-titre-page"><i class="far fa-compass"></i> Quelle direction <strong>souhaitez-vous</strong> prendre ?</h2>

  <%= simple_form_for @talent, url: wizard_path, method: :put do |f| %>

    <%= f.simple_fields_for :next_aventures do |u| %>
    <div class="form-next_aventure">
      <div class="bloc-next-aventure">
        <div class="form-line form-line-next-aventure">
          <p class="form-label label-next_aventure requis">Ville souhaitée</p>
          <%= u.input :city, label: false, placeholder:"Paris" %>
        </div>
        <div class="form-line form-line-next-aventure">
          <p class="form-label label-next_aventure requis">Type de contrat</p>
          <%= u.input :contrat, label: false, placeholder:"Freelance" %>
        </div>
        <div class="form-line form-line-next-aventure">
          <p class="form-label label-next_aventure requis">Rémunération</p>
          <%= u.input :remuneration, label: false, placeholder: "100 000€" %>
        </div>
        <div class="form-line form-line-next-aventure form-secteur">
          <p class="form-label label-next_aventure requis">Environnement métier souhaité<em>(max: 5)</em></p>
          <%= u.input :sector_ids, collection: Sector.all, input_html: { class:"select2", multiple: "multiple", style: "width: 100%"}, include_blank: true, label: false %>
        </div>
      </div>
      <div class="bloc-next-aventure bloc-next-aventure-right">
        <p class="form-label label-next_aventure-lg requis">Le job de vos rêves ? <em>(50 mots max)</em></p>
        <%= u.input :overview, label: false, placeholder: "Descrpition", as: :text %>
        <p class="form-label label-next_aventure-lg requis">Qui êtes-vous ? <em>(50 mots max)</em></p>
        <%= u.input :no_more, label: false, placeholder: "Descrpition", as: :text, input_html: {rows: '4'} %>
      </div>
    </div>
    <% end %>



    <div class="form-actions">
      <%= link_to "Précedent", previous_wizard_path, class: "b-btn-link form-btn form-btn-precedent" %>
      <%= f.submit "Terminer", class: "b-btn form-btn form-btn-suivant" %>
    </div>

  <%= f.error_notification message: 'INFORMATIONS NON COMPLÈTES!', id: 'user_error_message', class: 'form_error' %>

  <% end %>


</div>



<%= render 'shared/footer' %>









