<div class="form-container simple-new-talent" data-page="1">

  <%= render 'shared/formprogression' %>

  <h2 class="form-titre-page"><i class="far fa-id-badge"></i> Qui se cache derrière <strong>ce Talent</strong> ?</h2>

  <%= simple_form_for @talent, url: wizard_path, method: :put do |f| %>
    <div class="margin-auto-new-talent">
    <%= f.error_notification %>

      <div class="blue-background margin-top-30">
        <div class="row align-items-baseline">
          <label class="col-lg-2 col-xs-12 label-edit text-align-right text-align-left-xs requis" for="talent_firstname">Civilité</label>

          <div class="col-lg-3 col-xs-12 margin-bottom-15-xs">
            <%= f.input :firstname, required: true, autofocus: true, placeholder: "Prénom", label: false, wrapper: false, error: f.object.errors.messages[:firstname][0]  %>
          </div>

          <div class="col-lg-3 col-xs-12">
            <%= f.input :last_name, required: true, autofocus: true, placeholder: "Nom", label: false, wrapper: false, error: f.object.errors.messages[:last_name][0]  %>
          </div>

          <div class="col-lg-4 col-xs-12"></div>

          <label class="col-lg-2 col-xs-12 margin-top-15 label-edit text-align-right text-align-left-xs requis" for="talent_firstname">Tél.</label>

          <div class="col-lg-3 col-xs-12 margin-top-15 no-margin-xs margin-bottom-15-xs">
            <%= f.input :phone, required: true, autofocus: true, placeholder: "06 01 02 03 05", label: false, :input_html => { value:"#{ f.object.phone == "To fill it" ? '' : f.object.phone }"}, wrapper: false, error: f.object.errors.messages[:phone][0] %>
          </div>

          <label class="col-lg-3 col-xs-12 label-edit text-align-right text-align-left-xs margin-top-15 requis" for="talent_city">Ville</label>

          <div class="col-lg-3 col-xs-12 margin-top-15 no-margin-xs">
            <%= f.input :city, placeholder: 'Paris, France', :input_html => { :id => "user_address" }, label: false, wrapper: false, error: f.object.errors.messages[:city][0] %>
          </div>
        </div>
      </div>


      <div class="blue-background margin-top-30">
        <div class="row align-items-baseline" id="talent_jobs">
          <%= f.simple_fields_for :talent_job do |u| %>
            <label class="col-lg-2 col-xs-12 label-edit text-align-right text-align-left-xs requis" style="padding: 0 15px 0 0;">Mon&#8239;domaine&#8239;d'activité</label>
            <%= render 'talents/talent_job_fields', :u => u, f: f %>
          <% end %>
        </div>
        <% if @talent.linkedin.nil? || @talent.linkedin == "" %>
          <div class="row margin-top-15">
            <label class="col-lg-2 label-edit text-align-right requis no-margin no-padding-xs" for="talent_firstname">Linkedin</label>
            <div class="col-lg-3 col-xs-12 no-padding">
              <%= f.input :linkedin, required: true, autofocus: false, placeholder: "https://linkedin.com/demoi", label: false, :input_html => { style: "width: 100%" }, error: f.object.errors.messages[:linkedin][0] %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="form-actions">
      <%= link_to 'Précédent', root_path, { :class => "form-btn form-btn-precedent"} %>
      <%= f.button :submit, "Suivant", { :class => "form-btn form-btn-suivant"} %>
    </div>
  <% end %>
</div>


<!-- <script>
  function zeroInput(val, id){
    if (val < 0) {
      document.getElementById(id).value = 0
    }
  }
</script> -->
