
<div class="form-container simple-new-talent" data-page="1">

  <%= render 'shared/formprogression' %>

  <h2 class="form-titre-page"><i class="far fa-id-badge"></i> Qui se cache derrière <strong>ce Talent</strong> ?</h2>

  <%= simple_form_for @talent, url: wizard_path, method: :put do |f| %>
    <%= f.error_notification %>
    <div class="margin-auto-new-talent">
      <div class="linkedin-btn blue-background center-text">
        <%= link_to talent_linkedin_omniauth_authorize_path, :class => "button-linkedin" do %>
          <p class="no-margin"><i class="fab fa-linkedin"></i> Connect with Linkedin</p>
        <% end %>
      </div>
      <div class="blue-background margin-top-background">
        <div class="row">
          <label class="col-lg-2 label-edit text-align-right line-height-center requis no-margin no-padding-xs" for="talent_firstname">Civilité</label>
          <div class="col-lg-3 col-xs-12 no-padding margin-right-15 no-margin-xs margin-bottom-15-xs">
            <%= f.input :firstname, required: true, autofocus: true, placeholder: "Prénom", label: false, :input_html => { style: "width: 100%"} %>
          </div>
          <div class="col-lg-3 col-xs-12 no-padding">
            <%= f.input :name, required: true, autofocus: true, placeholder: "Nom", label: false, :input_html => { style: "width: 100%"} %>
          </div>
        </div>
        <div class="row margin-top-15">
          <label class="col-lg-2 label-edit text-align-right line-height-center requis no-margin no-padding-xs" for="talent_firstname">Identifiants</label>
          <%= f.input :email, required: true, autofocus: true, placeholder: "exemple@gmail.com", label: false, :input_html => { :class => "col-lg-3 col-xs-12 margin-right-15"}  %>

          <!-- <div class="col-lg-3 col-xs-12 margin-right-15 no-padding"> -->
            <!-- <#%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), placeholder: "Mot de passe", :input_html => { id: "margin-bottom-mdp", style: "width: 100%" }, label: false %><%= f.error_notification %> -->
         <!--  </div>
          <#%= f.input :password_confirmation, required: true, placeholder: "Confirmation du mot de passe", label: false, :input_html => { :class => "col-lg-3 col-xs-12"} %>
 -->
        </div>
        <div class="row margin-top-15">
          <label class="col-lg-2 label-edit text-align-right line-height-center requis no-margin no-padding-xs" for="talent_firstname">Tél.</label>
          <%= f.input :phone, required: true, autofocus: true, placeholder: "06 01 02 03 05", label: false, :input_html => { :class => "col-lg-3 col-xs-12 margin-right-15 no-margin-xs margin-bottom-15-xs"} %>
          <p class="label-edit line-height-center col-lg-3 col-xs-12 no-padding margin-right-15 requis">Ville</p>
          <%= f.input :city, placeholder: 'Nantes, France', :input_html => { :id => "talent_city", :class => "col-lg-3 col-xs-12" }, label: false %>
        </div>
      </div>


      <div class="blue-background margin-top-background">
        <div class="row">

            <%= f.simple_fields_for :talent_jobs do |u| %>
              <label class="col-lg-2 label-edit text-align-right line-height-center requis no-margin no-padding-xs" for="talent_firstname">Spécialité métier</label>
              <div class="col-lg-3 col-xs-12 no-padding margin-right-15 margin-bottom-15-xs">
                <%= u.input :job_id, collection: Job.all, label: false, :input_html => { style: "width: 100%" } %>
              </div>
              <p class="label-edit line-height-center col-lg-3 col-xs-12 no-padding margin-right-15">Depuis combien de temps ? (en années)</p>
              <div class="col-lg-3 col-xs-12 no-padding">
                <%= u.input :year, label: false, :input_html => { style: "width: 100%", id:"yearPositif", :onchange => "zeroInput(this.value, 'yearPositif')" } %>
              </div>
            <% end %>

        </div>
        <div class="row margin-top-15">
          <label class="col-lg-2 label-edit text-align-right line-height-center requis no-margin no-padding-xs" for="talent_firstname">Linkedin</label>
          <div class="col-lg-3 col-xs-12 no-padding">
            <%= f.input :linkedin, autofocus: true, placeholder: "https://linkedin.com/demoi", label: false, :input_html => { style: "width: 100%" } %>
          </div>
        </div>
      </div>
    </div>

    <div class="form-actions">
      <%= link_to 'Précédent', root_path, { :class => "form-btn form-btn-precedent"} %>
      <%= f.button :submit, "Suivant", { :class => "form-btn form-btn-suivant"} %>
    </div>
  <% end %>
</div>


<script>
  function zeroInput(val, id){
    if (val < 0) {
      document.getElementById(id).value = 0
    }
  }
</script>

