<%= link_to new_talent_session_path do  %>
  <%= render "shared/switch_button" %>
<% end %>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 px-0 d-none d-sm-block no-padding">
      <%= image_tag "Illustrations-login-01.png", class: "login-img" %>
      <%# <img src="assets/images/login.jpg" alt="login image" class="login-img"> %>
    </div>
    <div class="col-sm-6 login-section-wrapper">
      <div class="brand-wrapper">
        <%# <img src="assets/images/logo.svg" alt="logo" class="logo"> %>
        <%= image_tag "Logo The talentist-01.png", class: "logo" %>
      </div>
      <div class="login-wrapper my-auto">
        <h1 class="login-title">Je suis une start-up</h1>
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <%= f.error_notification %>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" name="headhunter[email]" id="headhunter_email" class="form-control" autofocus="autofocus" placeholder="exemple@gmail.com">
            <%# <input type="email" name="email" id="email" class="form-control" placeholder="email@example.com"> %>
          </div>
          <div class="form-group mb-4">
            <label for="password">Mot de passe</label>
            <input type="password" name="headhunter[password]" id="headhunter_password" class="form-control" placeholder="*********">
            <%# <input type="password" name="password" id="password" class="form-control" placeholder="enter your passsword"> %>
          </div>
          <%= content_tag(:div, flash[:alert], :id => "flash_alert ", :style => "color: red; margin-left: 10%;") if flash[:alert] %>
          <%= f.button :submit, "Se connecter", { :class => "btn btn-block login-btn"} %>
          <%# <input name="login" id="login" class="btn btn-block login-btn" type="button" value="Se connecter"> %>

          <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
            <%= link_to "Mot de passe oublié ?", new_password_path(resource_name), { class: "forgot-password-link" } %>
            <%# <a href="#!" class="forgot-password-link">Forgot password?</a> %>
          <% end -%>
          <%#= link_to omniauth_authorize_path(:talent, :linkedin), :class => "button-linkedin" do %>
            <%# <p class="text-align-center"><i class="fab fa-linkedin"></i> Se connecter avec Linkedin</p> %>
          <%# end %>

          <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
            <p class="login-wrapper-footer-text">Pas encore de compte ? <%= link_to "Inscris-toi", new_headhunter_registration_path, :class => "text-reset" %></p>
            <%# <%= link_to "S'inscrire", new_talent_registration_path, :class => "form-btn form-btn-precedent" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/unique-methods/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">window.dojoRequire(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us5.list-manage.com","uuid":"4b2cb08c3e51185788ded0f32","lid":"0a00cf81b3","uniqueMethods":true}) })</script>