<div class="new_landing" id="talent-landing">

  <%= render "shared/top_menu" %>

  <!-- <img class="new-landing-logo-talentist" src="/assets/Logo The talentist-01.png" alt="logo The talentist">  -->
  <%= image_tag "Logo The talentist-01.png", class: "new-landing-logo-talentist" %>

  <div class="connectez-vous">
    <%= link_to new_headhunter_registration_path, { :class=>"hidden-xs" } do  %>
      <p>S'INSCRIRE</p>
    <% end %>
    <%= link_to new_headhunter_session_path, { :class=>"hidden-xs" } do  %>
      <p>SE CONNECTER</p>
    <% end %>
  </div>

  <div class="landing-top">


    <div class="image-habillage">

      <div class="position-top">
        <h1 style="font-size: 5.3vw" class="hidden-xs">Je suis une <strong>start-up</strong></h1>
        <h1 style="font-size: 9.5vw" class="hidden visible-xs">Je suis une <strong>start-up</strong></h1>

        <p class="top-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>

        <div class="actions-xs hidden visible-xs">
          <div class="btn-connexion">
            <%= link_to("S'inscrire", new_headhunter_registration_path)  %>
          </div>
          <div class="blue-connexion btn-connexion">
            <%= link_to("Se connecter", new_headhunter_session_path) %>
          </div>
        </div>
        <div class="inscription-items hidden-xs hidden-sm">
          <div class="btn-connexion">
            <%= link_to("S'inscrire", new_headhunter_registration_path)  %>
          </div>
        </div>
      </div>

      <div class="compartiment-image">
        <%= image_tag "olu-eletu-134758-unsplash.jpg" %>
      </div>

    </div>

    <i class="fas fa-angle-double-down fleche-bas"></i>

  </div>

  <div class="landing-main">

    <div>
      <h2>Créez vos propres opportunités</h2>
      <div class="opportunites">
        <div class="opportunite">
          <h5>Des talents<br>uniques</h5>
          <p>Venez à la rencontre des meilleurs talents de l’écosystème digital sélectionnés par nos soins.</p>
        </div>
        <div class="opportunite">
          <h5>Recruter<br>facilement</h5>
          <p>Rejoindre notre plateforme c’est recruter avec agilité, simplicité et au succès !</p>
        </div>
        <div class="opportunite">
          <h5>Cibler une<br>recherche</h5>
          <p>Anticipez vos besoins et dénichez votre prochaine perle rare.</p>
        </div>
      </div>
    </div>

    <div class="banniere-inscription hidden-xs" style="position: relative;">
      <p>Lorem ipsum dolor sit amet, consectetur</p>
      <div class="btn-connexion">
        <%= link_to("S'inscrire", new_headhunter_registration_path)  %>
      </div>
      <div class="btn-connexion">
        <%= link_to("Se connecter", new_headhunter_session_path) %>
      </div>

      <!-- <div class="citation-Wilde">
        <i class="fas fa-quote-left"></i>
        <div class="cit-OW">
          <p class="iladit">Soyez vous-<br>même,<br> les autres<br> sont déja<br> pris.</p>
          <p class="auteur">Oscar WILDE</p>
        </div>
      </div> -->
    </div>

    <div class="grid-chiffres-destine">
      <div class="nos-chiffres">
        <h2>Nos chiffres</h2>
        <div class="chiffres">
          <div class="chiffres-item">
            <p class="chiffre">80</p>
            <p class="desc-chiffre">personnes<br>placées</p>
          </div>
          <div class="chiffres-item">
            <p class="chiffre">24</p>
            <p class="desc-chiffre">candidatures<br>en cours</p>
          </div>
          <div class="chiffres-item">
            <p class="chiffre">75</p>
            <p class="desc-chiffre">utilisateurs de<br>la plateforme</p>
          </div>
        </div>
      </div>
      <img src="" class="hidden-xs">
      <img src="" class="hidden-xs">
      <div class="destine">
        <h2>À qui cela est destiné</h2>
        <div class="grid-container">
          <div class="grid-item">
            <p><em>Digital</em></p>
          </div>
          <div class="grid-item">
            <p><em>Croissance</em></p>
          </div>
          <div class="grid-item">
            <p><em>Humain</em></p>
          </div>
          <div class="grid-item">
            <p><em>Innovation</em></p>
          </div>
        </div>
      </div>
    </div>


    <div class="banniere-inscription hidden-xs">
      <p>Lorem ipsum dolor sit amet, consectetur</p>
      <div class="btn-connexion">
        <%= link_to("S'inscrire", new_headhunter_registration_path)  %>
      </div>
      <div class="btn-connexion">
        <%= link_to("Se connecter", new_headhunter_session_path) %>
      </div>
    </div>

    <div class="fonctionnement">
      <h2>Notre fontionnement</h2>
      <div class="placement-card">
        <div class="card-fonctionnement">
          <p class="numero">01</p>
          <h5>Inscription</h5>
          <p class="desc-fonctionnement">Tu recherches ta prochaine aventure ? Inscris toi !</p>
        </div>
        <div class="card-fonctionnement">
          <p class="numero">02</p>
          <h5>Connexion</h5>
          <p class="desc-fonctionnement">Pour te comprendre on veut te connaitre, parle-nous de toi! Une fois sélectionné, ton profil est visible auprès des plus belles startups.</p>
        </div>
        <div class="card-fonctionnement">
          <p class="numero">03</p>
          <h5>Match</h5>
          <p class="desc-fonctionnement">Cette fois-ci, ce sont les startups qui demandent à échanger avec toi. Crée ta propre opportunité et décide qui rencontrer.</p>
        </div>
        <div class="card-fonctionnement">
          <p class="numero">04</p>
          <h5>Succès</h5>
          <p class="desc-fonctionnement">Nous sommes concernés et impliqués dans ton parcours, et à tes côtés pour te conseiller.</p>
        </div>
      </div>
    </div>

    <div>
      <h2>Ils nous ont fait confiance</h2>
      <div class="ligne-client">
        <div class="bloc-client">
          <a class="client" href="https://www.agriconomie.com/" target="_blank">
            <%= image_tag "agriconomie-logo.jpg", class: "logo" %>
          </a>
        </div>
        <div class="bloc-client">
          <a class="client" href="https://www.backmarket.fr/" target="_blank">
            <%= image_tag "backmarket-logo.jpg", class: "logo" %>
          </a>
        </div>
        <div class="bloc-client">
          <a class="client" href="https://www.doctolib.fr/" target="_blank">
            <%= image_tag "doctolib-logo.png", class: "logo" %>
          </a>
        </div>
        <div class="bloc-client">
          <a class="client" href="https://www.idecsi.com/fr/" target="_blank">
            <%= image_tag "IDECSI-logo.jpg", class: "logo" %>
          </a>
        </div>
        <div class="bloc-client">
          <a class="client" href="https://www.intuit.com/" target="_blank">
            <%= image_tag "intuit-logo.png", class: "logo" %>
          </a>
        </div>
        <div class="bloc-client">
          <a class="client" href="https://www.lafourchette.com/" target="_blank">
            <%= image_tag "lafourchette-logo.jpg", class: "logo" %>
          </a>
        </div>
        <div class="bloc-client">
          <a class="client" href="https://www.manomano.fr/" target="_blank">
            <%= image_tag "manomano-logo.png", class: "logo" %>
          </a>
        </div>
        <div class="bloc-client">
          <a class="client" href="https://myelefant.com/" target="_blank">
            <%= image_tag "my-elefant-logo.png", class: "logo" %>
          </a>
        </div>
        <div class="bloc-client">
          <a class="client" href="https://compte-nickel.fr/" target="_blank">
            <%= image_tag "NICKEL-logo.png", class: "logo" %>
          </a>
        </div>
        <div class="bloc-client">
          <a class="client" href="https://www.prestashop.com/fr" target="_blank">
            <%= image_tag "Prestashop-logo.png", class: "logo" %>
          </a>
        </div>
        <div class="bloc-client">
          <a class="client" href="https://fr.eatwith.com/?c=EUR" target="_blank">
            <%= image_tag "vizeat_logo.png", class: "logo" %>
          </a>
        </div>
        <div class="bloc-client">
          <a class="client" href="https://www.welcometothejungle.co/" target="_blank">
            <%= image_tag "wtj-logo.png", class: "logo" %>
          </a>
        </div>
      </div>
    </div>

    <div class="citations">
      <i class="fas fa-quote-left"></i>
      <div class="auteur-citation">
        <p class="nom">Patrick DUPONT</p>
        <p class="titre">Data scientist</p>
      </div>
      <p class="citation">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
    </div>

    <div class="banniere-inscription hidden-xs">
      <p>Lorem ipsum dolor sit amet, consectetur</p>
      <div class="btn-connexion">
        <%= link_to("S'inscrire", new_headhunter_registration_path)  %>
      </div>
      <div class="btn-connexion">
        <%= link_to("Se connecter", new_headhunter_session_path) %>
      </div>
    </div>
  </div>


</div>



<%= render "shared/footer" %>

