<%= link_to welcome_talents_path do  %>
  <%= render "shared/switch_button" %>
<% end %>

<div class="new_landing container-fluid" id="talent-landing">

  <!-- navbar -->
    <div class="row margin-top-30 margin-bottom-30">
      <div class="col-xs-2 text-align-center">
        <%= render "shared/top_menu" %>
      </div>
      <div class="col-xs-4 col-xs-offset-2 text-align-center">
        <%= link_to root_path do %>
          <%= image_tag "Logo The talentist-01.png", class: "new-landing-logo-talentist" %>
        <% end %>
      </div>
      <div class="col-xs-4">
        <%= render "shared/connexion-btns" %>
      </div>
    </div>

  <!-- box grise -->
    <div class="absolute hidden-xs hidden-sm" style="top: 0; right: 0; left: 0; z-index: -1;">
      <div class="col-xs-offset-2 col-xs-10 landing-top"></div>
    </div>

  <!-- intérieur box -->
    <div class="row">
      <div class="col-xs-offset-2 col-xs-10 image-habillage">
        <div class="row">
          <!-- image de fond -->
            <div class="col-lg-offset-4 col-lg-8 col-xs-12 compartiment-image relative" style="background-image: url('<%= image_path "olu-eletu-134758-unsplash.jpg" %>');">
              <div class="quatre-metiers hidden-xs hidden-sm hidden-md">
                <h3>Rencontrez les meilleurs profils Marketing, Produit, Sales, Opérations, RH et Finance du marché digital !</h3>
              </div>
            </div>

          <!-- texte principal -->
            <div class="col-lg-11 col-xs-12 margin-top-60 position-top texte-principal">
              <div class="texte-principal-gauche">
                <h1>Je suis une start-up</h1>
              </div>
              <div class="texte-principal-droit">
                <h1 class="green">Je suis une start-up</h1>
              </div>
            </div>

          <!-- btns inscription -->
            <div class="col-lg-4 margin-btn-inscription-lp">
              <div class="col-xs-5 btn btn-inscription">
                <%= link_to new_headhunter_registration_path do  %>
                  <p>S'inscrire</p>
                <% end %>
              </div>
              <div class="col-xs-6 col-xs-offset-1 btn btn-inscription">
                <%= link_to new_headhunter_session_path do %>
                  <p>Se connecter</p>
                <% end %>
              </div>
            </div>
        </div>
      </div>
    </div>


    <a href="#landing-main"><i class="fas fa-angle-double-down fleche-bas"></i></a>




  <div class="landing-main">

    <div id="landing-main" style="padding-top: 25px;">
      <h2 class="margin-top-15-xs">Une plateforme qui répond à vos besoins !</h2>
      <div class="opportunites">
        <div class="opportunite">
          <h5>Des talents<br>uniques</h5>
          <p>Venez à la rencontre des meilleurs talents de l’écosystème digital sélectionnés par nos soins.</p>
        </div>
        <div class="opportunite">
          <h5>Recruter<br>facilement</h5>
          <p>Rejoindre notre plateforme c’est recruter avec agilité, simplicité et au succès !</p>
        </div>
        <div class="opportunite">
          <h5>N'attendez<br>plus !</h5>
          <p>Anticipez vos besoins et dénichez votre prochaine perle rare.</p>
        </div>
      </div>
    </div>

    <div class="banniere-inscription hidden-xs" style="position: relative;">
      <p>Recrute les meilleurs pour ta start-up</p>
      <div class="btn-connexion">
        <%= link_to("S'inscrire", new_headhunter_registration_path)  %>
      </div>
      <div class="btn-connexion">
        <%= link_to("Se connecter", new_headhunter_session_path) %>
      </div>

      <!-- <div class="citation-Wilde">
        <i class="fas fa-quote-left"></i>
        <div class="cit-OW">
          <p class="iladit">Soyez vous-<br>même,<br> les autres<br> sont déja<br> pris.</p>
          <p class="auteur">Oscar WILDE</p>
        </div>
      </div> -->
    </div>

    <div class="grid-chiffres-destine">
      <!-- <div class="nos-chiffres">
        <h2>Nos chiffres</h2>
        <div class="row">
          <div class="col-lg-4 col-xs-12">
            <p class="chiffre">80</p>
            <p class="desc-chiffre">personnes<br>placées</p>
          </div>
          <div class="col-lg-4 col-xs-12">
            <p class="chiffre">24</p>
            <p class="desc-chiffre">candidatures<br>en cours</p>
          </div>
          <div class="col-lg-4 col-xs-12">
            <p class="chiffre">75</p>
            <p class="desc-chiffre">utilisateurs de<br>la plateforme</p>
          </div>
        </div>
      </div>
      <%= image_tag "image-home1.png", class: "hidden-xs image-home1" %> -->
      <%= image_tag "image-home1.png", class: "hidden-xs image-home2" %>
      <div class="destine">
        <h2>À qui cela est destiné</h2>
        <div class="grid-container">
          <div class="grid-item">
            <p><em>Digital.</em> Vous êtes une startup ambitieuse et vous évoluez dans le secteur du digital.</p>
          </div>
          <div class="grid-item">
            <p><em>Croissance.</em> Vous souhaitez agrandir vos équipes avec de forts potentiels.</p>
          </div>
          <div class="grid-item">
            <p><em>Humain.</em> Un projet est avant tout une aventure humaine et vos talents sont la clé de votre réussite.</p>
          </div>
          <div class="grid-item">
            <p><em>Innovation.</em> Vous mettez l'innovation au cœur de votre projet.</p>
          </div>
        </div>
      </div>
    </div>


    <div class="banniere-inscription hidden-xs">
      <p>You drive a beautiful startup ?</p>
      <div class="btn-connexion">
        <%= link_to("S'inscrire", new_headhunter_registration_path)  %>
      </div>
      <div class="btn-connexion">
        <%= link_to("Se connecter", new_headhunter_session_path) %>
      </div>
    </div>

    <div class="fonctionnement">
      <h2>Comment ça marche ?</h2>
      <div class="placement-card">
        <div class="card-fonctionnement">
          <p class="numero">01</p>
          <h5>Inscription facile</h5>
          <p class="desc-fonctionnement">En quelques clics, créez votre profil recruteur et mettez en avant vos atouts pour attirer les meilleur talents.</p>
        </div>
        <div class="card-fonctionnement">
          <p class="numero">02</p>
          <h5>Connexion</h5>
          <p class="desc-fonctionnement">Chaque mois, découvrez de nouveaux talents Marketing, Produit, Opérations, Sales, RH et Finance. Connectez-vous et échangez avec eux !</p>
        </div>
        <div class="card-fonctionnement">
          <p class="numero">03</p>
          <h5>Match parfait</h5>
          <p class="desc-fonctionnement">Une fois contacté, le candidat accepte votre demande et vous pouvez alors échanger.</p>
        </div>
        <div class="card-fonctionnement">
          <p class="numero">04</p>
          <h5>Success fees</h5>
          <p class="desc-fonctionnement">Les plus belles rencontres font les plus belles opportunités. Vous ne payez que si vous recrutez !</p>
        </div>
      </div>
    </div>

    <div>
      <h2>Ils nous ont fait confiance</h2>
      <div class="ligne-client">
        <div class="bloc-client">
          <a class="client" href="https://www.agriconomie.com/" target="_blank">
            <%= image_tag "agriconomie-logo.jpg", class: "logo" %>
            <div class="clientmask">
              <p>“Fondée par deux fils et un petit-fils d’agriculteurs, Agriconomie a créé la première marketplace agricole mondiale.”</p>
            </div>
          </a>
        </div>
        <div class="bloc-client">
          <a class="client" href="https://www.backmarket.fr/" target="_blank">
            <%= image_tag "backmarket-logo.jpg", class: "logo" %>
            <div class="clientmask">
              <p>“Fort de plus de 150 000 clients dès 2016, Back Market s’inscrit déjà comme un acteur important du marché des produits reconditionnés.”</p>
            </div>
          </a>
        </div>
        <div class="bloc-client">
          <a class="client" href="https://www.doctolib.fr/" target="_blank">
            <%= image_tag "doctolib-logo.png", class: "logo" %>
            <div class="clientmask">
              <p>“En quelques années, Doctolib a révolutionné la prise de RDV médicaux en fournissant un service en ligne qui facilite la vie de millions de patients et de médecins.”</p>
            </div>
          </a>
        </div>
        <div class="bloc-client">
          <a class="client" href="https://www.idecsi.com/fr/" target="_blank">
            <%= image_tag "IDECSI-logo.jpg", class: "logo" %>
            <div class="clientmask">
              <p>“Auréolée du Label French Tech EIP, Idecsi protège vos données de façon intelligente et innovante.”</p>
            </div>
          </a>
        </div>
        <div class="bloc-client">
          <a class="client" href="https://www.intuit.com/" target="_blank">
            <%= image_tag "intuit-logo.png", class: "logo" %>
            <div class="clientmask">
              <p>“Grâce à son logiciel de comptabilité, Intuit facilite le quotidien de milliers d'entreprises et de particuliers.”</p>
            </div>
          </a>
        </div>
        <div class="bloc-client">
          <a class="client" href="https://www.lafourchette.com/" target="_blank">
            <%= image_tag "lafourchette-logo.jpg", class: "logo" %>
            <div class="clientmask">
              <p>“Plus de 40 000 restaurants, c’est ce qui fait de LaFourchette la première plateforme de réservation de restaurants en Europe.”</p>
            </div>
          </a>
        </div>
        <div class="bloc-client">
          <a class="client" href="https://www.manomano.fr/" target="_blank">
            <%= image_tag "manomano-logo.png", class: "logo" %>
            <div class="clientmask">
              <p>“ManoMano est devenue la première plateforme de bricolage et jardinage en Europe en moins de deux ans.”</p>
            </div>
          </a>
        </div>
        <div class="bloc-client">
          <a class="client" href="https://myelefant.com/" target="_blank">
            <%= image_tag "my-elefant-logo.png", class: "logo" %>
            <div class="clientmask">
              <p>“Spécialiste du marketing mobile par messaging! La solution MyElefant permet aux équipes marketing d’être 100% autonomes sur le design, l’envoi et l’analyse des campagnes de messaging mobile enrichi.”</p>
            </div>
          </a>
        </div>
        <div class="bloc-client">
          <a class="client" href="https://compte-nickel.fr/" target="_blank">
            <%= image_tag "NICKEL-logo.png", class: "logo" %>
            <div class="clientmask">
              <p>“Simple, efficace et peu coûteux, Compte Nickel a déjà séduit plus de 600 000 utilisateurs grâce à son service de compte sans banque qui s'ouvre en quelques minutes.”</p>
            </div>
          </a>
        </div>
        <div class="bloc-client">
          <a class="client" href="https://www.prestashop.com/fr" target="_blank">
            <%= image_tag "Prestashop-logo.png", class: "logo" %>
            <div class="clientmask">
              <p>“Prestashop est un éditeur de solutions e-commerce accompagnant les commerçants dans la création de leur boutique en ligne.”</p>
            </div>
          </a>
        </div>
        <div class="bloc-client">
          <a class="client" href="https://fr.eatwith.com/?c=EUR" target="_blank">
            <%= image_tag "vizeat_logo.png", class: "logo" %>
            <div class="clientmask">
              <p>“Plus de 20 000 hôtes qui accueillent chez eux des milliers de voyageurs à travers le monde, pour partager leurs passions communes pour la cuisine, l’art de vivre et les rencontres.”</p>
            </div>
          </a>
        </div>
        <div class="bloc-client">
          <a class="client" href="https://www.welcometothejungle.co/" target="_blank">
            <%= image_tag "wtj-logo.png", class: "logo" %>
            <div class="clientmask">
              <p>“Une équipe jeune et soudée qui a pour volonté d’offrir la meilleure expérience de recrutement, aussi bien pour les candidats, que pour les recruteurs !”</p>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="citations" style="min-height: 435px;">
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
            <div class="item-display">
              <i class="fas fa-quote-left"></i>
              <div class="auteur-citation">
                <p class="nom">ALEX</p>
                <p class="titre">UX DESIGNER <br>@BACK MARKET</p>
              </div>
              <p class="citation text-align-justify">“J’ai vraiment apprécié l’entretien individuel pour bien comprendre mon profil et ce que je recherchais. Toutes les propositions d’entretien qui m’ont été communiquées correspondaient totalement à mes attentes. J’attends maintenant avec impatience de commencer mon nouveau job et je remercie Ineva !”</p>
            </div>
          </div>

          <div class="item">
            <div class="item-display">
              <i class="fas fa-quote-left"></i>
              <div class="auteur-citation">
                <p class="nom">NICOLAS</p>
                <p class="titre">HEAD OF SALES <br>@SEZANE</p>
              </div>
              <p class="citation text-align-justify">“A l’écoute et disponible, Ineva a su évaluer mon profil, mes compétences et mes envies. Le processus de recrutement s’est déroulé dans les meilleures conditions. Quand changer de job et accepter un nouveau challenge devient un véritable plaisir! Merci Ineva.”</p>
            </div>
          </div>

          <div class="item">
           <div class="item-display">
              <i class="fas fa-quote-left"></i>
              <div class="auteur-citation">
                <p class="nom">ALEXANDRE</p>
                <p class="titre">HEAD OF PRODUCT <br>@PRESTASHOP</p>
              </div>
              <p class="citation text-align-justify">“Ineva possède la particularité très appréciable de ne pas simplement pourvoir des postes, mais de pourvoir le poste qui convient à ses candidats. Une connaissance précise de leurs métiers et un suivi régulier permettent aux candidats d’être accompagnés du premier rendez-vous au nouveau poste.”</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="banniere-inscription hidden-xs">
      <p>Trouve ton prochain talent en t'inscrivant !</p>
      <div class="btn-connexion">
        <%= link_to("S'inscrire", new_headhunter_registration_path)  %>
      </div>
      <div class="btn-connexion">
        <%= link_to("Se connecter", new_headhunter_session_path) %>
      </div>
    </div>

    <h3 class="vous-prenez-decision">IL NE TIENT QU’À VOUS DE PRENDRE LA DECISION</h3>
    <div class="inscription-grid">
      <%= link_to new_headhunter_registration_path do  %>
        <div class="inscription-grid-item">
          <i class="fas fa-user"></i>
          <p>JE VEUX RECRUTER</p>
        </div>
      <% end %>
      <hr>
      <%= link_to new_talent_registration_path do  %>
        <div class="inscription-grid-item">
          <i class="fas fa-rocket"></i>
          <p>JE VEUX ETRE EMBAUCHÉ</p>
        </div>
      <% end %>
    </div>

  </div>


</div>



