<div class="new_landing">

  <%= render "shared/top_menu" %>


  <%= image_tag "Logo The talentist-01.png", class: "new-landing-logo-talentist" %>

 <!--  <div class="avatar-home">
    <#%= render "shared/avatar" %>
  </div> -->

  <div class="landing-top" style="margin-bottom: 0">



    <div class="image-habillage">
      <!-- <img src="/assets/rawpixel-617400-unsplash.jpg" alt="image de fond"> -->
      <div class="position-top">
        <h1>When the <strong>most talented</strong> <br>candidates <strong>meet promising</strong> <br>start-ups.</h1>

        <div class="inscription-items">
          <div class="btn btn-primary btn-inscription">
            <%= link_to welcome_talents_path do  %>
              <p><i class="fas fa-user"></i></p>
              <p>Je suis un<br>talent</p>
            <% end %>
          </div>
          <div class="btn btn-primary btn-inscription">
            <%= link_to welcome_headhunters_path do %>
              <p><i class="fas fa-rocket"></i></p>
              <p>Je suis une<br>start-up</p>
            <% end %>
          </div>
        </div>
      </div>

      <div class="quatre-metiers">
        <h3>Plateforme de mise en relation entre talents du digital et startups, spécialisée dans les métiers du Marketing, Produit, Sales et Operations!</h3>
      </div>

      <div class="compartiment-image"style="background-image: url('<%= image_path "olu-eletu-134758-unsplash.jpg" %>');">
      </div>

    </div>

  </div>
</div>



<%= link_to new_talentist_session_path do %>
  <i class="fas fa-user" style="color: white; position: fixed; bottom: 0;"></i>
<% end %>



