<div class="new_landing">

  <div class="top-menu">
    <div class="little-square">
      <hr class="first">
      <hr class="second">
      <hr class="third">
    </div>
    <h4 class="titre-menu">MENU</h4>
  </div>


  <%= image_tag "Logo The talentist-01.png", class: "new-landing-logo-talentist" %>

  <div class="avatar-home">
    <%= render "shared/avatar" %>
  </div>

  <div class="landing-top" style="margin-bottom: 0">

    <h1>When the <strong>most talented</strong> <br>candidate <strong>meet providing</strong> <br>start-up.</h1>

    <div class="inscription-items">
      <div class="btn btn-primary btn-inscription">
        <%= link_to welcome_talents_path do  %>
          <p><i class="fas fa-user"></i></p>
          <p>Je suis un<br>talent</p>
        <% end %>
      </div>
      <div class="btn btn-primary btn-inscription">
        <%= link_to welcome_headhunters_path do %>
          <p><i class="fas fa-rocket"></i></p>
          <p>Je suis une<br>start-up</p>
        <% end %>
      </div>
    </div>

    <div class="image-habillage">
      <!-- <img src="/assets/rawpixel-617400-unsplash.jpg" alt="image de fond"> -->
      <%= image_tag "rawpixel-617400-unsplash.jpg" %>

      <p class="desc-service">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>

    </div>

  </div>
</div>


<!-- <div class="btn-inscription">
  <%= link_to new_talentist_session_path do %>
    <i class="fas fa-user"></i>
    <p>Je suis THE<br>TALENTIST</p>
  <% end %>
</div> -->


