<div class="new_landing" id="talent-landing">

  <%= render "shared/top_menu" %>


  <!-- <img class="new-landing-logo-talentist" src="/assets/Logo The talentist-01.png" alt="logo The talentist">  -->
  <%= image_tag "Logo The talentist-01.png", class: "new-landing-logo-talentist" %>
  <div class="connectez-vous">
    <%= link_to new_talent_registration_path, { :class=>"hidden-xs" } do  %>
      <p>S'INSCRIRE</p>
    <% end %>
    <%= link_to new_talent_session_path, { :class=>"hidden-xs" } do  %>
      <p>SE CONNECTER</p>
    <% end %>
  </div>

  <div class="landing-top">




    <div class="image-habillage">

      <div class="position-top">
        <h1>Je suis un <strong>talent</strong></h1>

        <p class="top-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>

        <div class="actions-xs hidden visible-xs">
          <div class="btn-connexion">
            <%= link_to("S'inscrire", new_talent_registration_path)  %>
          </div>
          <div class="blue-connexion btn-connexion">
            <%= link_to("Se connecter", new_talent_session_path) %>
          </div>
        </div>
        <div class="inscription-items hidden-xs hidden-sm">
          <div class="btn-connexion">
            <%= link_to("S'inscrire", new_talent_registration_path)  %>
          </div>
        </div>
      </div>



      <div class="compartiment-image">
        <%= image_tag "olu-eletu-134758-unsplash.jpg" %>
      </div>

    </div>

    <i class="fas fa-angle-double-down fleche-bas"></i>

  </div>

  <div class="landing-main">

    <div>
      <h2>Créez vos propres opportunités</h2>
      <div class="opportunites">
        <div class="opportunite">
          <h5>Accompagnement<br>Personnalisé</h5>
          <p>Pour mieux te connaître, viens nous rencontrer.</p>
        </div>
        <div class="opportunite">
          <h5>Visibilité<br>immédiate</h5>
          <p>Rends-toi visible auprès des start-ups les plus prometteuses.</p>
        </div>
        <div class="opportunite">
          <h5>Créer une<br>communauté</h5>
          <p>Les plus belles rencontres font les plus belles histoires.</p>
        </div>
        <div class="opportunite">
          <h5>Métiers<br>spécialisés</h5>
          <p>Le digital t’intéresse ? Marketing, Produit, Sales, Bizdev et Opérations sont nos spécialités.</p>
        </div>
      </div>
    </div>


    <div class="banniere-inscription hidden-xs" style="position: relative;">
      <p>Lorem ipsum dolor sit amet, consectetur</p>
      <div class="btn-connexion">
        <%= link_to("S'inscrire", new_talent_registration_path)  %>
      </div>
      <div class="btn-connexion">
        <%= link_to("Se connecter", new_talent_session_path) %>
      </div>

      <!-- <div class="citation-Wilde">
        <i class="fas fa-quote-left"></i>
        <div class="cit-OW">
          <p class="iladit">Soyez vous-<br>même,<br> les autres<br> sont déja<br> pris.</p>
          <p class="auteur">Oscar WILDE</p>
        </div>
      </div> -->
    </div>

    <div class="grid-chiffres-destine">
      <div class="nos-chiffres">
        <h2>Nos chiffres</h2>
        <div class="chiffres">
          <div class="chiffres-item">
            <p class="chiffre">80</p>
            <p class="desc-chiffre">Start-up<br>inscrites</p>
          </div>
          <div class="chiffres-item">
            <p class="chiffre">24<em>H</em></p>
            <p class="desc-chiffre">Pour faire<br>un retour</p>
          </div>
          <div class="chiffres-item">
            <p class="chiffre">75<em>%</em></p>
            <p class="desc-chiffre">sont des<br>anciens</p>
          </div>
        </div>
      </div>
      <img src="" class="hidden-xs">
      <img src="" class="hidden-xs">
      <div class="destine">
        <h2>À qui cela est destiné</h2>
        <div class="grid-container">
          <div class="grid-item">
            <p><em>Motivé et ambitieux,</em> tu souhaites avoir de l’impact et faire bouger les lignes.</p>
          </div>
          <div class="grid-item">
            <p><em>Think out of the box !</em> Ta proactivité te permet de dépasser tes objectifs.</p>
          </div>
          <div class="grid-item">
            <p>Un projet est avant tout une aventure. <em>Ton esprit d’équipe</em> fait la différence !</p>
          </div>
          <div class="grid-item">
            <p>Construire, bâtir & innover ! <em>L’entrepreneuriat est ta passion ?</em> Trouve ton prochain challenge!</p>
          </div>
        </div>
      </div>
    </div>

    <div class="banniere-inscription hidden-xs">
      <p>Lorem ipsum dolor sit amet, consectetur</p>
      <div class="btn-connexion">
        <%= link_to("S'inscrire", new_talent_registration_path)  %>
      </div>
      <div class="btn-connexion">
        <%= link_to("Se connecter", new_talent_session_path) %>
      </div>
    </div>

    <div class="fonctionnement">
      <h2>Notre fontionnement</h2>
      <div class="placement-card">
        <div class="card-fonctionnement">
          <p class="numero">01</p>
          <h5>Inscription</h5>
          <p class="desc-fonctionnement">Tu recherches ta prochaine aventure ? Inscris toi !</p>
        </div>
        <div class="card-fonctionnement">
          <p class="numero">02</p>
          <h5>Sélection</h5>
          <p class="desc-fonctionnement">Pour te comprendre on veut te connaitre, parle-nous de toi! Une fois sélectionné, ton profil est visible auprès des plus belles startups.</p>
        </div>
        <div class="card-fonctionnement">
          <p class="numero">03</p>
          <h5>Rencontre</h5>
          <p class="desc-fonctionnement">Cette fois-ci, ce sont les startups qui demandent à échanger avec toi. Crée ta propre opportunité et décide qui rencontrer.</p>
        </div>
        <div class="card-fonctionnement">
          <p class="numero">04</p>
          <h5>Suivi</h5>
          <p class="desc-fonctionnement">Nous sommes concernés et impliqués dans ton parcours, et à tes côtés pour te conseiller.</p>
        </div>
      </div>
    </div>

    <div>
      <h2>Ils nous ont fait confiance</h2>
      <div class="ligne-client">
        <div class="bloc-client">
          <a class="client" href="https://www.agriconomie.com/" target="_blank">
            <img src="/assets/agriconomie-logo.jpg" class="logo">
          </a>
        </div>
        <div class="bloc-client">
          <a class="client" href="https://www.backmarket.fr/" target="_blank">
            <img src="/assets/backmarket-logo.jpg" class="logo">
          </a>
        </div>
        <div class="bloc-client">
          <a class="client" href="https://www.doctolib.fr/" target="_blank">
            <img src="/assets/doctolib-logo.png" class="logo">
          </a>
        </div>
        <div class="bloc-client">
          <a class="client" href="https://www.idecsi.com/fr/" target="_blank">
            <img src="/assets/IDECSI-logo.jpg" class="logo">
          </a>
        </div>
        <div class="bloc-client">
          <a class="client" href="https://www.intuit.com/" target="_blank">
            <img src="/assets/intuit-logo.png" class="logo">
          </a>
        </div>
        <div class="bloc-client">
          <a class="client" href="https://www.lafourchette.com/" target="_blank">
            <img src="/assets/lafourchette-logo.jpg" class="logo">
          </a>
        </div>
        <div class="bloc-client">
          <a class="client" href="https://www.manomano.fr/" target="_blank">
            <img src="/assets/manomano-logo.png" class="logo">
          </a>
        </div>
        <div class="bloc-client">
          <a class="client" href="https://myelefant.com/" target="_blank">
            <img src="/assets/my-elefant-logo.png" class="logo">
          </a>
        </div>
        <div class="bloc-client">
          <a class="client" href="https://compte-nickel.fr/" target="_blank">
            <img src="/assets/NICKEL-logo.png" class="logo">
          </a>
        </div>
        <div class="bloc-client">
          <a class="client" href="https://www.prestashop.com/fr" target="_blank">
            <img src="/assets/Prestashop-logo.png" class="logo">
          </a>
        </div>
        <div class="bloc-client">
          <a class="client" href="https://fr.eatwith.com/?c=EUR" target="_blank">
            <img src="/assets/vizeat_logo.png" class="logo">
          </a>
        </div>
        <div class="bloc-client">
          <a class="client" href="https://www.welcometothejungle.co/" target="_blank">
            <img src="/assets/wtj-logo.png" class="logo">
          </a>
        </div>
      </div>
    </div>

    <div class="citations">
      <i class="fas fa-quote-left"></i>
      <div class="auteur-citation">
        <p class="nom">Patrick DUPONT</p>
        <p class="titre">Data scientist</p>
      </div>
      <p class="citation">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
    </div>

    <div class="banniere-inscription hidden-xs">
      <p>Trouve ton prochain job !</p>
      <div class="btn-connexion">
        <%= link_to("S'inscrire", new_talent_registration_path)  %>
      </div>
      <div class="btn-connexion">
        <%= link_to("Se connecter", new_talent_session_path) %>
      </div>
    </div>
  </div>


</div>



<%= render "shared/footer" %>

