<div class="new_landing" id="talent-landing">

  <%= render "shared/top_menu" %>

  <%= link_to welcome_headhunters_path do  %>
    <%= render "shared/switch_button" %>
  <% end %>

  <!-- <img class="new-landing-logo-talentist" src="/assets/Logo The talentist-01.png" alt="logo The talentist">  -->
  <%= image_tag "Logo The talentist-01.png", class: "new-landing-logo-talentist" %>
  <div class="connectez-vous">
    <%= link_to new_talent_registration_path, { :class=>"hidden-xs" } do  %>
      <p>S'INSCRIRE</p>
    <% end %>
    <%= link_to new_talent_session_path, { :class=>"hidden-xs" } do  %>
      <p>SE CONNECTER</p>
    <% end %>
  </div>

  <div class="landing-top">




    <div class="image-habillage">

      <div class="position-top">
        <h1>Je suis un <strong>talent</strong></h1>


        <div class="actions-xs hidden visible-xs">
          <div class="btn-connexion">
            <%= link_to("S'inscrire", new_talent_registration_path)  %>
          </div>
          <div class="blue-connexion btn-connexion">
            <%= link_to("Se connecter", new_talent_session_path) %>
          </div>
        </div>
        <div class="inscription-items hidden-xs hidden-sm">
          <div class="btn-connexion">
            <%= link_to("S'inscrire", new_talent_registration_path)  %>
          </div>
        </div>
      </div>

      <div class="quatre-metiers">
        <h3>
          Tu recherches ta prochaine aventure? <br>
          Tu es spécialisé en Marketing, Produit, Sales ou Operations ? <br>
          Ici, ce sont les entreprises qui viennent à toi ! Inscris toi !
        </h3>
      </div>

      <div class="compartiment-image">
        <%= image_tag "olu-eletu-134758-unsplash.jpg" %>
      </div>

    </div>

    <i class="fas fa-angle-double-down fleche-bas"></i>

  </div>

  <div class="landing-main">

    <div>
      <h2>Créez vos propres opportunités</h2>
      <div class="opportunites">
        <div class="opportunite">
          <h5>Accompagnement<br>Personnalisé</h5>
          <p>Pour mieux te connaître, viens nous rencontrer.</p>
        </div>
        <div class="opportunite">
          <h5>Visibilité<br>immédiate</h5>
          <p>Rends-toi visible auprès des start-ups les plus prometteuses.</p>
        </div>
        <div class="opportunite">
          <h5>Communauté</h5>
          <p>Les plus belles rencontres font les plus belles histoires.</p>
        </div>
        <div class="opportunite">
          <h5>Métiers<br>spécialisés</h5>
          <p>Le digital t’intéresse ? Marketing, Produit, Sales, Bizdev et Opérations sont nos spécialités.</p>
        </div>
      </div>
    </div>


    <div class="banniere-inscription hidden-xs" style="position: relative;">
      <p>Are you a Talentist ?</p>
      <div class="btn-connexion">
        <%= link_to("S'inscrire", new_talent_registration_path)  %>
      </div>
      <div class="btn-connexion">
        <%= link_to("Se connecter", new_talent_session_path) %>
      </div>

      <!-- <div class="citation-Wilde">
        <i class="fas fa-quote-left"></i>
        <div class="cit-OW">
          <p class="iladit">Soyez vous-<br>même,<br> les autres<br> sont déja<br> pris.</p>
          <p class="auteur">Oscar WILDE</p>
        </div>
      </div> -->
    </div>

    <div class="grid-chiffres-destine">
      <div class="destine">
        <h2>*** VISUEL A CHANGER ***</h2>
        <div class="grid-container">
          <div class="grid-item">
            <p><em>Motivé et ambitieux,</em> tu souhaites avoir de l’impact et faire bouger les lignes.</p>
          </div>
          <div class="grid-item">
            <p><em>Think out of the box !</em> Ta proactivité te permet de dépasser tes objectifs.</p>
          </div>
          <div class="grid-item">
            <p>Un projet est avant tout une aventure. <em>Ton esprit d’équipe</em> fait la différence !</p>
          </div>
          <div class="grid-item">
            <p>Construire, bâtir & innover ! <em>L’entrepreneuriat est ta passion ?</em> Trouve ton prochain challenge!</p>
          </div>
        </div>
      </div>
      <%= image_tag "image-home1.png", class: "hidden-xs image-home1" %>
      <%= image_tag "image-home1.png", class: "hidden-xs image-home2" %>
      <div class="nos-chiffres">
        <h2>Nos chiffres</h2>
        <div class="chiffres">
          <div class="chiffres-item">
            <p class="chiffre">80</p>
            <p class="desc-chiffre">Start-up nous<br>font confiance</p>
          </div>
          <div class="chiffres-item">
            <p class="chiffre">24<em>H</em></p>
            <p class="desc-chiffre">Pour vous faire<br>un retour</p>
          </div>
          <div class="chiffres-item">
            <p class="chiffre">75<em>%</em></p>
            <p class="desc-chiffre">de nos clients sont<br>d'anciens candidats</p>
          </div>
        </div>
      </div>
    </div>

    <div class="banniere-inscription hidden-xs">
      <p>"Soyez vous-même, les autres sont déjà pris" Oscar Wilde</p>
      <div class="btn-connexion">
        <%= link_to("S'inscrire", new_talent_registration_path)  %>
      </div>
      <div class="btn-connexion">
        <%= link_to("Se connecter", new_talent_session_path) %>
      </div>
    </div>

    <div class="fonctionnement">
      <h2>Notre fontionnement</h2>
      <div class="placement-card">
        <div class="card-fonctionnement">
          <p class="numero">01</p>
          <h5>Inscription</h5>
          <p class="desc-fonctionnement">Tu recherches ta prochaine aventure ? Inscris toi !</p>
        </div>
        <div class="card-fonctionnement">
          <p class="numero">02</p>
          <h5>Sélection</h5>
          <p class="desc-fonctionnement">Pour te comprendre on veut te connaitre, parle-nous de toi! Une fois sélectionné, ton profil est visible auprès des plus belles startups.</p>
        </div>
        <div class="card-fonctionnement">
          <p class="numero">03</p>
          <h5>Rencontre</h5>
          <p class="desc-fonctionnement">Cette fois-ci, ce sont les startups qui demandent à échanger avec toi. Crée ta propre opportunité et décide qui rencontrer.</p>
        </div>
        <div class="card-fonctionnement">
          <p class="numero">04</p>
          <h5>Suivi</h5>
          <p class="desc-fonctionnement">Nous sommes concernés et impliqués dans ton parcours, et à tes côtés pour te conseiller.</p>
        </div>
      </div>
    </div>

    <div>
      <h2>Ils nous ont fait confiance</h2>
      <div class="ligne-client">
        <div class="bloc-client">
          <a class="client" href="https://www.agriconomie.com/" target="_blank">
            <%= image_tag "agriconomie-logo.jpg", class: "logo" %>
            <div class="clientmask">
              <p>“Fondée par deux fils et un petit-fils d’agriculteurs, Agriconomie a créé la première marketplace agricole mondiale.”</p>
            </div>
          </a>
        </div>
        <div class="bloc-client">
          <a class="client" href="https://www.backmarket.fr/" target="_blank">
            <%= image_tag "backmarket-logo.jpg", class: "logo" %>
            <div class="clientmask">
              <p>“Fort de plus de 150 000 clients dès 2016, Back Market s’inscrit déjà comme un acteur important du marché des produits reconditionnés.”</p>
            </div>
          </a>
        </div>
        <div class="bloc-client">
          <a class="client" href="https://www.doctolib.fr/" target="_blank">
            <%= image_tag "doctolib-logo.png", class: "logo" %>
            <div class="clientmask">
              <p>“En quelques années, Doctolib a révolutionné la prise de RDV médicaux en fournissant un service en ligne qui facilite la vie de millions de patients et de médecins.”</p>
            </div>
          </a>
        </div>
        <div class="bloc-client">
          <a class="client" href="https://www.idecsi.com/fr/" target="_blank">
            <%= image_tag "IDECSI-logo.jpg", class: "logo" %>
            <div class="clientmask">
              <p>“Auréolée du Label French Tech EIP, Idecsi protège vos données de façon intelligente et innovante.”</p>
            </div>
          </a>
        </div>
        <div class="bloc-client">
          <a class="client" href="https://www.intuit.com/" target="_blank">
            <%= image_tag "intuit-logo.png", class: "logo" %>
            <div class="clientmask">
              <p>“Grâce à son logiciel de comptabilité, Intuit facilite le quotidien de milliers d'entreprises et de particuliers.”</p>
            </div>
          </a>
        </div>
        <div class="bloc-client">
          <a class="client" href="https://www.lafourchette.com/" target="_blank">
            <%= image_tag "lafourchette-logo.jpg", class: "logo" %>
            <div class="clientmask">
              <p>“Plus de 40 000 restaurants, c’est ce qui fait de LaFourchette la première plateforme de réservation de restaurants en Europe.”</p>
            </div>
          </a>
        </div>
        <div class="bloc-client">
          <a class="client" href="https://www.manomano.fr/" target="_blank">
            <%= image_tag "manomano-logo.png", class: "logo" %>
            <div class="clientmask">
              <p>“ManoMano est devenue la première plateforme de bricolage et jardinage en Europe en moins de deux ans.”</p>
            </div>
          </a>
        </div>
        <div class="bloc-client">
          <a class="client" href="https://myelefant.com/" target="_blank">
            <%= image_tag "my-elefant-logo.png", class: "logo" %>
            <div class="clientmask">
              <p>“Spécialiste du marketing mobile par messaging! La solution MyElefant permet aux équipes marketing d’être 100% autonomes sur le design, l’envoi et l’analyse des campagnes de messaging mobile enrichi.”</p>
            </div>
          </a>
        </div>
        <div class="bloc-client">
          <a class="client" href="https://compte-nickel.fr/" target="_blank">
            <%= image_tag "NICKEL-logo.png", class: "logo" %>
            <div class="clientmask">
              <p>“Simple, efficace et peu coûteux, Compte Nickel a déjà séduit plus de 600 000 utilisateurs grâce à son service de compte sans banque qui s'ouvre en quelques minutes.”</p>
            </div>
          </a>
        </div>
        <div class="bloc-client">
          <a class="client" href="https://www.prestashop.com/fr" target="_blank">
            <%= image_tag "Prestashop-logo.png", class: "logo" %>
            <div class="clientmask">
              <p>“Prestashop est un éditeur de solutions e-commerce accompagnant les commerçants dans la création de leur boutique en ligne.”</p>
            </div>
          </a>
        </div>
        <div class="bloc-client">
          <a class="client" href="https://fr.eatwith.com/?c=EUR" target="_blank">
            <%= image_tag "vizeat_logo.png", class: "logo" %>
            <div class="clientmask">
              <p>“Plus de 20 000 hôtes qui accueillent chez eux des milliers de voyageurs à travers le monde, pour partager leurs passions communes pour la cuisine, l’art de vivre et les rencontres.”</p>
            </div>
          </a>
        </div>
        <div class="bloc-client">
          <a class="client" href="https://www.welcometothejungle.co/" target="_blank">
            <%= image_tag "wtj-logo.png", class: "logo" %>
            <div class="clientmask">
              <p>“Une équipe jeune et soudée qui a pour volonté d’offrir la meilleure expérience de recrutement, aussi bien pour les candidats, que pour les recruteurs !”</p>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="citations">
      <i class="fas fa-quote-left"></i>
      <div class="auteur-citation">
        <p class="nom">Patrick DUPONT</p>
        <p class="titre">Data scientist</p>
      </div>
      <p class="citation">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
    </div>

    <h3 class="vous-prenez-decision">IL NE TIENT QU’A VOUS DE PRENDRE LA DECISION</h3>
    <p class="text-vous-prenez-decision">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
    <div class="inscription-grid">
      <%= link_to new_headhunter_registration_path do  %>
        <div class="inscription-grid-item">
          <i class="fas fa-user"></i>
          <p>JE VEUX RECRUTER</p>
        </div>
      <% end %>
      <hr>
      <%= link_to new_talent_registration_path do  %>
        <div class="inscription-grid-item">
          <i class="fas fa-rocket"></i>
          <p>JE VEUX ETRE EMBAUCHÉ</p>
        </div>
      <% end %>
    </div>

  </div>


</div>



<%= render "shared/footer" %>

