<%= render "shared/navbar" %>

<div class="forgot_password">

  <h2>Vous pouvez <strong>réinitialiser</strong> votre mot de passe</h2>

  <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <div class="forgot_password_grid">
      <div class="form-inputs">
    <%= f.input :password, label: "New password", required: true, autofocus: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
    <%= f.input :password_confirmation, label: "Confirm your new password", required: true %>
  </div>
      <%= f.button :submit, "Réinitialiser mon mot de passe", :class => "submit_forgot_password" %>
      <%= f.error_notification %>
      <%= f.input :reset_password_token, as: :hidden %>
      <%= f.full_error :reset_password_token %>

    </div>
  <% end %>

  <div class="forgot_password_links">
    <%= render "talents/shared/links" %>
  </div>

</div>

<%= render "shared/footer" %>
