
<!-- BODY MAIL BLOC -->
  <table style="border-radius: 2px;" align="center"; bgcolor="#F5F7FA" border="0" cellpadding="0" cellspacing="0">
  <tbody>
<!-- Espace début de la ligne -->
    <tr>
      <td height="50" style="font-size: 50px; line-height: 50px;"> &nbsp; </td>
    </tr>
    <tr>
      <td>
        <table  align="center" width="590" border="0" cellpadding="0" cellspacing="0">
<!-- Bonjour Talent -->
          <tr>
            <td align="left" style="padding:0px 40px 0px 40px; font-family: Avenir, sans-serifs; text-align: left; font-size: 24px; color: #191B26; mso-line-height-rule: exactly; line-height: 30px; font-weight: bolder;">
              Hello <%= @headhunter.firstname %>, <br>
            </td>
          </tr>
<!-- Desciption du mail -->
          <tr>
            <td height="30" style="font-size: 30px; line-height: 30px;"> &nbsp; </td>
          </tr>
          <tr>
            <td align="left" style="padding:0px 40px 0px 40px; font-family: Avenir, sans-serifs; font-weight: normal; text-align: left; font-size: 14px; color: #191B26; mso-line-height-rule: exactly; line-height: 22px;">
            Je te propose d’aller jeter un coup d’œil sur le profil de <%= @status == "Accepter" ? @talent.firstname : "ce talent" %> avec qui tu es entré en contact récemment, en effet l’équipe Talentist considère que ce profil pourrait t'intéresser.
            <br>Plein d’autres Talents t’attendent aussi sur la plateforme, alors n’hésite pas à consulter régulièrement le Répertoire !
            </td>
          </tr>
<!-- Espace fin de la ligne -->
          <tr>
            <td height="40" style="font-size: 40px; line-height: 40px;"> &nbsp; </td>
          </tr>
<!-- Bouton Voir et répondre -->
          <tr>
            <td align="center">
            <table align="center" width="270" cellspacing="0" cellpadding="0">
              <tbody>
                <td height="40" align="center" bgcolor="#4ECCA3" style="border-radius: 2px; text-align: center;" valign="middle">
                  <% if @status == "Accepter" %>
                    <%= link_to talent_url(@talent), { :style => "font-size: 14px; font-weight: normal; font-family: Avenir, sans-serifs; color: #fff; font-weight: bold; text-align: center; text-decoration: none; line-height: 40px; display: block; height: 40px;", :target => "_blank"} do %>
                      <p style="margin:0"> Accéder au profil de <%= @talent.firstname %> </p>
                    <% end %>
                  <% else %>
                    <a href="/repertoire?talent=<%= @talent.id %>" style="font-size: 14px; font-weight: normal; font-family: Avenir, sans-serifs; color: #fff; font-weight: bold; text-align: center; text-decoration: none; line-height: 40px; display: block; height: 40px;" target="_blank" >
                      <p style="margin:0"> Accéder aux détails de ce talent </p>
                    </a>
                  <% end %>


                </td>
              </tbody>
            </table>
            </td>
          </tr>
<!-- Desciption du mail -->
          <tr>
            <td height="40" style="font-size: 40px; line-height: 40px;"> &nbsp; </td>
          </tr>
          <tr>
            <td align="left" style="padding:0px 40px 0px 40px; font-family: Avenir, sans-serifs; font-weight: normal; text-align: left; font-size: 14px; color: #191B26; mso-line-height-rule: exactly; line-height: 22px;"><em>À très bientôt,<br>L'équipe de The Talentist</em></td>
          </tr>
<!-- Espace entre les lignes -->
          <tr>
            <td height="50" style="font-size: 50px; line-height: 50px;"> &nbsp; </td>
          </tr>

        </table>
      </td>
    </tr>
  </tbody>
  </table>



