<div class="form-container">

  <h2 class="form-titre-page" style="margin-top: 100px;"><i class="fas fa-briefcase"></i> Renseigner <strong>votre entreprise</strong> ?</h2>

  <%= simple_form_for @startup, url: wizard_path, method: :put do |f| %>

    <div class="blue-background">
      <div class="row">
        <p class="label-edit text-align-right text-align-left-xs no-padding margin-right-15 line-height-center no-margin col-lg-2 col-xs-12">Raison sociale</p>
        <div class="col-lg-3 col-xs-12 margin-right-15 no-margin-xs no-padding">
          <%= f.input :name, required: true, label: false, input_html: { style: "width: 100%", value: params[:query] } %>
        </div>
        <label class="label-edit text-align-right text-align-left-xs no-padding margin-right-15 line-height-center col-lg-2 col-xs-12 margin-top-15-xs">Création</label>
        <div class="col-lg-3 col-xs-12 no-padding">
          <%= f.input :year_of_creation, collection: (1960..Date.current.year).to_a.reverse, prompt: "année de création", label: false, input_html: { style: "width: 100%" }  %>
        </div>
      </div>
      <div class="row margin-top-15">
        <p class="label-edit text-align-right text-align-left-xs no-padding margin-right-15 line-height-center no-margin col-lg-2 col-xs-12">Rapide descriptif</p>
        <div class="col-lg-3 col-xs-12 margin-right-15 no-margin-xs no-padding">
          <%= f.input :short_resume, label: false, :input_html => { style: "width: 100%", class: "limited-character" }, maxlength: 50 %>
        </div>
      </div>
    </div>

    <div class="blue-background margin-top-background">
      <div class="row">
        <p class="label-edit text-align-right text-align-left-xs no-padding margin-right-15 line-height-center no-margin col-lg-2 col-xs-12">Collaborateurs</p>
        <div class="col-lg-3 col-xs-12 margin-right-15 no-margin-xs no-padding">
          <%= f.input :collaborators, label: false, input_html: { style: "width: 100%", min: "0", max: "1000000000", class: "sup-zero" } %>
        </div>
        <label class="label-edit text-align-right text-align-left-xs no-padding margin-right-15 line-height-center col-lg-2 col-xs-12 margin-top-15-xs">Moyenne d'âge</label>
        <div class="col-lg-3 col-xs-12 no-padding">
          <%= f.input :average_age, label: false, input_html: { style: "width: 100%", min: "0", max:"100", class: "sup-zero" } %>
        </div>
      </div>
      <div class="row margin-top-15">
        <p class="label-edit text-align-right text-align-left-xs no-padding margin-right-15 line-height-center no-margin col-lg-2 col-xs-12">Adresse</p>
        <div class="col-lg-3 col-xs-12 margin-right-15 no-margin-xs no-padding">
          <%= f.input :address, placeholder: '16 villa gaudelet 75011 paris', :input_html => { :id => "startup_address" }, label: false, input_html: { style: "width: 100%" }%>
        </div>
        <label class="label-edit text-align-right text-align-left-xs no-padding margin-right-15 line-height-center col-lg-2 col-xs-12 requis margin-top-15-xs">Site internet</label>
        <div class="col-lg-3 col-xs-12 no-padding">
          <%= f.input :link, label: false, input_html: { style: "width: 100%" } %>
        </div>
      </div>
      <div class="row margin-top-15">
        <p class="label-edit text-align-right text-align-left-xs no-padding margin-right-15 line-height-center no-margin col-lg-2 col-xs-12">Domaine d'activité</p>
        <div class="col-lg-3 col-xs-12 margin-right-15 margin-bottom-15-xs no-margin-xs no-padding">
          <%= f.input :sector_ids, collection: Sector.all, label: false, :input_html => { style: "width: 100%" } %>
        </div>
        <p class="label-edit text-align-right text-align-left-xs no-padding margin-right-15 line-height-center no-margin col-lg-2 col-xs-2">BTOC</p>
        <div class="col-lg-1 col-xs-2 margin-right-15 no-padding">
          <%= f.input :btoc, label: false %>
        </div>
        <p class="label-edit text-align-right text-align-left-xs no-padding margin-right-15 line-height-center no-margin col-lg-1 col-xs-2">BTOB</p>
        <div class="col-lg-1 col-xs-2 margin-right-15 no-margin-xs no-padding">
          <%= f.input :btob, label: false %>
        </div>
      </div>
    </div>

    <div class="blue-background margin-top-background">
      <div class="row">
        <p class="label-edit text-align-right text-align-left-xs no-padding margin-right-15 line-height-center no-margin col-lg-2 col-xs-12">Ce qui vous définit</p>
        <div class="col-lg-9 col-xs-12 margin-right-15 no-margin-xs no-padding">
          <%= f.input :word_ids, collection: Word.all, input_html: { :class => "selectAndCreate", multiple: "multiple", style: "width: 100%"}, include_blank: true, label: false %>
        </div>
      </div>
      <div class="row margin-top-15">
        <label class="label-edit text-align-right text-align-left-xs no-padding margin-right-15 line-height-center col-lg-2 col-xs-12 margin-top-15-xs">Description</label>
        <div class="col-lg-9 col-xs-12 no-padding">
          <%= f.input :overview, placeholder: 'Ici, pas de limite de caractères', label: false, input_html: { style: "width: 100%", rows: 3 }  %>
        </div>
      </div>
      <div class="row margin-top-15">
        <p class="label-edit text-align-right text-align-left-xs no-padding margin-right-15 line-height-center no-margin col-lg-2 col-xs-12">Pourquoi nous rejoindre</p>
        <div class="col-lg-9 col-xs-12 margin-right-15 no-margin-xs no-padding">
          <%= f.input :mission, as: :text, label: false, :input_html => { style: "width: 100%", rows: 3 } %>
        </div>
      </div>
    </div>

    <div class="blue-background margin-top-background">
      <div class="row">
        <p class="label-edit text-align-right text-align-left-xs no-padding margin-right-15 line-height-center no-margin col-lg-2 col-xs-12">Linkedin</p>
        <div class="col-lg-3 col-xs-12 margin-right-15 no-margin-xs no-padding">
          <%= f.input :linkedin, label: false, :input_html => { style: "width: 100%" } %>
        </div>
      </div>
    </div>

    <div class="form-actions">
      <%= link_to "Précedent", previous_wizard_path, class: "b-btn-link form-btn form-btn-precedent" %>
      <%= f.submit "Créer", class: "b-btn form-btn form-btn-suivant" %>
    </div>
  <% end %>

</div>



