<div class="form-container simple-new-talent" data-page="1" id="new-talent">

  <%= render 'shared/formprogression' %>
  <h2 class="form-titre-page"><i class="far fa-id-badge"></i> Qui se cache derrière <strong>ce Talent</strong> ?</h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <div class="margin-auto-new-talent">
      <!-- <#%= f.error_notification %> -->
      <div class="linkedin-btn blue-background center-text">
        <%= link_to talent_linkedin_omniauth_authorize_path, :class => "button-linkedin" do %>
          <p class="no-margin"><i class="fab fa-linkedin"></i> Connect with Linkedin</p>
        <% end %>
      </div>
      <div class="blue-background margin-top-60">
        <div class="row">
          <label class="col-lg-2 label-edit text-align-right line-height-center requis no-margin no-padding-xs" for="talent_firstname">Civilité</label>
          <div class="col-lg-3 col-xs-12 no-padding margin-right-15 no-margin-xs margin-bottom-15-xs">
            <%= f.input :firstname, required: true, autofocus: false, placeholder: "Prénom", label: false, :input_html => { style: "width: 100%"}, error: f.object.errors.messages[:firstname][0] %>
          </div>
          <div class="col-lg-3 col-xs-12 no-padding no-margin-xs margin-bottom-15-xs">
            <%= f.input :name, required: true, autofocus: false, placeholder: "Nom", label: false, :input_html => { style: "width: 100%"}, error: f.object.errors.messages[:name][0] %>
          </div>
        </div>
        <div class="row margin-top-15">
          <label class="col-lg-2 label-edit text-align-right line-height-center requis no-margin no-padding-xs" for="talent_email">Identifiants</label>
          <div class="col-lg-3 col-xs-12 margin-right-15 no-padding no-margin-xs margin-bottom-15-xs">
            <%= f.input :email, required: true, autofocus: false, placeholder: "exemple@gmail.com", label: false, :input_html => { style: "width: 100%" }, error: f.object.errors.messages[:email][1] %>
          </div>

          <div class="col-lg-3 col-xs-12 margin-right-15 no-padding no-margin-xs">
            <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), placeholder: "Mot de passe", :input_html => { id: "margin-bottom-mdp", style: "width: 100%" }, label: false, error: f.object.errors.messages[:password][1] %>
          </div>
          <div class="col-lg-3 col-xs-12 margin-right-15 no-padding no-margin-xs">
            <%= f.input :password_confirmation, required: true, placeholder: "Confirmation du mot de passe", label: false, :input_html => { :class => "no-margin-xs", style: "width: 100%" }, error: f.object.errors.messages[:password_confirmation][1] %>
          </div>

        </div>
        <div class="row margin-top-15">
          <label class="label-edit text-align-right line-height-center col-lg-2 requis no-padding-xs" for="talent_phone">Tel.</label>
          <div class="col-lg-3 col-xs-12 margin-right-15 no-padding no-margin-xs margin-bottom-15-xs">
            <%= f.input :phone, required: true, autofocus: false, placeholder: "06 01 02 03 05", label: false, :input_html => { style: "width: 100%" }, error: f.object.errors.messages[:phone][0] %>
          </div>
          <label class="label-edit text-align-right text-align-left-xs line-height-center col-lg-3 col-xs-2 no-padding margin-right-15 requis" for="talent_city">Code postal</label>
          <div class="col-lg-3 col-xs-12 no-padding margin-right-15 no-margin-xs">
            <%= f.input :zip_code, placeholder: '75007', :input_html => { :id => "", style: "width: 100%", type:"number"  }, label: false %>
            <%#= f.input :city, placeholder: 'Nantes, France', :input_html => { :id => "talent_city", style: "width: 100%" }, label: false, error: f.object.errors.messages[:city][0] %>
          </div>
        </div>
      </div>

      <div class="blue-background margin-top-60 row">
        <div class="row flex" id="talent_jobs">
          <%= f.simple_fields_for :talent_job do |u| %>
            <label class="label-edit text-align-right col-lg-2 col-xs-12 requis align-center" style="padding: 0 15px 0 0;">Mon&#8239;domaine&#8239;d'activité</label>
            <%= render 'talents/talent_job_fields', :u => u, f: f %>
          <% end %>
        </div>
        <div class="row margin-top-15">
          <label class="col-lg-2 col-xs-12 label-edit text-align-right text-align-left-xs line-height-center no-margin no-padding-xs requis">Linkedin</label>
          <div class="col-lg-3 col-xs-12 no-padding">
            <%= f.input :linkedin, required: true, autofocus: false, placeholder: "https://linkedin.com/demoi", label: false, :input_html => { style: "width: 100%" }, error: f.object.errors.messages[:linkedin][0] %>
          </div>
        </div>
      </div>
    </div>


    <div class="form-actions">
      <%= link_to 'Précédent', new_session_path(resource_name), { :class => "form-btn form-btn-precedent"} %>
      <%= f.button :submit, "Suivant", { :class => "form-btn form-btn-suivant"} %>
    </div>
  <% end %>
</div>


<script>
  function zeroInput(val, id){
    if (val < 0) {
      document.getElementById(id).value = 0
    }
  }
</script>
