<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 px-0 d-none d-sm-block no-padding">
      <%= link_to root_path, class: "navbar-talentist-logo" do %>
        <%= image_tag "Illustrations_site-31.png", class: "login-img" %>
      <% end %>
    </div>
    <div class="col-sm-6 login-section-wrapper scroll" style="height: 100vh">
      <div class="brand-wrapper">
        <a href="https://thetalentist.com/" target="_blank" class="navbar-talentist-logo">
          <%= image_tag "Logo The talentist-01.png", class: "logo" %>
        </a>
      </div>
      <div class="login-wrapper my-auto">
        <h1 class="login-title">Je crée mon compte <strong>talent</strong></h1>
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= f.error_notification %>
            <%= f.input :firstname, 
              required: true, 
              autofocus: false,
              label: "Prénom", 
              wrapper_html: { class: "col-md-6 margin-bottom-20" }, 
              error: f.object.errors.messages[:firstname][0] 
            %>

            <%= f.input :last_name, 
              required: true, 
              autofocus: false,
              label: "Nom", 
              wrapper_html: { class: "col-md-6 margin-bottom-20" }, 
              error: f.object.errors.messages[:last_name][0] 
            %>

            <%= f.input :email, 
              required: true, 
              autofocus: false,
              label: "Email", 
              wrapper_html: { class: "col-md-12 margin-bottom-20" }, 
              error: f.object.errors.messages[:email][1] 
            %>

            <%= f.input :password, 
              required: true, 
              hint: ("#{@minimum_password_length} caractères minimum" if @minimum_password_length),
              wrapper_html: { class: "col-md-6 margin-bottom-20" }, 
              label: "Mot de passe", 
              error: f.object.errors.messages[:password] 
            %>

            <%= f.input :password_confirmation, 
              required: true,
              label: "Confirmer le mot de passe", 
              wrapper_html: { class: "col-md-6 margin-bottom-20" }, 
              error: f.object.errors.messages[:password_confirmation][1] 
            %>

            <%= f.input :phone, 
              required: true,
              as: :tel,
              :pattern => "^(?:(?:\+|00)33|0)\s*[1-9](?:[\s.-]*\d{2}){4}$",
              label: "Numéro de téléphone", 
              wrapper_html: { class: "col-md-12 margin-bottom-20" }, 
              error: f.object.errors.messages[:phone][0] || "Le numéro de téléphone n'est pas correct"
            %>

            <%= f.input :terms_of_condition,
              required: true,
              wrapper_html: { class: "col-md-1 margin-bottom-20" },
              label: false
            %>
            <p class="col-md-11 margin-bottom-30">En vous inscrivant vous acceptez les <%= link_to "Conditions d'utilisations", cgu_talents_path, target: "_blank", style: "text-decoration:underline" %>  de The Talentist.</p>
            <%# et la <%= link_to "Politique de confidentialité", mentions_legales_path, target: "_blank", style: "text-decoration:underline" %>

            <div 
              class="g-recaptcha col-md-12 margin-bottom-30" 
              data-sitekey="6LeKpc0ZAAAAAPDoGzhwsghDv0uqXAGDLSWhRX68"
              hl="fr"
            ></div>

            <div class="col-md-12 flex">
              <%= f.button :submit, 
                "Commencer à compléter mon profil", 
                class: "btn-violet-square margin-right-30"
              %>
              <%= link_to 'Précédent', 
                new_session_path(resource_name), 
                class: "btn-violet-square-border" 
              %>
            </div>

        <% end %>
      </div>
    </div>
  </div>
</div>

 <script>
   function onSubmit(token) {
     document.getElementById("demo-form").submit();
   }
 </script>


