<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>The Talentist</title>
    <!-- <meta name="description" content="Vous cherchez de nouveau Talent pour votre entreprise ? The Talentist vous donne un accès total sur les meilleurs profils en vogues dans 4 secteurs."> -->

    <!-- facebook -->
 <!--    <meta property="og:title" content="The Talentist - Les meilleurs profils en vogues">
    <meta property="og:image" content="https://res.cloudinary.com/da4nnrzbu/image/upload/v1542619544/46519567_509488812890886_4973431962510295040_n.jpg">
    <meta property="og:description" content="Vous cherchez de nouveau Talent pour votre entreprise ? The Talentist vous donne un accès total sur les meilleurs profils en vogues dans 4 secteurs.">
    <meta property="og:site_name" content="The Talentist"/>


    <meta name="twitter:card" content="https://res.cloudinary.com/da4nnrzbu/image/upload/v1542619544/46519567_509488812890886_4973431962510295040_n.jpg">
    <meta name="twitter:site" content="@thetalentist">
    <meta name="twitter:title" content="The Talentist - Les meilleurs profils en vogues">
    <meta name="twitter:description" content="Vous cherchez de nouveau Talent pour votre entreprise ? The Talentist vous donne un accès total sur les meilleurs profils en vogues dans 4 secteurs.">
    <meta name="twitter:creator" content="@thetalentist">
    <meta name="twitter:image:src" content="https://res.cloudinary.com/da4nnrzbu/image/upload/v1542619544/46519567_509488812890886_4973431962510295040_n.jpg"> -->


    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', type: "text/css" %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->

    <%= stylesheet_pack_tag 'application' %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-127063612-1"></script>
    <script type="text/javascript">
    var ga_fired = false;
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-127063612-1', 'auto');
        ga('set', 'anonymizeIp', true);
        ga('send', 'pageview');
        ga_fired = true;
    </script>
  </head>
  <body>
    <div id="navbar">
      <%= render "shared/navbar" %>
    </div>
      <%= yield %>
    <%= render "shared/footer" %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_include_tag "https://maps.google.com/maps/api/js?libraries=places&key=#{ENV['GOOGLE_API_BROWSER_KEY']}" %>
    <%= javascript_pack_tag "map" %>
  </body>
</html>




