<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <!-- LOGO TALENTIST (GRAND) BLOC -->
    <table align="center"; bgcolor="#fff" width="80%" border="0" cellpadding="0" cellspacing="0">
      <tbody>
    <!-- Espace début de la lignes -->
        <tr>
          <td height="50" style="font-size: 50px; line-height: 50px;"> &nbsp; </td>
        </tr>
        <tr>
          <td>
            <table  align="center" width="590" border="0" cellpadding="0" cellspacing="0">
    <!-- Logo -->
              <tr>
                <td style="text-align: center;">
                  <%= link_to root_url do %>
                     <%= image_tag "Logo The talentist-01.png", class: "new-landing-logo-talentist", style:'width:350px; border:0;' %>
                  <% end %>
                </td>
              </tr>
    <!-- Espace fin de la ligne -->
              <tr>
                <td height="25" style="font-size: 25px; line-height: 25px;"> &nbsp; </td>
              </tr>
            </table>
          </td>
        </tr>
      </tbody>
    </table>

    <%= yield %>

<!-- FOOTER BLOC -->
    <table align="center"; bgcolor="#fff" width="80%" border="0" cellpadding="0" cellspacing="0">
      <tbody>
        <tr>
          <td>
            <table  align="center" width="590" border="0" cellpadding="0" cellspacing="0">
    <!-- Espace début de la ligne -->
              <tr>
                <td height="20" style="font-size: 20px; line-height: 20px;"> &nbsp; </td>
              </tr>
    <!-- Mentions légale 01 -->
              <tr>
                <td align="center" style="font-family: Avenir, sans-serifs; font-weight: lighter; text-align: center; font-size: 10px; color: #191B26; mso-line-height-rule: exactly; line-height: 24px;">
                  Ce message a été envoyé à
                  <a href="mailto:erwan.guillou@gmail.com" style="font-size: 10px; font-weight: bold; font-family: Avenir, sans-serifs; color: #191B26; text-align: center; text-decoration: none; mso-line-height-rule: exactly; line-height: 24px;">
                          bienvenue@thetalentist.com
                  </a>
                </td>
              </tr>
    <!-- Espace début de la ligne -->
              <tr>
                <td height="2" style="font-size: 2px; line-height: 2px;"> &nbsp; </td>
              </tr>
    <!-- Mentions légale 02 -->
              <tr>
                <td align="center" style="font-family: Avenir, sans-serifs; font-weight: lighter; text-align: center; font-size: 10px; color: #191B26; mso-line-height-rule: exactly; line-height: 14px;">
                  Ineva Partners, 9 rue Saint Fiacre, 75002 Paris, France
                </td>
              </tr>
    <!-- Espace début de la ligne -->
              <tr>
                <td height="25" style="font-size: 25px; line-height: 25px;"> &nbsp; </td>
              </tr>
    <!-- Mentions légale 03 -->
              <tr>
                <td align="center" style="font-family: Avenir, sans-serifs; font-weight: bolder; text-align: center; font-size: 10px; color: #191B26; mso-line-height-rule: exactly; line-height: 14px;">
                  <a href="google.com" style="color: #191B26; text-align: center; text-decoration: none;">
                          Conditions d'utilisation
                  </a>  |
                  <a href="google.com" style="color: #191B26; text-align: center; text-decoration: none;">
                          Mentions légales
                  </a>  |
                  <a href="google.com" style="color: #191B26; text-align: center; text-decoration: none;">
                          Nous contacter
                  </a>
                </td>
              </tr>
    <!-- Espace fin de la ligne -->
              <tr>
                <td height="30" style="font-size: 30px; line-height: 30px;"> &nbsp; </td>
              </tr>
    <!-- Logo footer -->
              <tr>
                <td style="text-align: center;">
                  <%= link_to root_url do %>
                    <%= image_tag "logoT.png", class: "new-landing-logo-talentist", style:'width:30px; border:0;' %>
                  <% end %>
                </td>
              </tr>
    <!-- Espace fin de la ligne -->
              <tr>
                <td height="50" style="font-size: 50px; line-height: 50px;"> &nbsp; </td>
              </tr>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
